

<div class="col-xs-2 no-padding" style="float: right">
    <label for="recordcount" class="no-padding-right no-padding-left  font-weight-500 " style="float:left">@MvcHtmlString.Create("Số kết quả trên trang")</label>
    <div class="col-xs-12 col-sm-4 no-padding-right">
        <span class="block input-icon input-icon-right">
            <select id="recordcount" name="recordcount" onchange="Search()" class="col-xs-12 recordcount no-padding">
                @{
                    var recordcount = Request["recordcount"] == null ? "" : Request["recordcount"].ToString();
                }
                <option value="10" @(recordcount == "10" ? "selected" : "")>10</option>
                <option value="50" @(recordcount == "50" ? "selected" : "")>50</option>
                <option value="100" @(recordcount == "100" ? "selected" : "")>100</option>
                <option value="500" @(recordcount == "500" ? "selected" : "")>500</option>
                <option value="1000" @(recordcount == "1000" ? "selected" : "")>1,000</option>
                <option value="5000" @(recordcount == "5000" ? "selected" : "")>5,000</option>
                <option value="10000" @(recordcount == "10000" ? "selected" : "")>10,000</option>
                <option value="50000" @(recordcount == "50000" ? "selected" : "")>50,000</option>
            </select>
        </span>
    </div>
</div>



