@model List<InvF_InventoryInQR>
@{
    var iF_InvInStatus = CUtils.StrValue(ViewBag.IF_InvInStatus);

    var strDisplay = "";
    if (!string.IsNullOrEmpty(iF_InvInStatus) && iF_InvInStatus != "PENDING")
    {
        strDisplay = "display:none";
    }
 }

<div class="panel-body row no-margin no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
    <div class="col-12 padding-left-0 padding-right-0 div-scrollable" style="padding-top: 0!important;">
        <div style="width: 100%; float: left;">
            <div class="margin-bottom-9" style="width: 60%; margin-top: 9px">
                <form autocomplete="off">
                    <div class="autocomplete row col-10" style="@strDisplay">
                        @*<label class="control-label" style="margin-right: 20px;">
                                @("Hàng hóa".HtmlItemString("productcode_inventoryout"))
                            </label>
                            <input class="col-8" id="QRNoSearch" type="text" name="QRNoSearch" onchange="AddRowQRCodeByProductCode(this, '#rowtemplateQR', '#table-tbodyIDXacThuc', '@Url.Action("GetInfoInventoryOutQR", "ModalCommon")');" placeholder="@("Quét mã xác thực hoặc nhập mã, tên để tìm kiếm".HtmlItemString("invf_inventoryin"))">
                            <a href="javascript:void(0);" class="btn btn-nc-button" style="margin-left: 10px" id="btnScanXacThuc" onclick="StartScanXacThuc()">@("Quét".HtmlItemString("invf_inventoryin"))</a>*@
                        <span class="block input-icon input-icon-right col-6">
                            <select id="ProductCodeQR" name="ProductCodeQR" class="col-6" onchange="ChangeProductCodeQR(this)">
                                
                            </select>
                        </span>
                    </div>
                </form>
            </div>
            @Html.Partial("lstHangHoaXacThuc", Model, new ViewDataDictionary() { { "IF_InvInStatus", iF_InvInStatus } })
        </div>
    </div>
</div>
