<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/font-awesome/4.5.0/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/js/jquery-ui.min.css")" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/jquery-ui.custom.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/chosen.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap-datepicker3.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap-timepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/daterangepicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/bootstrap-datetimepicker.min.css")" />

    <!-- text fonts -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/fonts.googleapis.com.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/ie-emulation-modes-warning.js")"></script>
    <!-- ace styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace.min.css")" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-part2.min.css")" />
    <![endif]-->
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-rtl.min.css")" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="@Url.Content("~/Content/assets/css/ace-ie.min.css")" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="@Url.Content("~/Content/bxslider/jquery.bxslider.css")" />


    @* Pivot table css *@
    <link href="~/Content/Pivot/Css/jquery-ui.css" rel="stylesheet" />

    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />
    <!-- ace settings handler -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/ace-extra.min.js")"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/html5shiv.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/respond.min.js")"></script>
    <![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery-2.1.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/tableHeadFixer.js")"></script>
    <script type="text/javascript">
            window.jQuery || document.write("<script src='@Url.Content("~/Content/assets/js/jquery-2.1.4.min.js")'>" + "<" + "/script>");
    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-ui.min.js")"></script>
    <!-- basic scripts -->
    <script type="text/javascript">
            if ('ontouchstart' in document.documentElement) document.write("<script src='@Url.Content("~/Content/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
    </script>
    <!--[if IE]>
       <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery-1.11.3.min.js")"></script>
    <![endif]-->
    @*Script*@
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery.dataTables.bootstrap.min.js")"></script>



    <!--[if lte IE 8]>
      <script type="text/javascript" src="@Url.Content("~/Content/assets/js/excanvas.min.js")"></script>
    <![endif]-->
    <!-- page specific plugin scripts -->
    @*Datepicker - DateTimepicker*@
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery-ui.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/jquery.ui.touch-punch.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/chosen.jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/spinbox.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/bootstrap-datepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/bootstrap-timepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/moment.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/daterangepicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/bootstrap-datetimepicker.min.js")"></script>
    <!---->
    <script src="@Url.Content("~/Content/assets/js/jquery.inputlimiter.min.js")"></script>
    <!-- ace scripts -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/ace-elements.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/ace.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/js/bootbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.number.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.bxslider.min.js")"></script>
    @*Show Error using jquery-ui.min.css, ace.min.css, jquery-ui.min.js, jquery.validate.min.js, jquery.form-2.68.js, ajaxform.js*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.form-2.68.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery.table.hpaging.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/ajaxform.js")"></script>
    @*End Show Error*@
    @Html.Partial("_loading")
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/CustomDataTable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/jquery-library-1.0.7.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/CheckForm.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/CommonExcel.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/CommonUtils.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/mine/KeepAlive.js")"></script>
    @* Định dạng date *@
    <script src="~/Content/assets/js/cleave.min.js"></script>
    @* Ckfinder - Ckeditor *@
    <script src="@Url.Content("~/Content/plugin/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Content/plugin/ckfinder/ckfinder.js")"></script>
</head>
<body>

    @Html.Partial("Navbar")


    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar');
            } catch (e) { }
        </script>

        <ul class="nav nav-list">
            @{
                /**/

                // Menu:
            }
            @if (CheckAccess("MENU_ROOT"))
            {

                if (CheckAccess("MENU_IN_TEM"))
                {
                    <li class="">
                        <a href="javascrip:void();" class="dropdown-toggle">
                            <img class="img-responsive img-inactive" src="~/Images/quanlytem.click.svg" />
                            <span class="menu-text">
                                Quản lý tem
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            @RenderSubMenuItem("MENU_QL_MAU_TEM", "Quản lý mẫu tem", "Index", "Temp_PrintTemp")
                            @RenderSubMenuItem("MENU_QL_CAP_SO_IN_TEM", "Quản lý cấp số in tem", "Index", "Inv_InventorySecret")
                            @RenderSubMenuItem("MENU_QL_MA_HOP", "Quản lý mã hộp ", "Index", "Inv_InventoryBox")
                            @RenderSubMenuItem("MENU_QL_BTN_QL_MA_THUNG", "Quản lý mã thùng ", "Index", "Inv_InventoryCarton")
                        </ul>
                    </li>
                }

            }


        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>


    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content no-padding">
                @RenderBody()

            </div><!-- /.page-content -->
        </div>

    </div><!-- /.main-content -->

    <div class="modal" role="dialog" id="modal_ChangePassword">
        @Html.Partial("ChangePassword")
    </div>
    <div class="modal fade" id="Contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 45%; margin-top: 80px !important">
            <div class="modal-content" style="height:200px">
                <div class="modal-header col-xs-12 col-md-12">
                    @*<a href="javascript:void();" onclick="CloseModalImportExcel()" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>*@
                    <h3 class="modal-title" id="exampleModalLabel">GIẢI PHÁP INBRAND</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 col-xs-12 pc">
                        <div class="col-xs-12 col-md-12">
                            <span>Cung cấp bởi: <strong> CÔNG TY CỔ PHẦN QUỐC TẾ LONG QUANG</strong></span>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <span><img class="img_" src="~/Images/address.svg" alt="Map"> Tầng 19, 27 Huỳnh Thúc Kháng, P.Láng Hạ, Q.Đống Đa, TP.Hà Nội</span><br>
                        </div>
                        <div class="col-md-6">
                            <span><img class="img_" src="~/Images/support.svg" alt="Contact Center"> Contact Center: 024 7306 8889</span>
                        </div>
                        <div class="col-md-6">
                            <span><img class="img_" src="~/Images/hotline.svg" alt="hotline">    Hotline: 0962 46 44 66</span><br>
                        </div>
                        <div class="col-md-6">
                            <span><img class="img_" src="~/Images/email.svg" alt="email"> inbrand@inos.vn   </span>
                        </div>
                        <div class="col-md-6">
                            <span><img class="img_" src="~/Images/website.svg" alt="website">     www.inbrand.vn</span><br>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if (CheckElementExists('#Profile')) {
                $('#Profile').unbind('click').bind('click', function () {
                    $('#modal_ChangePassword').modal({
                        backdrop: false,
                        keyboard: true
                    });
                });
            }
        });

        function ClosePopupModelChangePassword() {
            if (CheckElementExists('#passold')) {
                $('#passold').val('');
            }
            if (CheckElementExists('#passnew')) {
                $('#passnew').val('');
            }
            if (CheckElementExists('#confpass')) {
                $('#confpass').val('');
            }
            $('#modal_ChangePassword').modal("hide");
            //$('#modal_ChangePassword').html('');
        }

    </script>
    @*@Html.Partial("Footer")*@

    <script src="@Url.Content("~/Scripts/js/ie10-viewport-bug-workaround.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CustomSelect.js")"></script>
    @*Chèn Scripts tại trang con nếu cần*@
    @RenderSection("Scripts", required: false)
    @*lan 2019_04-13*@
    <script>
        function escapeHtml(text) {
            return text
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }

        function SelectBackground() {
            $('#fileImageBackGround').click();
        }

        function SelectLogo() {
            $('#fileImage').click();
        }
    </script>

    @{
        var isoverflowx = ViewBag.OverflowX;
    }
    @if (isoverflowx != true)
    {
        <script>
            function putdatasize() {
                //debugger
                var bodyh = $('body').height();
                var screenh = screen.height;

                var width = $('.title').width();

                //var width = 1325;
                $('.scrollable-horizontal').attr('data-size', width);
            }

            putdatasize();

        </script>
    }

    <!--Start of icic script-->
    <script type='text/javascript'>
        var icic_api = icic_api || {};
        (function () {
            var s1 = document.createElement('script'), s0 = document.getElementsByTagName('script')[0];
            s1.async = true;
            s1.src = 'https://skycic.com/client/script/3273767000/a05c6d';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of icic script-->
</body>
</html>
