@{

}
<nav class="main-header navbar navbar-expand navbar-light color-header" style="max-height: 50px;position: fixed; width: 100%">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" style="padding: 3px 14px;"><i class="fas fa-bars"></i></a>
        </li>
    </ul>
    <!--Logo-->
    <a href="@Url.Action("Index","Dashboard")">
        <div class="navbar-brand no-padding">
            <img style="height: 28px;margin-top:8px;margin-left:10px" src="/images/logo.white.svg" alt="Logo">
        </div>
    </a>
    <!-- Right navbar links -->
    <div class="collapse navbar-collapse right-navbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="">
                @RenderSubMenuItemNoIcon("MENU_IN_TEM", "IN TEM", "Index", "Temp_PrintTemp")
            </li>

            <li class="">
                @RenderSubMenuItemNoIcon("MENU_KHO", "KHO", "Index", "Mst_Inventory")
            </li>

            <li class="">
                @RenderSubMenuItemNoIcon("MENU_BAO_CAO", "BÁO CÁO", "RptInvF_InventoryInFGSum", "Reports")
            </li>

            <li class="">
                @RenderSubMenuItemNoIcon("MENU_QUAN_TRI", "QUẢN TRỊ", "Index", "Mst_Part")
            </li>

            <li class="">
                @RenderSubMenuItemNoIcon("MENU_MUA_LICENSE", "LICENSE", "Index", "License")
            </li>

            <li>
                <a href="" class="">HƯỚNG DẪN</a>
            </li>
            <li class="dropdown">
                <a href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-th"></i>
                </a>
                <div class="dropdown-menu pull-right redirectweb" style="width: 300px">
                    <div class="row no-margin" style="text-align: center">
                        <a href="#" class="col-xs-4" target="_blank">
                            <img class="img-responsive" src="/images/htcmember.png">
                            QInvoice
                        </a>
                        <a href="#" class="col-xs-4" target="_blank">
                            <img class="img-responsive" src="/images/htcmember.png">
                            HTC Loyalty
                        </a>
                        <a href="#" class="col-xs-4" target="_blank">
                            <img class="img-responsive" src="/images/htcmember.png">
                            Inbrand
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown-modal">
                <a class="dropdown-toggle-notifi" href="javascript:;" data-toggle="dropdown" aria-expanded="false" style="font-size: 15px !important; position: relative">
                    <i class="ace-icon fa fa-bell"></i>
                    <span style="position: absolute; right: 3px" class="badge badge-important notification-cd">0</span>
                </a>
                <ul id="form-notify" class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" style="width: 400px;">
                    <li class="notifi-header">
                        <span>Thông báo</span>
                        <span><a href="#" onclick="Notification_All_Read();" style="float: right; padding: 0">Đánh dấu tất cả đã đọc</a></span>
                    </li>

                    <li class="row no-margin" style="">
                        <ul id="notification-list" class="row no-margin notifi-alert notifi-body" style="">
                            <li class="notify-box notifi-content read row no-margin" idx="10" style=""><a href="#" class="col-xs-10 no-padding"><p>Thông báo chỉ hiện pop-up hết ngày 03/02/2020</p><p>6 ngày trước</p></a><span class="col-xs-1 no-padding button-alert-notifi span-notification" style="" data-toggle="tooltip" title="" data-original-title="Đánh dấu chưa đọc"></span></li>
                            <li class="notify-box notifi-content read row no-margin" idx="11" style=""><a href="#" class="col-xs-10 no-padding"><p>Thông báo đến hết ngày 03/02/2020</p><p>6 ngày trước</p></a><span class="col-xs-1 no-padding button-alert-notifi span-notification" style="" data-toggle="tooltip" title="" data-original-title="Đánh dấu chưa đọc"></span></li>
                        </ul>
                    </li>

                    <li class="notifi-footer">
                        <span>
                            <a href="/3296932000/Notify_Notify">
                                Xem tất cả
                            </a>
                        </span>
                    </li>

                </ul>
            </li>
            <li>
                <b style="color: #fff; line-height: 28px;">|</b>
            </li>
            @*<li>
                <a href="javascript:;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    <i class="fas fa-user"></i>
                    Sysadmin
                </a>
                <ul class="dropdown-menu profile-home pull-right">
                    <li>
                        <a class="alink" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Thiết lập Tổ chức</a>
                    </li>
                    <li>
                        <form action="" id="logoutForm" method="post">
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="ace-icon fa fa-power-off"></i>&nbsp;
                                Đăng xuất
                            </a>
                        </form>
                    </li>
                </ul>
            </li>*@
            @if (Request.IsAuthenticated)
            {
                @*<li>
                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> @MvcHtmlString.Create(ViewBag.UserName)</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i> Thoát</a>
            </li>*@
                <li class="light-blue dropdown-modal">
                    @Html.Partial("_LoginPartial")
                </li>
            }
        </ul>
    </div>
    @*<ul class="navbar-nav ml-auto">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="@Url.Content("~/Content/lte/dist/img/user1-128x128.jpg")" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="@Url.Content("~/Content/lte/dist/img/user8-128x128.jpg")" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <!-- Message Start -->
                        <div class="media">
                            <img src="@Url.Content("~/Content/lte/dist/img/user3-128x128.jpg")" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                        <!-- Message End -->
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                </div>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>*@
</nav>
<!-- /.navbar -->
