
@{
    ViewBag.Title = "Tạo lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container" style="padding-top: 20px;">
    <div class="title">
        <p style="vertical-align: bottom">TẠO LẠI MẬT KHẨU</p>
    </div>
</div>
<div class="position-relative container" style="width: 600px; padding-bottom: 20px;">
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main no-padding">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "manageForm", @class = "form-horizontal", redirectUrl = ViewBag.RedirectUrl }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@ViewBag.RedirectUrl" />

                    <div class="modal-body no-padding" style="max-height: 800px">
                        <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                            <div class="header-left-bottom agileinfo">
                                <form action="#" method="post">
                                    <input type="text" value="Email *" name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email *';}" />
                                    <input type="text" value="Mã số thuế *" name="password" style="margin-bottom: 20px" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mã số thuế *';}" />
                                    <div class="col-xs-6">
                                        <a href="#" class="btn btn-forget" style="">Reset</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="@Url.Action("Login", "Account")" class="btn btn-2" style="background-color: #fff !important; color: #157EAE !important; border: 1px solid #157EAE !important">Login</a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }

            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.login-box -->
</div><!-- /.position-relative -->

<div class="container">
    <div class="sub-form row no-margin" style="padding-bottom: 45px">
        <div class="col-xs-3" style="text-align: center">
            <div class="row no-margin" style="border: 1px solid #ccc5c5; padding: 20px 0;">
                <div class="title-form">
                    <img src="@Url.Content("~/Images/DK_TVAN.png")" style="display: inline" />
                    <h4 style="display: inline">Đăng ký sử dụng dịch vụ TVAN</h4>
                </div>
                <div class="body-form">
                    <p>Đăng ký tài khoản mới</p>
                    <p>Kích hoạt tài khoản</p>
                </div>
                <div class="margintop20 link-form"><a href="#">Xem chi tiết</a></div>
            </div>
        </div>
        <!---->
        <div class="col-xs-3" style="text-align: center">
            <div class="row no-margin" style="border: 1px solid #ccc5c5; padding: 20px 0;">
                <div class="title-form">
                    <img src="@Url.Content("~/Images/TAO_TVAN.png")" style="display: inline" />
                    <h4 style="display: inline">Tạo các tờ khai</h4>
                </div>
                <div class="body-form">
                    <p>Tạo các tờ khai</p>
                    <p>&nbsp</p>
                </div>
                <div class="margintop20 link-form"><a href="#">Xem chi tiết</a></div>
            </div>
        </div>
        <!---->
        <div class="col-xs-3" style="text-align: center">
            <div class="row no-margin" style="border: 1px solid #ccc5c5; padding: 20px 0;">
                <div class="title-form">
                    <img src="@Url.Content("~/Images/UPLOAD_TVAN.png")" style="display: inline" />
                    <h4 style="display: inline">Upload & nộp tờ khai</h4>
                </div>
                <div class="body-form">
                    <p>Upload tờ khai dạng XML lên hệ thống</p>
                    <p></p>
                </div>
                <div class="margintop20 link-form"><a href="#">Xem chi tiết</a></div>
            </div>
        </div>
        <!---->
        <div class="col-xs-3" style="text-align: center">
            <div class="row no-margin" style="border: 1px solid #ccc5c5; padding: 20px 0;">
                <div class="title-form">
                    <img src="@Url.Content("~/Images/SEARCH_TVAN.png")" style="display: inline" />
                    <h4 style="display: inline">Tra cứu thông tin tờ khai</h4>
                </div>
                <div class="body-form">
                    <p>Tra cứu thông tin tờ khai</p>
                    <p></p>
                </div>
                <div class="margintop20 link-form"><a href="#">Xem chi tiết</a></div>
            </div>
        </div>
    </div>
    <div class="row no-margin-left-right">
        <div class="col-xs-9 list-new">
            <div class="title">
                <p style="vertical-align: bottom">TIN TỨC</p>
            </div>
            <div class="row no-margin-left-right">
                <div class="col-xs-4 no-padding">
                    <img class="img-responsive" src="@Url.Content("~/Images/ketoan.jpg")" />
                </div>
                <div class="col-xs-8 newdetail">
                    <a href="">
                        <div class="newstitle">
                            <h2>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h2>
                        </div>
                    </a>
                    <h3 class="datecount">06/12/2018 09:00:10</h3>
                    <h3>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h3>
                </div>
            </div>
            <div class="row no-margin-left-right">
                <div class="col-xs-4 no-padding">
                    <img class="img-responsive" src="@Url.Content("~/Images/ketoan.jpg")" />
                </div>
                <div class="col-xs-8 newdetail">
                    <a href="">
                        <div class="newstitle">
                            <h2>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h2>
                        </div>
                    </a>
                    <h3 class="datecount">06/12/2018 09:00:10</h3>
                    <h3>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h3>
                </div>
            </div>
            <div class="row no-margin-left-right">
                <div class="col-xs-4 no-padding">
                    <img class="img-responsive" src="@Url.Content("~/Images/ketoan.jpg")" />
                </div>
                <div class="col-xs-8 newdetail">
                    <a href="">
                        <div class="newstitle">
                            <h2>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h2>
                        </div>
                    </a>
                    <h3 class="datecount">06/12/2018 09:00:10</h3>
                    <h3>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h3>
                </div>
            </div>
            <div class="row no-margin-left-right">
                <div class="col-xs-4 no-padding">
                    <img class="img-responsive" src="@Url.Content("~/Images/ketoan.jpg")" />
                </div>
                <div class="col-xs-8 newdetail">
                    <a href="">
                        <div class="newstitle">
                            <h2>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h2>
                        </div>
                    </a>
                    <h3 class="datecount">06/12/2018 09:00:10</h3>
                    <h3>Kê khai qua mạng - Sự khác nhau giữa iHTKK và T-VAN</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-3 download">
            <div class="apps" style="margin-bottom: 20px">
                <div class="title">
                    <p style="vertical-align: bottom">TẢI PHẦN MỀM</p>
                </div>
                <div class="row no-margin">
                    <div class="row no-margin" style="padding: 15px; border: 1px solid #8FC4DB">
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>Công cụ ký số trực tuyến</p><br />
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>Phần mềm tạo tờ khai HILQ-TAX</p><br />
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>Ứng dụng đọc hồ sơ thuế XML - iTaxViewer</p><br />
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>Bộ cài đặt Teamviewer</p><br />
                    </div>
                </div>
            </div>
            <div class="docx">
                <div class="title">
                    <p style="vertical-align: bottom">TẢI TÀI LIỆU HỖ TRỢ</p>
                </div>
                <div class="row no-margin">
                    <div class="row no-margin" style="padding: 15px; border: 1px solid #8FC4DB">
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>HƯớng dẫn quy trình nghiệp vụ</p><br />
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>Hướng dẫn sử dụng chứng thư số</p><br />
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>Hướng dẫn cài đặt</p><br />
                        <img src="@Url.Content("~/Images/download.png")" style="" /><p>Dịch vụ chứng thư số</p><br />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

