@model List<Mst_CustomerSourceExt>
@{
    //Layout = null;
    var customerSourceCode = CUtils.StrValue(ViewBag.CustomerSourceCode);
}

<optgroup label="">
    <option value="">&nbsp;</option>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            var customerSourceCodeCur = CUtils.StrValue(item.CustomerSourceCode);
            //var customerSourceNameCur = CUtils.StrValue(item.CustomerSourceName);
            var customerSourceNameCur = item.HlevelTitle;
            if (CUtils.IsNullOrEmpty(customerSourceNameCur))
            {
                customerSourceNameCur = "";
            }
            var customerSourceLevelCur = CUtils.StrValue(item.CustomerSourceLevel);
            <option value="@MvcHtmlString.Create(customerSourceCodeCur)" customer-source-level="@MvcHtmlString.Create(customerSourceLevelCur)" desc="@MvcHtmlString.Create(customerSourceNameCur)" @(customerSourceCodeCur.Equals(customerSourceCode) ? "selected" : "")>@MvcHtmlString.Create(customerSourceNameCur)</option>
        }
    }
</optgroup>
<option value="ADDDATA">@("Thêm".HtmlItemString("product"))</option>
