@model PageInfo<Sys_User>
@{
    //Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    var title = "Quản lý người dùng";
    ViewBag.Title = title;
    var startCount = 0;
    var strStartCount = ViewBag.StartCount as string;
    var recordCount = CUtils.StrValue(ViewBag.RecordCount);
    if (!CUtils.IsNullOrEmpty(strStartCount))
    {
        startCount = Convert.ToInt32(strStartCount);
    }
    var init = CUtils.StrValue(ViewBag.init);
    var pageCur = CUtils.StrValue(ViewBag.PageCur);
    var pageCount = CUtils.StrValue(ViewBag.PageCount);
    var totalPage = "0";
    if (Model != null)
    {
        totalPage = CUtils.StrValue(Model.PageCount);
    }

    var showtext = "";
    if (Model.ItemCount > 0)
    {
        var recordstart = (Model.PageIndex) * Model.PageSize + 1;
        var recordend = (Model.PageIndex + 1) * Model.PageSize;
        if (recordend > Model.ItemCount)
        {
            recordend = Model.ItemCount;
        }
        showtext = recordstart + "-" + recordend + " trong số " + Model.ItemCount;
    }
    var userState = ViewBag.UserState as UserState;
    var viewid = string.Format("{0}_{1}_{2}_{3}", CUtils.StrValue(userState.SysUser.UserCode), CUtils.StrValue(ViewBag.SolutionCodeSignature), CUtils.StrValue(userState.Mst_NNT.OrgID), "Sys_User_Mng");

}
<div class="">
    <div class="row no-margin">
        <div class="col-12">
            <aside class="col-12 no-padding layout-tk">
                @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "manageForm", @class = "form-horizontal" }))
                {
                    <input type="hidden" id="viewid" name="viewid" value="@MvcHtmlString.Create(viewid)" />
                    <input type="hidden" value="search" name="init" id="init" />
                    <div class="layout-bot-top-16 layout-search">
                        <div class="form-group margin-bottom-9">
                            <label for="" class="control-label no-padding-right font-weight-500" style="float: left">Tên người dùng</label>
                            <div class="col-12 col-sm-3">
                                <input type="text" id="username" name="username" class="col-12" value="@MvcHtmlString.Create(ViewBag.MyUserName)" autocomplete="off" placeholder="Nhập vào tên, email, điện thoại để tìm kiếm">
                            </div>
                            <div class="col-12 col-sm-1 button-tk no-padding">
                                <div class="col-11" style="padding: 0">
                                    <span class="block input-icon input-icon-right" style="">

                                        @RenderItemFormat("BTN_QL_NGUOI_DUNG_TIM_KIEM", "<a class=\"btn btn-nc-button\" onclick=\"SearchData()\" href=\"javascript: void(0);\"><img class=\"img-button\" src=" + @Url.Content("~/Images/search.svg") + "></a>", "", "")
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-bot-top-16">
                        <div class="row">
                            <div class="col-6">
                                @RenderItemFormat("BTN_QL_NGUOI_DUNG_TAO", "<a class=\"btn btn-nc-button\" href=\'" + @Url.Action("Create", "Sys_User") + "\' style=\"font-size: 13px;\" title=\"Tạo mới\"><i class=\"fa fa-plus-circle\" aria-hidden=\"true\"></i> Tạo</a>", "", "")
                                <a class="btn font-color mybtn-Button" data-toggle="dropdown" aria-expanded="false" style="font-size: 13px;position: relative;"><i class="fas fa-ellipsis-h"></i></a>
                                <ul class="dropdown-menu dropdown-action" role="menu" style="">
                                    <li style="padding: 10px 5px">
                                        @RenderItemFormat("BTN_QL_NGUOI_DUNG_NHAP_EXCEL", "<a class=\"row no-margin col-12 no-padding\" onclick=\"ShowPopupImportExcel()\" href=\"javascript:void(0);\" style=\"line-height: 13px; color: #000000\"><i class=\"fas fa-upload\" aria-hidden=\"true\" style=\"margin-right: 7px\"></i> Nhập Excel</a>", "", "")
                                    </li>
                                    <li style="padding: 10px 5px">
                                        @RenderItemFormat("BTN_QL_NGUOI_DUNG_XUAT_EXCEL_TEM", "<a class=\"row no-margin col-12 no-padding\" onclick=\"ExportTemplate()\" href=\"javascript:void(0);\" style=\"line-height: 13px; color: #000000\"><i class=\"fas fa-download\" aria-hidden=\"true\" style=\"margin-right: 7px\"></i> Xuất Template</a>", "", "")
                                    </li>
                                    <li style="padding: 10px 5px">
                                        @RenderItemFormat("BTN_QL_NGUOI_DUNG_XUAT_EXCEL", "<a class=\"row no-margin col-12 no-padding\" onclick=\"Export()\" href=\"javascript:void(0);\" style=\"line-height: 13px; color: #000000\"><i class=\"fas fa-download\" aria-hidden=\"true\" style=\"margin-right: 7px\"></i> Xuất Excel</a>", "", "")
                                    </li>
                                </ul>

                                <span class="search-bar" style="margin-left:5px;margin-top:3px;">
                                    <input type="text" id="dynamic-table-thead-search" class="quicksearch dynamic-table-thead-search" name="search">
                                    <input type="text" class="quicksearch1 dynamic-table-thead-search1" name="search" style="z-index: -1000; height: 0; padding: 0; margin: 0; border: 0">
                                </span>
                            </div>
                            <div class="col-6">
                                @if (CheckAccess("BTN_QL_NGUOI_DUNG_TIM_KIEM"))
                                {
                                    @Html.Partial("Pagination", null, new ViewDataDictionary() { { "PageCur", MvcHtmlString.Create(pageCur) }, { "RecordCount", MvcHtmlString.Create(Model.PageSize.ToString()) }, { "ShowText", showtext }, { "username", Request["username"] } })
                                }
                                <input type="hidden" value="@MvcHtmlString.Create(pageCur)" name="page" id="page" />
                                <input type="hidden" id="totalpage" value="@Model.PageCount" />
                            </div>
                        </div>
                    </div>
                }
            </aside>
            <div class="col-12 panel-body no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                <aside class="col-xs-12 layout-table no-padding">
                    @Html.AntiForgeryToken()
                    <div class="scrollable-horizontal padding-left-0 padding-right-0" style="padding-top: 0!important;">
                        <div style="width: 100%; float: left;">
                            <table id="dynamic-table-thead" idn-datatable-id="dynamic-table-thead-tbody" class="table table-bordered table-thead table-cus table-bottom-0 no-margin">
                                <thead>
                                    <tr class="trthead" filterroot="" bfilter="0">
                                        <th fieldid="CONTROL" fieldname="CONTROL" fieldactive="0" class="cell-100">&nbsp;</th>
                                        @*<th fieldid="STT" fieldname="STT" class="cell-50">@MvcHtmlString.Create("TT")</th>*@

                                        <th fieldid="USERNAME" fieldname="Tên người dùng" fieldactive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="cell-200">
                                            @MvcHtmlString.Create("Họ tên")
                                        </th>
                                        <th fieldId="CUSTOMERCODESYS" fieldName="Khách hàng" fieldActive="0" sorttype="T" class="cell-150">
                                            @MvcHtmlString.Create("Khách hàng")
                                        </th>
                                        <th fieldid="EMAIL" fieldname="Email" fieldactive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="cell-200">
                                            @MvcHtmlString.Create("Email")
                                        </th>
                                        <th fieldid="PHONENO" fieldname="Điện thoại" fieldactive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="cell-120">
                                            @MvcHtmlString.Create("Điện thoại")
                                        </th>
                                        <th fieldid="POSITION" fieldname="Chức vụ" fieldactive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="cell-120">
                                            @MvcHtmlString.Create("Chức vụ")
                                        </th>
                                        @*<th fieldid="DEPARTMENTCODE" fieldname="Bộ phận/phòng ban" fieldactive="0" idn-data-type="T" class="cell-200">
                                                @MvcHtmlString.Create("Bộ phận/phòng ban")
                                            </th>*@
                                        <th fieldid="FLAGSYSADMIN" fieldname="QT hệ thống" fieldactive="0" class="text-center cell-100">
                                            @MvcHtmlString.Create("QT hệ thống")
                                        </th>
                                        @*<th fieldid="FLAGNNTADMIN" fieldname="QT đơn vị" fieldactive="0" class="text-center cell-100">
                                                @MvcHtmlString.Create("QT đơn vị")
                                            </th>*@
                                        <th fieldid="FLAGACTIVE" fieldname="Trạng thái" fieldactive="0" class="text-center cell-100">
                                            @MvcHtmlString.Create("Trạng thái")
                                        </th>
                                        <th fieldid="USERID" fieldname="UserID" fieldactive="1" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="cell-200 idn-hidden">
                                            @MvcHtmlString.Create("UserID")
                                        </th>
                                        <th fieldid="MST" fieldname="Chi nhánh" fieldactive="1" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="cell-100 idn-hidden">
                                            @MvcHtmlString.Create("Chi nhánh")
                                        </th>
                                        @*<th fieldid="CUSTOMERCODESYS" fieldname="Mã khách hàng" fieldactive="1" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="cell-120 idn-hidden">
                                                @MvcHtmlString.Create("Mã khách hàng")
                                            </th>*@
                                        <th fieldid="LANGUAGE" fieldname="Ngôn ngữ" fieldactive="1" class="cell-100 idn-hidden">
                                            @MvcHtmlString.Create("Ngôn ngữ")
                                        </th>
                                        <th fieldid="TIMEZONE" fieldname="Múi giờ" fieldactive="1" class="cell-100 idn-hidden">
                                            @MvcHtmlString.Create("Múi giờ")
                                        </th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <div id="scrollable_1" class="scrollable" style="width: 100%; float: left">
                            <table id="dynamic-table-thead-tbody" class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody dynamic-table-thead-tbody no-margin">
                                <tbody id="table-tbodyID">
                                    @if (Model != null && Model.DataList != null && Model.DataList.Count > 0)
                                    {
                                        var idx = 0;
                                        foreach (var item in Model.DataList)
                                        {
                                            var iindex = startCount + (idx + 1);

                                            <tr idx="@idx" class="data-item trdata">
                                                <td fieldid="CONTROL" class="text-center cell-100">
                                                    <div class="action-buttons padding-top-2">
                                                        @{
                                                            var urlDetail = Url.Action("Detail", "Sys_User", new { usercode = item.UserCode });
                                                            var urlUpdate = Url.Action("Update", "Sys_User", new { usercode = item.UserCode });

                                                        }
                                                        @*@RenderItemFormat("BTN_QL_NGUOI_DUNG_TDMK", "<a href=\"javascript:;\" class=\"icon-detail\" title=\"Thay đổi mật khẩu\" onclick=\"ShowPopupChangePassword('" + item.UserCode + "')\"><img class=\"img-icon\" src='" + Url.Content("~/Images/lock.svg") + "'></a>", "", "")*@
                                                        @RenderItemFormat("BTN_QL_NGUOI_DUNG_CHI_TIET", "<a class=\"icon-edit\" href=\'" + urlDetail + "\' title=\"Chi tiết\"><i class=\"fas fa-eye\"></i></a>", "", "")
                                                        @RenderItemFormat("BTN_QL_NGUOI_DUNG_SUA", "<a class=\"icon-edit\" href=\'" + urlUpdate + "\' title=\"Sửa\"><i class=\"fas fa-pencil-alt\"></i></a>", "", "")
                                                        @RenderItemFormat("BTN_QL_NGUOI_DUNG_XOA", "<a href=\"javascript:;\" class=\"icon-delete\" title=\"Xóa\" onclick=\"Delete('" + item.UserCode + "','" + item.UserName + "')\"><i class=\"fas fa-trash-alt\"></i></a>", "", "")

                                                    </div>
                                                </td>
                                                @*<td fieldid="STT" class="text-center cell-50">
                                                        @MvcHtmlString.Create(iindex.ToString())
                                                    </td>*@
                                                <td fieldid="USERNAME" fieldactive="0" class="cell-200">
                                                    @MvcHtmlString.Create(item.UserName)
                                                </td>
                                                <td fieldId="CUSTOMERCODESYS" fieldActive="0" class="cell-150">
                                                    @MvcHtmlString.Create(item.CustomerName)
                                                </td>
                                                <td fieldid="EMAIL" fieldactive="0" class="cell-200">
                                                    @MvcHtmlString.Create(item.EMail)
                                                </td>
                                                <td fieldid="PHONENO" fieldactive="0" class="cell-120">
                                                    @MvcHtmlString.Create(item.ACPhone)
                                                </td>
                                                <td fieldid="POSITION" fieldactive="0" class="cell-120">
                                                    @MvcHtmlString.Create(item.Position)
                                                </td>
                                                @*<td fieldid="DEPARTMENTCODE" fieldactive="0" class="cell-200">
                                                        @MvcHtmlString.Create(item.mdept_DepartmentName)
                                                    </td>*@
                                                <td fieldid="FLAGSYSADMIN" fieldactive="0" class="text-center cell-100">
                                                    @if (item.FlagSysAdmin.Equals("1"))
                                                    {
                                                        <div class="status approve">Active</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="status cancel">Inactive</div>
                                                    }
                                                </td>
                                                @*<td fieldid="FLAGNNTADMIN" fieldactive="0" class="text-center cell-100">
                                                        @if (item.FlagNNTAdmin.Equals("1"))
                                                        {
                                                            <div class="status approve">Active</div>
                                                        }
                                                        else
                                                        {
                                                            <div class="status cancel">Inactive</div>
                                                        }
                                                    </td>*@

                                                <td fieldid="FLAGACTIVE" fieldactive="0" class="text-center cell-100">
                                                    @if (item.FlagActive.Equals("1"))
                                                    {
                                                        <div class="status approve">Active</div>
                                                    }
                                                    else
                                                    {
                                                        <div class="status cancel">Inactive</div>
                                                    }
                                                </td>
                                                <td fieldid="USERID" fieldactive="1" class="cell-200 idn-hidden">
                                                    @MvcHtmlString.Create(item.ACId)
                                                </td>
                                                <td fieldid="MST" fieldactive="1" class="cell-100 idn-hidden">
                                                    @MvcHtmlString.Create(item.MST == null ? "" : item.MST.ToString())
                                                </td>
                                                @*<td fieldid="CUSTOMERCODESYS" fieldactive="1" class="cell-120 idn-hidden">
                                                        @MvcHtmlString.Create("")
                                                    </td>*@
                                                <td fieldid="LANGUAGE" fieldactive="1" class="cell-100 idn-hidden">
                                                    @if (!CUtils.IsNullOrEmpty(item.ACLanguage) && item.ACLanguage.Equals("vi"))
                                                    {
                                                        <span>Tiếng Việt</span>
                                                    }
                                                    else if (!CUtils.IsNullOrEmpty(item.ACLanguage) && item.ACLanguage.Equals("en"))
                                                    {
                                                        <span>English</span>
                                                    }
                                                </td>
                                                <td fieldid="TIMEZONE" fieldactive="1" class="cell-100 idn-hidden">
                                                    @if (!CUtils.IsNullOrEmpty(item.ACTimeZone))
                                                    {
                                                        if (Convert.ToDouble(item.ACTimeZone) > 0)
                                                        {
                                                            <span>
                                                                @MvcHtmlString.Create("UTC +" + item.ACTimeZone)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                @MvcHtmlString.Create("UTC " + item.ACTimeZone)
                                                            </span>
                                                        }
                                                    }
                                                </td>
                                            </tr>
                                            idx++;
                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>

@*Import Excel*@
<div class="modal fade" id="ImportExcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Nhập dữ liệu từ file Excel</h3>
                <a href="javascript:;" onclick="CloseModalImportExcel()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageFormImportExcel" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group margin-bottom-9">
                        <input type="file" name="file" id="file" />
                    </div>
                }

            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn btn-nc-button" onclick="Import()" id="btnSaveImport" style="padding-left: 10px!important;float: right; padding-right: 10px!important; font-size: 16px; font-weight: 500;">Nhập</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/Sys_User.js")"></script>
    <script type="text/javascript">
        setAdminCurrentUrl('@Url.Action("Index", "Sys_User")');

        function SearchData()
        {
            $('#manageForm').attr('action', '@Url.Action("Index", "Sys_User")').submit();
        }
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                Search();
            }
        });

        function Delete(usercode, username) {
        var objSys_User_Delete = {
            UserCode: usercode,
            UserName: username,
            };

            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Delete", "Sys_User")';

            var objSys_User = new Sys_User();
            objSys_User.Image_Message = "THÔNG BÁO";
            objSys_User.Confirm_Message = "Đồng ý xóa người dùng '" + username + "' ?";
            objSys_User.ajaxSettings = ajaxSettings;
            objSys_User.deleteData(objSys_User_Delete);
        }

        function ClosePopup() {
            $('#ShowPopup').html('');
            $('#ShowPopup').modal({
                backdrop: true,
                keyboard: false,
                show: false
            });
            $('#ShowPopup').removeClass('show');
            $('#ShowPopup').css('display', 'none');
        }

        var objCommonExcel = new CommonExcel();
        var objVariablesInit = {
            Id_FormMain: '',
            Id_FormImportExcel: 'manageFormImportExcel',
            Id_Modal: 'ImportExcelModal',
            Id_FileInput: 'file',
        };

        var ajaxSettings_Excel = {};
        ajaxSettings_Excel.Type = 'post';
        ajaxSettings_Excel.DataType = 'json';

        function ShowPopupImportExcel() {
            $('#ImportExcelModal').modal('show');
        }
        function ImportFileExcel() {
            ajaxSettings_Excel.Url = '@Url.Action("Import", "Sys_User")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.variablesInit(objVariablesInit);
            var ListData = [];

            objCommonExcel.importFileExcel(ListData);
        }
        function Import(title) {
            var file = $("#file").val();
            var listCheck = $('input[name="importChoose"]');
            var flagImport = '';
            listCheck.each(function () {
                if ($(this).is(':checked')) {
                    flagImport = $(this).val();
                }
            });
            var listError = [];
            if (file.length === 0) {
                var objToastr = {
                    ToastrType: 'error',
                    ToastrMessage: 'Nhập file cần Import!'
                };
                listError.push(objToastr);
                commonUtils.showToastr(listError);
                //alert("Nhập file cần Import");
                $("#file").val('');
                return false;
            } else {
                var checkFile = false;
                var _index = file.lastIndexOf('.');
                if (_index !== undefined && _index !== null && _index > 0) {
                    var fileType = file.substring(_index + 1, file.length).toLowerCase();
                    if (fileType === 'xls' || fileType.toLowerCase() === 'xlsx') {
                        checkFile = true;
                    }
                }
                if (checkFile) {
                    ImportFileExcel();
                } else {
                    alert("File Excel Import không hợp lệ!");
                }
            }
        }
        function CloseModalImportExcel() {
            $('#ImportExcelModal').modal('hide');
            $('#ImportExcelModal').on('hidden.bs.modal', function () {
                $(this).find('#manageFormImportExcel').trigger('reset');
            });
        }
        function Export()
        {
            ajaxSettings_Excel.Url = '@Url.Action("Export", "Sys_User")';
            var token = $('input[name=__RequestVerificationToken]').val();
            var url = '@Url.Action("Export", "Sys_User")';
            var username = commonUtils.returnValueText('#username');
            var listParams = [
                { "Key": 'username', "Value": username }
            ];
            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.exportExcel(listParams);
        }
         function ExportTemplate()
        {
            ajaxSettings_Excel.Url = '@Url.Action("ExportTemplate", "Sys_User")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.exportExcel();
        }

    </script>
    <!-- #region table sort -->
    <script>
        var initDefault = function () {
            $('#dynamic-table-thead').idnTable({
                searchTextbox: '#dynamic-table-thead-search', columnToggleButton: '#togglecolumn',
                cookieId: '#viewid',
            });
        };
        var initCustom = function () {
            var tb = $('#dynamic-table-thead').idnTable();

            $('#dynamic-table-thead-search').keyup(function () {
                var kw = $(this).val();
                tb.search(kw);
            });

            //tb.showColumns(['STT'], false);
            //tb.reload();
            var colList = tb.getAllColumns();
            $('#togglecolumn').html('');

            for (var i = 0; i < colList.length; ++i) {

                var col = colList[i];
                var fieldid = col.id;
                var title = col.name;

                if (title !== undefined && title !== null && title.toString().trim().length > 0) {
                    title = title.toString().trim();
                } else {
                    title = '';
                }

                var fieldactive = col.show;

                //B2: Sinh popup tùy chỉnh các cột trong bảng #dynamic-table-thead
                var $input = $('<input>');
                $input.attr('type', 'checkbox');
                $input.attr('name', fieldid);

                if (fieldactive === true) { //Nếu trạng thái bằng 0 cho hiện cột và checked ô input tương ứng
                    $input.attr('checked', 'checked');

                }

                var $spaninput = $('<span>');
                $spaninput.append($input);
                $spaninput.css('margin-right', '10px');

                var $spantext = $('<span>');
                $spantext.text(title);

                var $li = $('<li>');
                $li.css('line-height', '19px');
                $li.css('margin-bottom', '18px');
                $li.append($spaninput);
                $li.append($spantext);

                $('#togglecolumn').append($li);

                $input.click(function () {
                    if ($(this).is(':checked')) {
                        tb.showColumns([$(this).attr('name')], false);
                    }
                    else {
                        tb.hideColumns([$(this).attr('name')], false);
                    }
                });
            }
        };
        $(document).ready(function () {
            initDefault();
            //initCustom();
        });
        $(document).ready(function () {
            (function ($) {
                var body = $('body');
                body.on('keyup', '#dynamic-table-thead-search', function () {
                    var datafilter = $(this).val();
                    if (datafilter !== undefined && datafilter !== null && datafilter.toString().trim()) {
                        datafilter = datafilter.toUpperCase().trim();
                    }
                    var rex = new RegExp($(this).val(), 'i');
                    $('#table-tbodyID tr').hide();
                    $('#table-tbodyID tr').filter(function () {
                        //debugger
                        var dataOfRow = $(this).text();
                        if (dataOfRow !== undefined && dataOfRow !== null && dataOfRow.toString().trim().length > 0) {
                            dataOfRow = dataOfRow.toUpperCase().trim();
                        }
                        if (dataOfRow.toUpperCase().indexOf(datafilter) > -1) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }).show();
                });

            }(jQuery));

        });
        $(document).ready(function () {
            //debugger;
            var viewId = commonUtils.returnValueText('#viewid');
            if (!commonUtils.isNullOrEmpty(viewId)) {
                var cookie = commonUtils.getCookie(viewId);
                if (commonUtils.isNullOrEmpty(cookie)) {
                    var cookieValue = 'CONTROL|STT|USERNAME|CUSTOMERCODESYS|EMAIL|PHONENO|POSITION|FLAGSYSADMIN|FLAGACTIVE|USERID|MST|LANGUAGE|TIMEZONE';
                    commonUtils.setCookie(viewId, cookieValue, 10);
                }
            }
            initDefault();

            //initCustom();

        });
    </script>
    <!-- #endregion -->
    <!-- #region cookies -->
    <script>
        document.addEventListener('DOMContentLoaded',
            function () {
                //debugger;
                readCookies("Sys_User");
                var checkboxs = document.querySelectorAll('#togglecolumn.ulshowdata input[type="checkbox"]');
                for (let checkbox of checkboxs) {
                    checkbox.addEventListener('change', setCookie)
                }
            });

        function saveSelectedToCookie() {
            //debugger;
            setCookie("Sys_User",
                {
                    path: '/',
                    expires: 10
                });
        }

        function setCookie(name, options = {}) {
            //debugger;
            var checkboxs = document.querySelectorAll('#togglecolumn.ulshowdata input[type="checkbox"]');
            var value = new Object();
            for (const ckb of checkboxs) {
                value[ckb.name] = ckb.checked === true ? "0" : "1";
            }
            let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(JSON.stringify(value));

            if (options.expires instanceof Date) {
                options.expires = options.expires.toUTCString();
            }

            for (let optionKey in options) {
                updatedCookie += "; " + optionKey;
                let optionValue = options[optionKey];
                if (optionValue !== true) {
                    updatedCookie += "=" + optionValue;
                }
            }
            document.cookie = updatedCookie;
        }

        function readCookies(name) {
            //debugger;
            var result = document.cookie.match(new RegExp(name + '=([^;]+)'));
            result && (result = JSON.parse(decodeURIComponent(result[1])));
            if (result != null && result != undefined) {
                for (const key in result) {
                    $('#dynamic-table-thead').find('th[fieldid="' + key + '"]').attr('fieldactive', result[key]);
                }
            }
        }
    </script>
    <!-- #endregion -->
}




