@{

    const string title = "Đổi mật khẩu";
    ViewBag.Title = title;
    var code = ViewBag.UserCode as string;
    var passold = "";
    var passnew = "";
    var confpass = "";
}

<div class="modal-dialog" style="width: 500px!important;">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "manageFormPUChangePassword", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel"><b>@MvcHtmlString.Create(title)</b></h2>
                <a href="javascript:;" onclick="ClosePUModelChangePassword()" class="close" aria-label="Close" style="font-size: 32px!important;padding: 0!important;"><span aria-hidden="true" style="color:#000;">&times;</span></a>
            </div>
            <div class="modal-body">
                <div class="form-group margin-bottom-5">
                    <label for="UserCodePU" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Mã người dùng</label>
                    <div class="col-xs-12 col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="text" id="UserCodePU" name="UserCodePU" class="col-xs-11 UserCodePU" value="@code" autocomplete="off" readonly />
                        </span>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label for="UserPassOld" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Mật khẩu cũ</label>
                    <div class="col-xs-12 col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" id="UserPassOld" name="UserPassOld" class="col-xs-11 UserPassOld" value="@MvcHtmlString.Create(passold)" autocomplete="off" required />
                        </span>
                        <label class="span-input" style="color: red; padding-left: 9px; padding-top: 10px;">*</label>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label for="UserPassNew" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Mật khẩu mới</label>
                    <div class="col-xs-12 col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" id="UserPassNew" name="UserPassNew" class="col-xs-11 UserPassNew" value="@MvcHtmlString.Create(passnew)" autocomplete="off" required />
                        </span>
                        <label class="span-input" style="color: red; padding-left: 9px; padding-top: 10px;">*</label>
                    </div>
                </div>
                <div class="form-group margin-bottom-5">
                    <label for="UserConFPass" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Nhập lại mật khẩu mới</label>
                    <div class="col-xs-12 col-sm-7">
                        <span class="block input-icon input-icon-right">
                            <input type="password" id="UserConFPass" name="UserConFPass" class="col-xs-11 UserConFPass" value="@MvcHtmlString.Create(confpass)" autocomplete="off" required />
                        </span>
                        <label class="span-input" style="color: red; padding-left: 9px; padding-top: 10px;">*</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                @*<a href="javascript:void(0);" class="btn btn-nc-button btn-yes" onclick="ChangePasswordPU()"><i class="fas fa-save"></i> Cập nhật</a>*@
                @RenderItemFormat("BTN_NGUOI_DUNG_CHANGE_PASSWORD", "<a class=\"btn btn-nc-button btn-yes\" onclick=\"ChangePasswordPU()\" href=\"javascript:void(0);\" style=\"margin-left: 10px; \"><i class=\"fas fa-save\"></i> Cập nhật</a>", "", "")
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function ClosePUModelChangePassword()
    {
        if (commonUtils.checkElementExists('#UserCodePU')) {
            $('#UserCodePU').val('');
        }
        if (commonUtils.checkElementExists('#UserPassOld')) {
            $('#UserPassOld').val('');
        }
        if (commonUtils.checkElementExists('#UserPassNew')) {
            $('#UserPassNew').val('');
        }
        if (commonUtils.checkElementExists('#UserConFPass')) {
            $('#UserConFPass').val('');
        }
        $('#ShowPopupChangePasswordCheckOld').modal("hide");
        $('#ShowPopupChangePasswordCheckOld').html('');
        $('#ShowPopupChangePasswordCheckOld').css('display','none');
    }

    function validationForm()
    {
        var listError = [];
        listError = commonUtils.checkElementIsNullOrEmpty_AddListError(listError, '#UserPassNew', 'has-error-fix', 'Mật khẩu mới không được trống!');
        listError = commonUtils.checkElementIsNullOrEmpty_AddListError(listError, '#UserConFPass', 'has-error-fix', 'Nhập lại khẩu mới trống!');
        var password = commonUtils.returnValueText('#UserPassNew');
        if (password.trim().length < 6)
        {
            var objToastr = {
                ToastrType: 'error',
                ToastrMessage: 'Mật khẩu mới > 5 ký tự!'
            };
            listError.push(objToastr);
        }
        else
        {
            commonUtils.removeClassCss('#UserPassNew', 'has-error-fix');
        }
        
        var confirmpassword = commonUtils.returnValueText('#UserConFPass');

        if (password !== confirmpassword)
        {
            var objToastr = {
                ToastrType: 'error',
                ToastrMessage: 'Nhập lại mật khẩu không đúng, xin vui lòng nhập lại!'
            };
            listError.push(objToastr);
        }
        else
        {
            commonUtils.removeClassCss('#ConfirmPassword', 'has-error-fix');
        }
        if (confirmpassword.trim().length < 6)
        {
            var objToastr = {
                ToastrType: 'error',
                ToastrMessage: 'Nhập lại mật khẩu mới > 5 ký tự!'
            };
            listError.push(objToastr);
        }
        else {
            commonUtils.removeClassCss('#UserConFPass', 'has-error-fix');
        }
        if (listError !== undefined && listError !== null && listError.length > 0) {
            commonUtils.showToastr(listError);
            return false;
        }
        return true;
    }

    function ChangePasswordPU()
    {
        var check = validationForm();

        if (check)
        {
            var usercode = $('#UserCodePU').val();
            var passold = $('#UserPassOld').val();
            var passnew = $('#UserPassNew').val();
            var confpass = $('#UserConFPass').val();
            var url = '@Url.Action("ChangePasswordCheckOld", "Sys_User")';
            var token = $('#manageFormPUChangePassword input[name=__RequestVerificationToken]').val();
            $.ajax({
                url: url,
                data: {
                    __RequestVerificationToken: token
                    , usercode: usercode
                    , passold: passold
                    , passnew: passnew
                    , confpass: confpass
                },
                type: 'post',
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        if (data.Messages !== null && data.Messages !== undefined && data.Messages.length > 0) {
                            alert(data.Messages[0]);
                            ClosePUModelChangePassword();
                        }
                        if (!commonUtils.isNullOrEmpty(data.RedirectUrl)) {
                            window.location.href = data.RedirectUrl;
                        }

                    }
                    else {
                        if (!commonUtils.isNullOrEmpty(data.Detail)) {
                            _showErrorMsg123("Lỗi!", data.Detail);
                        }
                    }
                }
            });
        }


    }
</script>
