@model List<Rpt_Inventory_In_Out_InvUI>

<style>
    .hidden {
        display: none;
    }
</style>

<div class="col-xs-12 layout-bot-top-16" style="">
    <div class="row">
        <div class="col-6">
            @if (CheckAccess("BTN_RPT_INVENTORY_IN_OUT_INV_PRINT"))
            {
                <a class="btn btn-nc-button" href="javascript:;" onclick="Print()" style=""><i class="fas fa-print" aria-hidden="true"></i> In</a>
            }
            @if (CheckAccess("BTN_RPT_INVENTORY_IN_OUT_INV_EXPORT_EXCEL"))
            {
                <a class="btn btn-nc-button" href="javascript:;" onclick="Export()" style=""><i class="far fa-file-excel" aria-hidden="true"></i> Xuất Excel</a>
            }

        </div>
    </div>
</div>
<div class="panel-body no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
    <aside class="col-xs-12 layout-table no-padding">
        @Html.AntiForgeryToken()
        <div class="scrollable-horizontal padding-left-0 padding-right-0" style="padding-top: 0!important;">
            <div style="width: 100%; float: left;">
                <table id="dynamic-table-thead" class="table table-bordered table-thead table-cus table-bottom-0 no-margin">
                    <thead>
                        <tr>
                            <th colspan="4">
                            </th>
                            <th class="text-center">
                                Đầu kỳ
                            </th>
                            <th colspan="2" class="text-center">
                                Trong kỳ
                            </th>
                            <th class="text-center">
                                Cuối kỳ
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr class="trthead">
                            <th fieldId="STT" fieldName="STT" fieldActive="0" class="text-center cell-50">
                                @("STT".HtmlItemString("inventory"))
                            </th>
                            <th fieldId="PRODUCTCODE" fieldName="Mã hàng hoá" fieldActive="0" class="text-center cell-150">
                                @("Mã hàng hoá".HtmlItemString("inventory"))
                            </th>
                            <th fieldId="PRODUCTNAME" sorttype="T" fieldName="Tên hàng hoá" fieldActive="0" class="text-center cell-150">
                                @("Tên hàng hoá".HtmlItemString("inventory"))
                            </th>
                            <th fieldId="UNITCODE" sorttype="T" fieldName="Đơn vị" fieldActive="0" class="text-center cell-100">
                                @("Đơn vị".HtmlItemString("inventory"))
                            </th>
                            <th fieldId="BEGINPERIOD_INV_QTYBASE" sorttype="N" fieldName="SL tồn đầu kỳ" fieldActive="0" class="text-center cell-120">
                                @("SL tồn đầu kỳ".HtmlItemString("inventory"))
                            </th>
                            @*<th fieldId="BEGINPERIOD_VAL" sorttype="N" fieldName="Giá trị đầu kỳ" fieldActive="0" class="text-center cell-150">
                                @("Giá trị đầu kỳ".HtmlItemString("inventory"))
                            </th>*@
                            <th fieldId="INPERIOD_IN_QTYBASE" sorttype="N" fieldName="SL nhập" fieldActive="0" class="text-center cell-100">
                                @("SL nhập".HtmlItemString("inventory"))
                            </th>
                            @*<th fieldId="INPERIOD_IN_VAL" sorttype="T" fieldName="Giá trị nhập" fieldActive="0" class="text-center cell-150">
                                @("Giá trị nhập".HtmlItemString("inventory"))
                            </th>*@
                            <th fieldId="INPERIOD_OUT_QTYBASE" sorttype="N" fieldName="SL xuất" fieldActive="0" class="text-center cell-100">
                                @("SL xuất".HtmlItemString("inventory"))
                            </th>
                            @*<th fieldId="INPERIOD_OUT_VAL" sorttype="N" fieldName="Giá trị xuất" fieldActive="0" class="text-center cell-150">
                                @("Giá trị xuất".HtmlItemString("inventory"))
                            </th>*@
                            <th fieldId="ENDPERIOD_INV_QTYBASE" sorttype="N" fieldName="Tồn cuối kỳ" fieldActive="0" class="text-center cell-100">
                                @("Tồn cuối kỳ".HtmlItemString("inventory"))
                            </th>
                            @*<th fieldId="ENDPERIOD_VAL" sorttype="N" fieldName="Giá trị tồn" fieldActive="0" class="text-center cell-150">
                                @("Giá trị tồn".HtmlItemString("inventory"))
                            </th>*@
                            <th fieldId="INVCODE" fieldName="Vị trí tồn kho" fieldActive="0" class="text-center cell-300">
                                @("Vị trí tồn kho".HtmlItemString("inventory"))
                            </th>
                    </thead>
                </table>
            </div>
            <div id="scrollable_1" class="scrollable">
                <table id="dynamic-table-thead-tbody" class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody dynamic-table-thead-tbody no-margin">
                    <tbody id="table-tbodyID">
                        @if (Model != null && Model.Count > 0)
                        {
                            int stt = 1;
                            foreach (var item in Model)
                            {
                                <tr class="data-item trdata" ProductCode="@item.ProductCode">
                                    <td fieldId="STT" fieldActive="0" class="text-center cell-50 text-center">
                                        @stt
                                    </td>
                                    <td fieldId="PRODUCTCODE" fieldActive="0" class="text-left cell-150">
                                        @item.mp_ProductCodeUser
                                    </td>
                                    <td fieldId="PRODUCTNAME" fieldActive="0" class="text-left cell-150">
                                        @item.mp_ProductName
                                    </td>
                                    <td fieldId="UNITCODE" fieldActive="0" class="text-center cell-100">
                                        <select class="select2-selection col-12" name="UnitCode" onchange="ChangeProduct(this)">
                                            <option value="@item.ProductCode" productcode="@item.ProductCode">@item.mp_UnitCode</option>
                                            @if (item.ListRpt_Inventory_In_Out_InvUIChild != null && item.ListRpt_Inventory_In_Out_InvUIChild.Count > 0)
                                            {
                                                foreach (var unitCodeChild in item.ListRpt_Inventory_In_Out_InvUIChild)
                                                {
                                                    <option value="@unitCodeChild.ProductCode" productcode="@unitCodeChild.ProductCode">@unitCodeChild.mp_UnitCode</option>
                                                }
                                            }
                                        </select>
                                    </td>
                                    <td fieldId="BEGINPERIOD_INV_QTYBASE" fieldActive="0" class="text-right cell-120 numberic valBeginPeriod_Inv_QtyBase">
                                        @item.BeginPeriod_Inv_QtyBase
                                    </td>
                                    @*<td fieldId="BEGINPERIOD_VAL" fieldActive="0" class="text-right cell-150 numberic valBeginPeriod_Val">
                                        @item.BeginPeriod_Val
                                    </td>*@
                                    <td fieldId="INPERIOD_IN_QTYBASE" fieldActive="0" class="text-right cell-100 numberic valInPeriod_In_QtyBase">
                                        @item.InPeriod_In_QtyBase
                                    </td>
                                    @*<td fieldId="INPERIOD_IN_VAL" fieldActive="0" class="text-right cell-150 numberic valInPeriod_In_Val">
                                        @item.InPeriod_In_Val
                                    </td>*@
                                    <td fieldId="INPERIOD_OUT_QTYBASE" fieldActive="0" class="text-right cell-100 numberic valInPeriod_Out_QtyBase">
                                        @item.InPeriod_Out_QtyBase
                                    </td>
                                    @*<td fieldId="INPERIOD_OUT_VAL" fieldActive="0" class="text-right cell-150 numberic valInPeriod_Out_Val">
                                        @item.InPeriod_Out_Val
                                    </td>*@
                                    <td fieldId="ENDPERIOD_INV_QTYBASE" fieldActive="0" class="text-right cell-100 numberic valEndPeriod_Inv_QtyBase">
                                        @item.EndPeriod_Inv_QtyBase
                                    </td>
                                    @*<td fieldId="ENDPERIOD_VAL" fieldActive="0" class="text-right cell-150 numberic valEndPeriod_Val">
                                        @item.EndPeriod_Val
                                    </td>*@
                                    <td fieldId="INVCODE" fieldActive="0" class="text-left cell-300">
                                        @{
                                            var listInvCode = item.ListInvCode.ToString().Split(',');
                                            foreach (var invCode in listInvCode)
                                            {
                                                <span class="badges-sm">@invCode</span>
                                            }
                                        }
                                    </td>
                                </tr>
                                if (item.ListRpt_Inventory_In_Out_InvUIChild != null && item.ListRpt_Inventory_In_Out_InvUIChild.Count > 0)
                                {
                                    foreach (var child in item.ListRpt_Inventory_In_Out_InvUIChild)
                                    {
                                        <tr class="data-item trdata hidden" ProductCode="@child.ProductCode" ProductCodeUser="@child.mp_ProductCodeUser" ListInvCode="@child.ListInvCode" ProductName="@child.mp_ProductName">
                                            <td fieldId="STT" fieldActive="0" class="text-center cell-50 text-center">
                                                @stt
                                            </td>
                                            <td fieldId="PRODUCTCODE" fieldActive="0" class="text-left cell-150">
                                                @child.mp_ProductCodeUser
                                            </td>
                                            <td fieldId="PRODUCTNAME" fieldActive="0" class="text-left cell-150">
                                                @child.mp_ProductName
                                            </td>
                                            <td fieldId="UNITCODE" fieldActive="0" class="text-center cell-100">
                                                <select class="select2-selection col-12" name="UnitCode" onchange="ChangeProduct(this)">
                                                    @if (item.ListRpt_Inventory_In_Out_InvUIChild != null && item.ListRpt_Inventory_In_Out_InvUIChild.Count > 0)
                                                    {
                                                        <option value="@item.mp_UnitCode" productcode="@item.ProductCode">@item.mp_UnitCode</option>
                                                        foreach (var unitCodeChild in item.ListRpt_Inventory_In_Out_InvUIChild)
                                                        {
                                                            var selected = !CUtils.IsNullOrEmpty(child.mp_UnitCode) && child.mp_UnitCode.Equals(unitCodeChild.mp_UnitCode) ? "selected" : "";
                                                            <option value="@unitCodeChild.ProductCode" @selected productcode="@unitCodeChild.ProductCode">@unitCodeChild.mp_UnitCode</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td fieldId="BEGINPERIOD_INV_QTYBASE" fieldActive="0" class="text-right cell-120 numberic valBeginPeriod_Inv_QtyBase">
                                                @child.BeginPeriod_Inv_QtyBase
                                            </td>
                                            @*<td fieldId="BEGINPERIOD_VAL" fieldActive="0" class="text-right cell-150 numberic valBeginPeriod_Val">
                                                @child.BeginPeriod_Val
                                            </td>*@
                                            <td fieldId="INPERIOD_IN_QTYBASE" fieldActive="0" class="text-right cell-100 numberic valInPeriod_In_QtyBase">
                                                @child.InPeriod_In_QtyBase
                                            </td>
                                            @*<td fieldId="INPERIOD_IN_VAL" fieldActive="0" class="text-right cell-150 numberic valInPeriod_In_Val">
                                                @child.InPeriod_In_Val
                                            </td>*@
                                            <td fieldId="INPERIOD_OUT_QTYBASE" fieldActive="0" class="text-right cell-100 numberic valInPeriod_Out_QtyBase">
                                                @child.InPeriod_Out_QtyBase
                                            </td>
                                            @*<td fieldId="INPERIOD_OUT_VAL" fieldActive="0" class="text-right cell-150 numberic valInPeriod_Out_Val">
                                                @child.InPeriod_Out_Val
                                            </td>*@
                                            <td fieldId="ENDPERIOD_INV_QTYBASE" fieldActive="0" class="text-right cell-100 numberic valEndPeriod_Inv_QtyBase">
                                                @child.EndPeriod_Inv_QtyBase
                                            </td>
                                            @*<td fieldId="ENDPERIOD_VAL" fieldActive="0" class="text-right cell-150 numberic valEndPeriod_Val">
                                                @child.EndPeriod_Val
                                            </td>*@
                                            <td fieldId="INVCODE" fieldActive="0" class="text-left cell-300">
                                                @{
                                                    foreach (var invCode in listInvCode)
                                                    {
                                                        <span class="badges-sm">@invCode</span>
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                stt++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </aside>
</div>

<script>
    $(document).ready(function () {
       // tablesort();
        $('.scrollable-horizontal').hScroll();
    });
    function tablesort() {
        var listColumns = {
            'PRODUCTCODE': [],
            'PRODUCTNAME': [],
            'QTY': [],
            'BEGINPERIOD_INV_QTYBASE': [],
            'BEGINPERIOD_VAL': [],
            'INPERIOD_IN_QTYBASE': [],
            'INPERIOD_IN_VAL': [],
            'INPERIOD_OUT_QTYBASE': [],
            'INPERIOD_OUT_VAL': [],
            'ENDPERIOD_INV_QTYBASE': [],
            'ENDPERIOD_VAL': [],
            'INVCODE': []
        };
        var options = {};
        options.Columns = listColumns;
        $('#dynamic-table-thead').table_Sortable(options);
    }
</script>

<script>
    $(document).ready(function () {
        $('.select2-selection').select2({
            minimumResultsForSearch: -1
        });
    })
</script>

<script>
    function ChangeProduct(thiz) {
        var targetPrdCode = $(thiz).find('option:selected').attr('productcode');
        var currentRow = $(thiz).parent().parent();
        var targetRow = $(thiz).closest('tbody').find('tr.trdata.hidden[productcode="' + targetPrdCode + '"]')
        $(currentRow).addClass('hidden');
        $(targetRow).find('select[name="UnitCode"]').val(targetPrdCode).prop('selected', true);
        $(targetRow).find('select[name="UnitCode"]').select2({
            minimumResultsForSearch: -1
        });
        $(targetRow).removeClass('hidden');
    }
</script>
