@model List<Rpt_Inventory_In_Out_InvUI>
@{
    /**/

    ViewBag.Title = "Báo cáo nhập xuất tồn";
    var List_Mst_InventoryInOut = ViewBag.List_Mst_InventoryInOut as List<Mst_Inventory>;
    var List_Mst_ProductGroup = ViewBag.Lst_Mst_ProductGroup as List<Mst_ProductGroup>;

}
<script>
    setAdminCurrentUrl('@Url.Action("Rpt_Inventory_In_Out_Inv", "Report")');
</script>
<div class="row no-margin">
    <div class="col-sm-12">
        <aside class="row no-margin">
            @using (Html.BeginForm("Index", "InvF_MoveOrd", FormMethod.Get, new { id = "manageForm", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <input hidden id="init" name="init" value="search" />
                <div class="layout-search layout-bot-top-16">
                    <div class="row no-margin">
                        <div class="col-5 row no-margin">
                            <div class="row form-group margin-bottom-9">
                                <label for="IF_MONo" class="col-12 col-sm-3 control-label no-padding-right font-weight-500 ">@("Hàng hoá".HtmlItemString("inventory"))</label>
                                <div class="col-12 col-sm-8 form-group">
                                    <span class="block input-icon input-icon-right col-12 no-padding">
                                        <input type="text" id="ProductCodeUser" name="ProductCodeUser" class="col-12 ProductCodeUser" value="" autocomplete="off" required />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row no-margin">
                                <div class="row form-group margin-bottom-9">
                                    <label for="ProductGroupCode" class="col-12 col-sm-3 control-label no-padding-right font-weight-500 ">@("Nhóm hàng".HtmlItemString("inventory"))</label>
                                    <div class="col-12 col-sm-8">
                                        <span class="block input-icon input-icon-right selection--multiple">
                                            <select class="select2-selection col-12" name="ProductGroupCode" id="ProductGroupCode">
                                                <option value="">--Chọn loại hàng hóa--</option>
                                                @{
                                                    if (List_Mst_ProductGroup != null && List_Mst_ProductGroup.Count > 0)
                                                    {
                                                        foreach (var grp in List_Mst_ProductGroup)
                                                        {
                                                            <option value="@grp.ProductGrpCode">@grp.ProductGrpName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-5 row no-margin">
                            <div class="row form-group margin-bottom-9">
                                <label for="ApprDTimeUTCFrom" class="col-12 col-sm-2 control-label no-padding-right font-weight-500 ">@("Từ ngày".HtmlItemString("inventory")) <span style="color: red;">*</span></label>
                                <div class="col-sm-9 row date-input-group no-margin">
                                    <div class="row col-5 no-margin">
                                        <div class="col-12 no-padding">
                                            <div class="input-group form-group" id="dtdatefrom">
                                                <input type="text" id="ApprDTimeUTCFrom" name="ApprDTimeUTCFrom" class="col-9 cl-date ApprDTimeUTCFrom hasDatepicker" data-date-format="yyyy-mm-dd" value="" autocomplete="off">
                                                <span class="input-group-addon col-3">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="ApprDTimeUTCTo" class="col-2 control-label no-padding-right font-weight-500 text-center">@("đến".HtmlItemString("inventory")) <span style="color: red;"> *</span></label>
                                    <div class="row col-5 no-margin">
                                        <div class="col-12 no-padding">
                                            <div class="input-group form-group" id="dtdateto">
                                                <input type="text" id="ApprDTimeUTCTo" name="ApprDTimeUTCTo" class="col-9 cl-date ApprDTimeUTCTo hasDatepicker" data-date-format="yyyy-mm-dd" value="" autocomplete="off">
                                                <span class="input-group-addon col-3">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group margin-bottom-9">
                                <label for="IF_MONo" class="col-12 col-sm-2 control-label no-padding-right font-weight-500 ">@("Mã kho".HtmlItemString("inventory")) <span style="color: red;">*</span></label>
                                <div class="col-12 col-sm-9">
                                    <div class="col-12">
                                        <span class="block input-icon input-icon-right selection--multiple">
                                            <select class="select2-selection col-10" name="InvCode" id="InvCode">
                                                <option value="">--Tìm mã/tên--</option>
                                                @{
                                                    if (List_Mst_InventoryInOut != null && List_Mst_InventoryInOut.Count > 0)
                                                    {
                                                        foreach (var inv in List_Mst_InventoryInOut)
                                                        {
                                                            <option value="@inv.InvCode">@inv.InvCode : @inv.InvName</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 row no-margin">
                            <div class="form-group margin-bottom-9">
                                <div class="row no-margin">
                                    @if (CheckAccess("BTN_RPT_INVENTORY_IN_OUT_INV_SEARCH"))
                                    {
                                        <span class="block input-icon input-icon-right">
                                            <a class="btn btn-nc-button" onclick="SearchData()" href="javascript:void(0);" style=""><img class="img-button-search" src="@Url.Content("~/Images/search.svg")"></a>
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </aside>
        <div class="row no-margin">
            <div class="col-sm-12 no-padding">
                <div id="BindDataRpt_Inventory_In_Out_Inv" class="conten-table">
                    @Html.Partial("BindDataRpt_Inventory_In_Out_Inv", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Lo -->
<div class="modal fade" id="ShowPopupLo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<!-- Modal Serial -->
<div class="modal fade" id="ShowPopupSerial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>



<script>
    $('#ApprDTimeUTCFrom , #ApprDTimeUTCTo').datepicker({
        autoclose: true,
        format: 'yyyy-mm-dd'
    })
</script>

<!-- Search -->
<script>
        @*@*Active Menu*@
        //setAdminCurrentUrl('@Url.Action("Rpt_InvF_WarehouseCard", "Report")');
        $(document).ready(function () {
            $('#InvCode').select2();
        })
        function SearchData() {
            var productCodeUser = commonUtils.returnValueText('#ProductCodeUser');
            var productGrpCode = commonUtils.returnValueText('#ProductGroupCode');
            var invCode = commonUtils.returnValueText('#InvCode');
            var apprDTimeUTCFrom = commonUtils.returnValueText('#ApprDTimeUTCFrom');
            var apprDTimeUTCTo = commonUtils.returnValueText('#ApprDTimeUTCTo');
            if (invCode == undefined || invCode.length == 0) {
                alert('Chưa chọn kho');
                $('#InvCode').focus();
                return false;
            }
            if (apprDTimeUTCFrom == undefined || apprDTimeUTCFrom.length == 0) {
                $('#ApprDTimeUTCFrom').focus();
                alert('Chưa chọn ngày từ');
                return false;
            }
            if (apprDTimeUTCTo == undefined || apprDTimeUTCTo.length == 0) {
                $('#ApprDTimeUTCTo').focus();
                alert('Chưa chọn ngày đến');
                return false;
            }
            if (apprDTimeUTCTo < apprDTimeUTCFrom) {
                alert('Ngày từ phải <= ngày đến');
                return false;
            }

            var token = $('#manageForm input[name=__RequestVerificationToken]').val();
            var url = '@Url.Action("DoSearch_Rpt_Inventory_In_Out_Inv", "Report")';
            $.ajax({
            type: "post",
            data: {
                __RequestVerificationToken: token,
                invcode: invCode,
                productcodeuser: productCodeUser,
                apprDTimeUTCFrom: apprDTimeUTCFrom,
                apprDTimeUTCTo: apprDTimeUTCTo,
                productgrpcode: productGrpCode
            },
            url: url,
            dataType: 'json',
                beforeSend: function () { }
            }).done(function (result) {
                if (result.Success) {
                    //tablesort();
                    $('#BindDataRpt_Inventory_In_Out_Inv').html('');
                    $('#BindDataRpt_Inventory_In_Out_Inv').html(result.Html);
                    //$('.numberic').number(true, 2);
                    format_Number();
                } else {
                    if (!commonUtils.isNullOrEmpty(result.Detail)) {
                        showErrorDialog(result.Detail);
                    }
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {

            }).always(function (jqXHROrData, textStatus, jqXHROrErrorThrown) {
                //alert("complete");
            });
        }
</script>
<!-- Excel -->
<script>
    function Export() {
        var invCode = commonUtils.returnValueText('#InvCode');
        var productCodeUser = commonUtils.returnValueText('#ProductCodeUser');
        var productGrpCode = commonUtils.returnValueText('#ProductGroupCode');
        var apprDTimeUTCFrom = commonUtils.returnValueText('#ApprDTimeUTCFrom');
        var apprDTimeUTCTo = commonUtils.returnValueText('#ApprDTimeUTCTo');
        if (invCode == undefined || invCode.length == 0) {
            alert('Chưa chọn mã kho');
            $('#InvCode').focus();
            return false;
        }
        if (apprDTimeUTCFrom == undefined || apprDTimeUTCFrom.length == 0) {
            $('#ApprDTimeUTCFrom').focus();
            alert('Chưa chọn ngày từ');
            return false;
        }
        if (apprDTimeUTCTo == undefined || apprDTimeUTCTo.length == 0) {
            $('#ApprDTimeUTCTo').focus();
            alert('Chưa chọn ngày đến');
            return false;
        }

        var objCommonExcel = new CommonExcel();
        var ajaxSettings_Excel = {};
        ajaxSettings_Excel.Type = 'post';
        ajaxSettings_Excel.DataType = 'json';
        ajaxSettings_Excel.Url = '@Url.Action("Rpt_Inventory_In_Out_Inv_Export", "Report")';

        var listParams = [
            { "Key": 'invcode', "Value": invCode },
            { "Key": 'productcodeuser', "Value": productCodeUser },
            { "Key": 'apprDTimeUTCFrom', "Value": apprDTimeUTCFrom },
            { "Key": 'apprDTimeUTCTo', "Value": apprDTimeUTCTo },
            { "Key": 'productgrpcode', "Value": productGrpCode },
        ];

        objCommonExcel.ajaxSettingsInit();
        objCommonExcel.ajaxSettings = ajaxSettings_Excel;
        objCommonExcel.exportExcel(listParams);
        }
</script>
<!-- In -->
<script src="@Url.Content("~/Scripts/print.min.js")"></script>
<script>
    function Print() {
        var invCode = commonUtils.returnValueText('#InvCode');
        var productCodeUser = commonUtils.returnValueText('#ProductCodeUser');
        var productGrpCode = commonUtils.returnValueText('#ProductGroupCode');
        var apprDTimeUTCFrom = commonUtils.returnValueText('#ApprDTimeUTCFrom');
        var apprDTimeUTCTo = commonUtils.returnValueText('#ApprDTimeUTCTo');
        if (invCode == undefined || invCode.length == 0) {
            alert('Chưa chọn mã kho');
            $('#InvCode').focus();
            return false;
        }
        if (apprDTimeUTCFrom == undefined || apprDTimeUTCFrom.length == 0) {
            $('#ApprDTimeUTCFrom').focus();
            alert('Chưa chọn ngày từ');
            return false;
        }
        if (apprDTimeUTCTo == undefined || apprDTimeUTCTo.length == 0) {
            $('#ApprDTimeUTCTo').focus();
            alert('Chưa chọn ngày đến');
            return false;
        }

        let Url = '@Url.Action("PrintTemp_Rpt_Inventory_In_Out_Inv", "Report")';

        $.ajax({
            type: "post",
            data:
            {
                invcode: invCode,
                productcodeuser: productCodeUser,
                apprDTimeUTCFrom: apprDTimeUTCFrom,
                apprDTimeUTCTo: apprDTimeUTCTo,
                productgrpcode: productGrpCode
            },
            url: Url,
            dataType: 'json',
            beforeSend: function () { }
        }).done(function (result) {
            if (result.Success) {
                if (result.LinkPDF !== undefined || result.LinkPDF !== '') {
                    printPdf(result.LinkPDF);
                }
                else {
                    alert('Không lấy được dữ liệu mẫu in');
                }
            }
            else {
                if (result.Messages !== undefined && result.Messages.length > 0) {
                    alert(result.Messages[0]);
                }
                if (!commonUtils.isNullOrEmpty(result.Detail)) {
                    showErrorDialog(result.Detail);
                }
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {

        }).always(function (jqXHROrData, textStatus, jqXHROrErrorThrown) {
            //alert("complete");
        });
    }

    function printPdf(linkPdf) {
        printJS({
            printable: linkPdf,
            type: 'pdf',
            showModal: true,
            //onPrintDialogClose: () => console.log('The print dialog was closed'),
            //onPdfOpen: () => console.log('Pdf was opened in a new tab due to an incompatible browser')
        })
    }
</script>


@*format number*@

<script type="text/javascript">
    function format_Number(){
       var tableName = 'Rpt_Inventory_In_Out_Inv';
        var beginPeriod_Inv_QtyBaseFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'BeginPeriod_Inv_QtyBase');
        var beginPeriod_ValFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'BeginPeriod_Val');
        var inPeriod_In_QtyBaseFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'InPeriod_In_QtyBase');
        var inPeriod_In_ValFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'InPeriod_In_Val');
        var inPeriod_Out_QtyBaseFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'InPeriod_Out_QtyBase');
        var inPeriod_Out_ValFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'InPeriod_Out_Val');
        var endPeriod_Inv_QtyBaseFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'EndPeriod_Inv_QtyBase');
        var endPeriod_ValFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'EndPeriod_Val');


       $('.valBeginPeriod_Inv_QtyBase').number(true, beginPeriod_Inv_QtyBaseFormat);
        $('.valBeginPeriod_Val').number(true, beginPeriod_ValFormat);
        $('.valInPeriod_In_QtyBase').number(true, inPeriod_In_QtyBaseFormat);
        $('.valInPeriod_In_Val').number(true, inPeriod_In_ValFormat);
        $('.valInPeriod_Out_QtyBase').number(true, inPeriod_Out_QtyBaseFormat);
        $('.valInPeriod_Out_Val').number(true, inPeriod_Out_ValFormat);
       $('.valEndPeriod_Inv_QtyBase').number(true, endPeriod_Inv_QtyBaseFormat);
         $('.valEndPeriod_Val').number(true, endPeriod_ValFormat);
    }
</script>

