@model List<Mst_Province>
@{
    //Layout = null;
    var provinceCode = CUtils.StrValue(ViewBag.ProvinceCode);
}
<optgroup label="">
    <option value="">&nbsp;</option>
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            var provinceCodeCur = CUtils.StrValue(item.ProvinceCode);
            var provinceNameCur = CUtils.StrValue(item.ProvinceName);
            <option value="@MvcHtmlString.Create(provinceCodeCur)" desc="@MvcHtmlString.Create(provinceNameCur)" @(provinceCodeCur.Equals(provinceCode) ? "selected" : "")>@MvcHtmlString.Create(provinceNameCur)</option>
        }
    }
</optgroup>
<option value="ADDDATA">@("".HtmlItemString("product"))</option>

