@{
    var listMstProductGroupParent = new List<Mst_ProductGroup>();
    if (ViewBag.ListMstProductGroupParent != null)
    {
        listMstProductGroupParent = ViewBag.ListMstProductGroupParent;
    }

    var productGrpCode = ViewBag.ProductGrpCode;
}
<div class="modal fade" id="PopupCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Tạo mới nhóm hàng</h3>
                <a href="javascript:;" onclick="ClosePopupCreate()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageCreate" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row form-group margin-bottom-9">
                        <label for="ProductGrpCode_Update" class="col-12 col-sm-3 control-label no-padding-right font-weight-500 ">@("Mã nhóm hàng".HtmlItemString("modelcode"))<span style="color: red "> *</span></label>
                        <div class="col-12 col-sm-8">
                            <span class="block input-icon input-icon-right">
                                <input type="hidden" id="ProductGrpCode" name="ProductGrpCode" class="col-12 ProductGrpCode" value="@CUtils.StrValue(productGrpCode)">
                                <input type="text" id="ProductGrpName" name="ProductGrpName" class="col-12 ProductGrpName" value="" autocomplete="off">
                            </span>
                        </div>
                    </div>

                    <div class="row form-group margin-bottom-9">
                        <label for="ProductGrpName_Update" class="col-12 col-sm-3 control-label no-padding-right font-weight-500 ">@("Tên nhóm hàng".HtmlItemString("modelname"))<span style="color: red "> *</span></label>
                        <div class="col-12 col-sm-8">
                            <span class="block input-icon input-icon-right">
                                <input type="text" id="ProductGrpDesc" name="ProductGrpDesc" class="col-12 ProductGrpDesc" value="" autocomplete="off">
                            </span>
                        </div>
                    </div>

                    <div class="row form-group margin-bottom-9">
                        <label for="BrandCode" class="col-12 col-sm-3 control-label no-padding-right font-weight-500 ">@("Nhóm hàng cha".HtmlItemString("brandcode"))</label>
                        <div class="col-12 col-sm-8">
                            <span class="block input-icon input-icon-right">
                                <select class="col-12 ProductGrpCodeParent" name="ProductGrpCodeParent">
                                    @{
                                        <option></option>
                                        foreach (var it in listMstProductGroupParent)
                                        {
                                            <option value="@CUtils.StrValue(it.ProductGrpCode)">@CUtils.StrValue(it.ProductGrpName) (@CUtils.StrValue(it.ProductGrpDesc))</option>
                                        }
                                    }
                                </select>
                            </span>
                        </div>
                    </div>

                    <div class="row form-group margin-bottom-9 display-none">
                        <label for="FlagActive" class="col-12 col-sm-3 control-label no-padding-right font-weight-500 ">@("Trạng thái".HtmlItemString("flagactive"))</label>
                        <div class="col-12 col-sm-8">
                            <span class="block input-icon input-icon-right">
                                <select type="text" id="FlagActive" name="FlagActive" class="col-12 FlagActive">
                                    <option>1</option>
                                    <option>0</option>
                                </select>
                            </span>
                        </div>
                    </div>

                }

            </div>
            <div class="modal-footer">
                @RenderItemFormat("BTN_TAO_NHOM_HANG", "<a href=\"javascript:void(0);\" class=\"btn mybtn-Button\" onclick=\"SaveData()\" id=\"btnCreate\" style=\"padding-left: 10px!important; padding-right: 10px!important; font-size: 16px; font-weight: 500;\">Lưu</a>", "", "")
            </div>
        </div>
    </div>
</div>

<script>
    function CheckForm() {
        var productGrpCode = $('#ProductGrpCode').val();
        var productGrpName = $('#ProductGrpName').val();

        if (productGrpName == "") {
            alert("Mã nhóm hàng không được trống.");
            return false;

        }
        var productGrpDesc = $('#ProductGrpDesc').val();
        if (productGrpDesc == "") {
            alert("Tên nhóm hàng không được trống.");
            return false;
        }
        return true;
    }
    function SaveData() {
        var check = CheckForm();
        if (check == false) return false;
        var formdata = new window.FormData($('#manageCreate')[0]);
         $.ajax({
            url: '@Url.Action("Save","Mst_ProductGroupSub")',
            data: formdata,
            processData: false,
            contentType: false,
            dataType: 'json',
            type: 'POST',
            success: function (data) {
                if (data.Success) {
                    if (data !== null) {
                        alert(data.Messages[0]);
                        window.location.href = data.RedirectUrl;
                    }
                } else {
                    showErrorDialog(data.Detail);
                }
            }
        });
    }

    function SaveDataAndCreate() {
        var check = CheckForm();
        if (check == false) return false;
        var formdata = new window.FormData($('#manageCreate')[0]);
         $.ajax({
            url: '@Url.Action("Save","Mst_ProductGroupSub")',
            data: formdata,
            processData: false,
            contentType: false,
            dataType: 'json',
            type: 'POST',
            success: function (data) {
                if (data.Success) {
                    if (data !== null) {
                        alert(data.Messages[0]);
                        ClearDataModal();
                    }
                } else {
                    showErrorDialog(data.Detail);
                }
            }
        });
    }

    function ClearDataModal() {
        $('#ProductGrpName_Update').val("");
        $('#ProductGrpCodeParent').val("");
        $('#ProductGrpCode_Update').val("");
        $('#FlagActive').val("");
    }
</script>