@using System.Diagnostics;
@using idn.Skycic.Inventory.Common.Models;
@model List<Inv_InventoryBalance>
@{
    Layout = "~/Views/Shared/CoreLayoutBaoCao.cshtml";
    ViewBag.Title = "BÁO CÁO TỒN KHO";

    var fromdate = ViewBag.FromDate as string;
    var listPart = ViewBag.ListPart as List<Mst_Part>;
    var startCount = 0;
    var strStartCount = ViewBag.StartCount as string;
    if (!CUtils.IsNullOrEmpty(strStartCount))
    {
        startCount = Convert.ToInt32(strStartCount);
    }
    var offset = ViewBag.Offset;
}
<script src="~/Scripts/mine/invoice.js"></script>
<script src="~/Scripts/mine/download.js"></script>
<div class="row no-margin">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">

            <div class="panel panel-info">
                <div class="panel-body no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                    <div class=" col-xs-12 layout-search layout-bot-top-16">
                        @using (Html.BeginForm("RptInv_BalanceSerial", "Reports", FormMethod.Get, new { id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="col-xs-12 ">
                                <input hidden id="init" name="init" value="search" />
                                <div class="col-xs-4">
                                    <div class="form-group margin-bottom-5">
                                        <label for="SourceInvoiceCode" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã sản phẩm")</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <span class="block input-icon input-icon-right">
                                                <select id="partcode" name="partcode" class="col-xs-12">
                                                    @{
                                                        var partcode = Request["partcode"] == null ? "" : Request["partcode"];
                                                    }
                                                    @if (listPart != null && listPart.Count > 0)
                                                    {
                                                        <option value="Tất cả">Tất cả</option>
                                                        foreach (var item in listPart)
                                                        {
                                                            <option value="@MvcHtmlString.Create(item.PartCode.ToString().Trim())" desc="@MvcHtmlString.Create(item.PartCode.ToString().Trim())" @(partcode.Equals(item.PartCode.ToString().Trim()) ? "selected" : "")>@MvcHtmlString.Create(item.PartCode.ToString().Trim())</option>
                                                        }
                                                    }
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-tk">
                                    <div class="form-group margin-bottom-9">
                                        <div class="col-xs-12 col-sm-8">
                                            <span class="block input-icon input-icon-right">
                                                @RenderItemFormat("BTN_BAO_CAO_TON_KHO_TK", "<a class=\"btn font-color mybtn-Button\" onclick=\"Search()\" href=\"javascript:void(0);\" style=\" \"><img class=\"img-button\" src='" + Url.Content("~/Images/search.svg") + "'></a>", "", "")
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12" style="margin: 10px 0">
                                    @RenderItemFormat("BTN_BAO_CAO_TON_KHO_XUAT_EXCEL", "<a class=\"btn btn-nc-button\" onclick=\"Export()\" href=\"javascript:void(0);\" style=\"box-shadow: 0 2px 4px rgba(0,0,0,.2);color:#057d5a\" title=\"Xuất excel\"><i class=\"fa fa-upload\" aria-hidden=\"true\"></i> Xuất excel</a>", "", "")
                                    <span class="search-bar">
                                        <input type="text" id="txtSearchObj" class="quicksearch txtSearchObj" name="search">
                                        <input type="text" class="quicksearch1 txtSearchObj1" name="search" style="z-index: -1000; height: 0; padding: 0; margin: 0; border: 0">
                                    </span>
                                    @*@Html.Partial("Pagination", null, new ViewDataDictionary() { { "PageCur", MvcHtmlString.Create("1") }, { "PageCount", MvcHtmlString.Create(Model.PageCount.ToString()) }, { "ShowText", showtext } })*@
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="panel-body no-padding" id="panel-body">
                    @Html.AntiForgeryToken()
                    <aside class="col-xs-12 layout-table no-padding">
                        <div class="scrollable-horizontal padding-left-0 padding-right-0 div-scrollable" style="padding-top: 0!important;">
                            <div style="width: 100%; float: left;">
                                <table id="dynamic-table-thead" class="table table-bordered table-thead table-cus table-bottom-0 no-margin">
                                    <thead>
                                        <tr class="trthead">

                                            <th class="cell-50">@MvcHtmlString.Create("TT")</th>
                                            <th fieldId="INVCODE" sorttype="T" class=" cell-150">
                                                @MvcHtmlString.Create("Kho")
                                            </th>
                                            <th fieldId="PARTCODE" sorttype="T" class="cell-150">
                                                @MvcHtmlString.Create("Mã sản phẩm")
                                            </th>
                                            <th fieldId="PARTNAME" sorttype="T" class="cell-150">
                                                @MvcHtmlString.Create("Tên sản phẩm")
                                            </th>
                                            <th class="cell-150">
                                                @MvcHtmlString.Create("Số lượng tồn")
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="scrollable_1" class="scrollable" style="width: 100%; float: left">
                                <table id="dynamic-table-thead-tbody" class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody dynamic-table-thead-tbody">
                                    <tbody id="table-tbodyID">
                                        @if (Model != null && Model.Count > 0)
                                            {
                                                var i = 1;
                                                foreach (var item in Model)
                                                {
                                                    var objpartcode = listPart.FirstOrDefault(it => !CUtils.IsNullOrEmpty(it.PartCode) && !CUtils.IsNullOrEmpty(item.PartCode));
                                                    var qtyPlanTotal = "0";
                                                    if (!CUtils.IsNullOrEmpty(item.QtyTotalOK) && CUtils.IsInteger(item.QtyPlanTotal))
                                                    {
                                                        qtyPlanTotal = CUtils.formatNumeric(Convert.ToDouble(item.QtyPlanTotal), "{0:0,0}");
                                                    }
                                                    <tr class="data-item trdata">
                                                    <td class="text-center  cell-50">@i</td>
                                                    <td fieldId="INVCODE" sorttype="T" class="cell-150">@item.InvCode</td>
                                                    <td fieldId="PARTCODE" sorttype="T" class="cell-150">@item.PartCode</td>

                                                    <td fieldId="PARTNAME" sorttype="T" class="cell-150">@objpartcode.PartName</td>
                                                    <td class="text-center cell-150">@qtyPlanTotal</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.row -->
</div><!-- /.row -->

@section Scripts{
    <script type="text/javascript">
        @*Active Menu*@
        setAdminCurrentUrl('@Url.Action("RptInv_BalanceSerial", "Reports")');

        $('.scrollable').each(function () {
            var $this = $(this);
            $(this).ace_scroll({
                //size: 500,
                size: $this.attr('data-size') || 1000,
                mouseWheelLock: true
                //styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
            });
        });

        @* keypress *@
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                Search();
            }
        });

        function Search()
        {
            $('#manageForm').attr('action', '@Url.Action("RptInv_BalanceSerial", "Reports")').submit();
        }
        var objCommonExcel = new CommonExcel();
        var objVariablesInit = {
            Id_FormMain: '',
            Id_FormImportExcel: 'manageFormImportExcel',
            Id_Modal: 'ImportExcelModal',
            Id_FileInput: 'file',
        };

        var ajaxSettings_Excel = {};
        ajaxSettings_Excel.Type = 'post';
        ajaxSettings_Excel.DataType = 'json';

        function Export() {
            ajaxSettings_Excel.Url = '@Url.Action("ExportRptInv_BalanceSerial", "Reports")';
            debugger;
            var trArr = $('tbody#table-tbodyID tr.trdata');
            if (trArr !== null && trArr.length > 0) {
                objCommonExcel.ajaxSettingsInit();
                objCommonExcel.ajaxSettings = ajaxSettings_Excel;

                var partcode = $("#partcode").val();

                var ListSearchInput = [
                    { Key: "partcode", Value: partcode },
                ];
                objCommonExcel.exportExcel(ListSearchInput);
            } else {
                alert("Lưới dữ liệu trống!");
                return false;
            }
        }
        $("#partcode").select2({
            placeholder: "Tất cả",
            allowClear: true,
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            (function ($) {
                var body = $('body');
                body.on('keyup', '#txtSearchObj', function () {
                    var datafilter = $(this).val();
                    if (datafilter !== undefined && datafilter !== null && datafilter.toString().trim()) {
                        datafilter = datafilter.toUpperCase().trim();
                    }
                    var rex = new RegExp($(this).val(), 'i');
                    $('#table-tbodyID tr').hide();
                    $('#table-tbodyID tr').filter(function () {
                        debugger
                        var dataOfRow = $(this).text();
                        if (dataOfRow !== undefined && dataOfRow !== null && dataOfRow.toString().trim().length > 0) {
                            dataOfRow = dataOfRow.toUpperCase().trim();
                        }
                        if (dataOfRow.toUpperCase().indexOf(datafilter) > -1) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }).show();
                });

            }(jQuery));

        });

        function totalRowSearch() {
            var numOfVisibleRows = $('.table-tbodyID tr').filter(function () {
                return $(this).css('display') === 'table-row';
            }).length;
            if (numOfVisibleRows != null && numOfVisibleRows != '') {
                if (CheckElementExists('#totalRowTable')) {
                    $('#totalRowTable').html(numOfVisibleRows);
                }
            }
        }

        function CheckElementExists(element) {
            if (!IsNullOrEmpty(element)) {
                if ($(element).length > 0) {
                    return true;
                }
            }
            return false;
        }

    </script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/table-sortable-v3.js")"></script>
    <script type="text/javascript">
        var listColumns = {
            'INVCODE': [],
            'PARTCODE': [],
            'PARTNAME': []
        };
        var options = {};
        options.Columns = listColumns;
        $('#dynamic-table-thead').table_Sortable(options);
    </script>
}