@model List<RptSv_Sys_Object>
@{
    var listSysAccess = ViewBag.ListSysAccess as List<RptSv_Sys_Access>;
    if (listSysAccess == null || listSysAccess.Count == 0)
    {
        listSysAccess = new List<RptSv_Sys_Access>();
    }
    var groupCode = ViewBag.GroupCode as string;
    var totalRow = 0;
    if (Model != null && Model.Count > 0)
    {
        totalRow = Model.Count;
    }
}

<style>
    .modal-dialog-selected {
        width: 1000px !important;
    }
</style>
<div class="modal-dialog modal-dialog-selected">
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "manageFormPopupOfSysGroup", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-content" style="height: auto">
            <div class="modal-header">
                <a href="javascript:;" onclick="ClosePopup()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                <h2 class="modal-title" id="exampleModalLabel"><b>Gán Menu - Button vào nhóm: @MvcHtmlString.Create(groupCode)</b></h2>
            </div>
            <div class="modal-body" style="min-height: 250px;">
                <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                    <div class="row">
                        <div class="no-padding-left-right">
                            <div style="margin-top: 5px;">
                                <div class="panel panel-info" style="height: 430px; margin-bottom: 5px;">
                                    <div class="panel-heading">
                                        <h1 class="panel-title">
                                            @MvcHtmlString.Create("Danh sách Menu - Button")

                                        </h1>
                                    </div>
                                    <div class="panel-body" id="panel-body" style="padding-bottom: 5px;">
                                        @Html.Partial("_SearchTablePopup", new ViewDataDictionary() { { "TotalRow", totalRow.ToString().Trim() } })
                                        <div class="scrollable-horizontal-popup padding-left-0 padding-right-0 div-scrollable" data-size="960" style="padding-top: 0!important;">
                                            <div style="width: 100%; float: left;">
                                                <input type="hidden" name="GroupCodePU" id="GroupCodePU" value="@groupCode" />
                                                <table id="dynamic-table-thead" class="table table-bordered table-thead table-cus table-bottom-0">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center cell-30">

                                                                <label class="pos-rel">
                                                                    <input type="checkbox" class="ace" onclick="CheckAll(this);" />
                                                                    <span class="lbl"></span>
                                                                </label>
                                                            </th>
                                                            <th class="text-center cell-300">
                                                                Mã module
                                                            </th>
                                                            <th class="text-center cell-250">
                                                                Mô tả module
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="scrollable-popup" style="width: 100%; float: left;">
                                                <table id="dynamic-table2" class="table table-striped table-bordered table-hover table-tbody">
                                                    <tbody id="table-tbodyID-popup">
                                                        @{
                                                            var idx = 0;

                                                        }
                                                        @foreach (var item in Model)
                                                        {
                                                            var checkuser = "";
                                                            if (listSysAccess.Count > 0)
                                                            {
                                                                if (listSysAccess.Any(it => it.ObjectCode.ToUpper() == item.ObjectCode.ToUpper()))
                                                                {
                                                                    checkuser = "checked";
                                                                }
                                                            }
                                                            <tr class="data-item trdata" idx="@idx">
                                                                <input type="hidden" name="ListSysObject[@idx].ObjectCode" value="@MvcHtmlString.Create(item.ObjectCode)" />
                                                                <input type="hidden" name="ListSysObject[@idx].so_ObjectType" value="@MvcHtmlString.Create(item.ObjectType)" />

                                                                <td class="text-center cell-30">
                                                                    <label class="pos-rel">
                                                                        <input type="checkbox" class="ace" name="ckbpopup" onclick="CheckBox(this)" @checkuser />
                                                                        <span class="lbl"></span>
                                                                    </label>
                                                                </td>
                                                                <td class="text-left cell-300">
                                                                    @MvcHtmlString.Create(item.ObjectCode)
                                                                </td>
                                                                <td class="text-left cell-250">
                                                                    @MvcHtmlString.Create(item.ObjectName)
                                                                </td>
                                                            </tr>
                                                            idx++;
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<a class="btn mybtn-Button" href="javascript:;" onclick="SaveData()" style="margin-left: 10px;">
                        Cập nhật
                    </a>*@
                @RenderItemFormat("BTN_NHOM_ND_GAN_MENU_BUTTON_CAP_NHAT", "<a href=\"javascript:void();\" class=\"btn mybtn-Button\" style=\"margin-left: 10px;\" onclick=\"SaveData();\">Cập nhật</a>", "", "")
            </div>
        </div>
    }
</div>
@*scroll*@
<script type="text/javascript">
    $(document).ready(function () {
        $('.scrollable-horizontal-popup').each(function () {
            var $this = $(this);
            $(this).ace_scroll(
                {
                    horizontal: true,
                    //styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
                    size: $this.attr('data-size') || 600,
                    mouseWheelLock: true
                }
            ).css({ 'padding-top': 0 });
        });

    });
    $('.scrollable-popup').each(function () {
        var $this = $(this);
        $(this).ace_scroll({
            size: 230,
            //size: $this.attr('data-size') || 1000,
            mouseWheelLock: true,
            //styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
        });
    });
</script>

<script type="text/javascript">
    function SaveData() {
        var rows = $("tbody#table-tbodyID-popup tr.trdata").length;
        if (rows > 0) {
            var groupcode = $('#GroupCodePU').val();
            if (!IsNullOrEmpty(groupcode)) {
                var tem = new Object();
                var sysGroup = new Object();
                sysGroup.GroupCode = groupcode;

                tem.RptSv_Sys_Group = sysGroup;
                var ListSysObject = [];
                var trArr = $('tbody#table-tbodyID-popup tr.trdata').has('input[name="ckbpopup"]:checked');
                if (trArr !== undefined && trArr !== null && trArr.length > 0) {

                    for (var i = 0; i < trArr.length; i++) {
                        var trCur = trArr[i];
                        if (trCur != null && trCur != undefined) {
                            var idx = $(trCur).attr('idx');
                            var objectCodeCur = $(trCur).find('input[type="hidden"][name="ListSysObject[' + idx + '].ObjectCode"]').val();
                            var so_ObjectTypeCur = $(trCur).find('input[type="hidden"][name="ListSysObject[' + idx + '].so_ObjectType"]').val();
                            var temSysObject = {};
                            temSysObject.ObjectCode = objectCodeCur;
                            temSysObject.GroupCode = groupcode;
                            temSysObject.so_ObjectType = so_ObjectTypeCur;
                            ListSysObject.push(temSysObject);
                        }
                    }
                }
                tem.Lst_RptSv_Sys_Access = ListSysObject;
                var token = $('#manageFormPopupOfSysGroup input[name=__RequestVerificationToken]').val();
                var modelCur = JSON.stringify(tem);
                var url = '@(Url.Action("SaveObjectInGroup", "RptSv_Sys_Group"))';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        __RequestVerificationToken: token
                        , model: modelCur
                    },
                    traditional: true,
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data)
                    {
                        debugger;
                        if (data.Success) {
                            alert(data.Title);
                            ClosePopup();

                        }
                        else
                        {
                            debugger;
                            if (data.Detail != null) {
                                _showErrorMsg123("Lỗi!", data.Detail);
                            }
                        }
                    }, error: function (XMLHttpRequest, textStatus, errorThrown)
                    {
                        debugger;
                        if (textStatus == 'Unauthorized') {
                            alert('custom message. Error: ' + errorThrown);
                        } else {
                            //alert('custom message. Error2: ' + errorThrown);
                        }
                    }
                });
            }
            else {
                alert('Mã nhóm người dùng trống!');
                return false;
            }
        }
        else {
            alert('Lưới danh sách module trống!');
            return false;
        }
    }
</script>





