@model PageInfo<Mst_Country>
@{
    Layout = "~/Views/Shared/CoreLayout.cshtml";
    var title = "DANH MỤC QUỐC GIA";
    ViewBag.Title = title;
    var startCount = 0;
    var strStartCount = ViewBag.StartCount as string;
    if (!CUtils.IsNullOrEmpty(strStartCount))
    {
        startCount = Convert.ToInt32(strStartCount);
    }

    var pageCur = CUtils.StrValue(ViewBag.PageCur);

    var showtext = "";
    if (Model.ItemCount > 0)
    {
        var recordstart = (Model.PageIndex) * Model.PageSize + 1;
        var recordend = (Model.PageIndex + 1) * Model.PageSize;
        if (recordend > Model.ItemCount)
        {
            recordend = Model.ItemCount;
        }
        showtext = recordstart + "-" + recordend + " trong số " + Model.ItemCount;
    }
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="panel-group" id="steps">
                <div class="panel panel-info">
                    <div class="title">
                        <p style="vertical-align: bottom">@MvcHtmlString.Create(title)</p>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                        <aside class="col-xs-12 no-padding layout-tk">
                            @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "manageForm", @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="search" name="init" id="init" />
                                <div class="col-xs-12 no-padding" style="margin: 10px 0">
                                    @RenderItemFormat("BTN_QL_QUOC_GIA_TAO", "<a class=\"btn btn-nc-button\" href=\'" + @Url.Action("Create", "Sys_Group") + "\' style=\"\" title=\"Tạo mới\"><i class=\"fa fa-plus-circle\" aria-hidden=\"true\"></i> Tạo</a>", "", "")
                                    <a class="btn font-color mybtn-Button" data-toggle="dropdown" aria-expanded="false" style="font-size: 13px; margin-right: 5px;position: relative;">...</a>
                                    <ul class="dropdown-menu" role="menu" style="">
                                        <li>
                                            @RenderItemFormat("BTN_QL_QUOC_GIA_NHAP_EXCEL", "<a class=\"mybtn-Button-1\" onclick=\"ShowPopupImportExcel()\" href=\"javascript:void(0);\" style=\"\"><img class=\"img-button\" src='" + Url.Content("~/Images/import.svg") + "'>Nhập Excel</a>", "", "")
                                        </li>
                                        <li>
                                            @RenderItemFormat("BTN_QL_QUOC_GIA_XUAT_EXCEL_TEM", "<a class=\"mybtn-Button-1\" onclick=\"ExportTemplate()\" href=\"javascript:void(0);\" style=\"\"><img class=\"img-button\" src='" + Url.Content("~/Images/export.svg") + "'>Xuất Template</a>", "", "")
                                        </li>
                                        <li>
                                            @RenderItemFormat("BTN_QL_QUOC_GIA_XUAT_EXCEL", "<a class=\"mybtn-Button-1\" onclick=\"Export()\" href=\"javascript:void(0);\" style=\"\"><img class=\"img-button\" src='" + Url.Content("~/Images/export.svg") + "'>Export Excel</a>", "", "")
                                        </li>
                                    </ul>
                                    <span class="search-bar">
                                        <input type="text" class="quicksearch txtSearchObj" name="search">
                                        <input type="text" class="quicksearch1 txtSearchObj1" name="search" style="z-index: -1000; height: 0; padding: 0; margin: 0; border: 0">
                                    </span>
                                    @Html.Partial("Pagination", null, new ViewDataDictionary() { { "PageCur", MvcHtmlString.Create("1") }, { "PageCount", MvcHtmlString.Create(Model.PageCount.ToString()) }, { "recordcount", MvcHtmlString.Create(Model.PageSize.ToString()) }, { "ShowText", showtext } })
                                    <input type="hidden" value="@MvcHtmlString.Create(pageCur)" name="page" id="page" />
                                    <input type="hidden" value="@MvcHtmlString.Create(Model.PageCount.ToString())" name="totalpage" id="totalpage" />

                                </div>
                            }
                        </aside>
                    </div>
                    <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                        @Html.AntiForgeryToken()
                        <aside class="col-xs-12 layout-table no-padding">
                            <div class="scrollable-horizontal padding-left-0 padding-right-0 div-scrollable" style="padding-top: 0!important;">
                                <div style="width: 100%; float: left;">
                                    <table id="dynamic-table-thead" class="table table-bordered table-thead table-cus table-bottom-0 no-margin">
                                        <thead>
                                            <tr>
                                                <th class="text-center cell-50">@MvcHtmlString.Create("STT")</th>
                                                <th class="cell-100">&nbsp;</th>
                                                <th fieldId="COUNTRYCODE" class="text-center cell-100">
                                                    @MvcHtmlString.Create("Mã quốc gia")
                                                </th>
                                                <th fieldId="COUNTRYNAME" class="text-center cell-200">
                                                    @MvcHtmlString.Create("Tên quốc gia")
                                                </th>
                                                <th class="text-center cell-100">
                                                    @MvcHtmlString.Create("Trạng thái")
                                                </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div id="scrollable_1" class="scrollable" data-size="500" style="width: 100%; float: left; height: 80px">
                                    <table id="dynamic-table-thead-tbody" class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody">
                                        <tbody id="table-tbodyID">

                                            @if (Model != null && Model.DataList != null && Model.DataList.Count > 0)
                                            {
                                                var idx = 0;
                                                foreach (var item in Model.DataList)
                                                {
                                                    var iindex = startCount + (idx + 1);
                                                    var countrycode = "";
                                                    if (!CUtils.IsNullOrEmpty(item.CountryCode))
                                                    {
                                                        countrycode = CUtils.StrValueOrNull(item.CountryCode);
                                                    }
                                                    var countryname = "";
                                                    if (!CUtils.IsNullOrEmpty(item.CountryName))
                                                    {
                                                        countryname = CUtils.StrValueOrNull(item.CountryName);
                                                    }
                                                    var flagActive = "";
                                                    if (!CUtils.IsNullOrEmpty(item.FlagActive))
                                                    {
                                                        flagActive = CUtils.StrValueOrNull(item.FlagActive);
                                                    }
                                                    <tr idx="@idx" class="data-item trdata">

                                                        <td class=" cell-100">
                                                            <div class="action-buttons padding-top-2">
                                                                @{
                                                                    var urlDetail = Url.Action("Detail", "Mst_Country", new { countrycode = item.CountryCode });
                                                                    var urlUpdate = Url.Action("Update", "Mst_Country", new { countrycode = item.CountryCode });

                                                                }
                                                                @RenderItemFormat("BTN_QL_QUOC_GIA_CHI_TIET", "<a class=\"icon-detail\" href=\'" + urlDetail + "\' title=\"Chi tiết\"><img class=\"img-icon\" src='" + Url.Content("~/Images/Xem.svg") + "'></a>", "", "")
                                                                @RenderItemFormat("BTN_QL_QUOC_GIA_SUA", "<a class=\"icon-edit\" href=\'" + urlUpdate + "\' title=\"Sửa\"><img class=\"img-icon\" src='" + Url.Content("~/Images/Sua.svg") + "'></a>", "", "")
                                                                @RenderItemFormat("BTN_QL_QUOC_GIA_XOA", "<a href=\"javascript:;\" class=\"icon-delete\" title=\"Xóa\" onclick=\"Delete('" + item.CountryCode.ToString() + "','" + item.CountryName.ToString() + "')\"><img class=\"img-icon\" src='" + Url.Content("~/Images/Xoa.svg") + "'></a>", "", "")
                                                            </div>
                                                        </td>
                                                        <td class="text-center cell-50">
                                                            @MvcHtmlString.Create(iindex.ToString())
                                                        </td>
                                                        <td fieldId="COUNTRYCODE" class="text-left cell-100">
                                                            @MvcHtmlString.Create(countrycode)
                                                        </td>
                                                        <td fieldId="COUNTRYNAME" class="text-left cell-200">
                                                            @MvcHtmlString.Create(countryname)
                                                        </td>
                                                        <td class=" cell-100">

                                                            @if (flagActive.Equals("1"))
                                                            {
                                                                <span class="label label-sm label-success">Active</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-sm label-danger">Inactive</span>
                                                            }
                                                        </td>
                                                    </tr>
                                                    idx++;
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </aside>
                    </div>

                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
@*Import Excel*@
<div class="modal fade" id="ImportExcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/Mst_Country.js")"></script>
    <script type="text/javascript">
        @*Active Menu*@
        setAdminCurrentUrl('@Url.Action("Index", "Mst_Country")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });

        @* Set focus *@
        $(document).ready(function () {
            $('#BrandCode').focus();
        });

        @* Scroll *@
        $(document).ready(function () {
            $('.scrollable-horizontal').each(function () {
                var $this = $(this);
                $(this).ace_scroll(
                    {
                        horizontal: true,
                        //styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
                        size: $this.attr('data-size') || 6500,
                        mouseWheelLock: true
                    }
                ).css({ 'padding-top': 0 });
            });
        });
        $('.scrollable').each(function () {
            var $this = $(this);
            $(this).ace_scroll({
                //size: 500,
                size: $this.attr('data-size') || 1000,
                mouseWheelLock: true
                //styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
            });
        });

        @* keypress *@
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                Search();
            }
        });

        var objMst_Country = new Mst_Country();
        function Delete(countryCode, countryname) {
            var objMst_Country_Delete = {
                CountryCode: countryCode,
                CountryName: countryname,
            };

            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Delete", "Mst_Country")';

            objMst_Country.Image_Message = "<img id=\"exclamation-circle\" style=\"width: 35px; float: left; margin-right: 10px\" src=\"@Url.Content("~/Images/exclamation-circle-solid.svg")\"> THÔNG BÁO";
            objMst_Country.Confirm_Message = "Đồng ý xóa Country '" + countryCode + "' - '" + countryname + "' ?";
            objMst_Country.ajaxSettings = ajaxSettings;
            objMst_Country.deleteData(objMst_Country_Delete);
        }

        var objCommonExcel = new CommonExcel();
        var objVariablesInit = {
            Id_FormMain: '',
            Id_FormImportExcel: 'manageFormImportExcel',
            Id_Modal: 'ImportExcelModal',
            Id_FileInput: 'file',
        };

        var ajaxSettings_Excel = {};
        ajaxSettings_Excel.Type = 'post';
        ajaxSettings_Excel.DataType = 'json';

        function ShowPopupImportExcel() {
            ajaxSettings_Excel.Url = '@Url.Action("ShowPopupImportExcel", "Admin")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.variablesInit(objVariablesInit);
            objCommonExcel.showPopupImportExcel();
        }

        function ImportFileExcel() {
            ajaxSettings_Excel.Url = '@Url.Action("Import", "Mst_Country")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.variablesInit(objVariablesInit);
            objCommonExcel.importFileExcel();
        }

        function ExportTemplate() {
            ajaxSettings_Excel.Url = '@Url.Action("ExportTemplate", "Mst_Country")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.exportExcel();
        }

        function Export() {
            ajaxSettings_Excel.Url = '@Url.Action("Export", "Mst_Country")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.exportExcel();
        }

    </script>

    <script type="text/javascript">
        var listColumns = {
            'COUNTRYCODE': [],
            'COUNTRYNAME': []
        };
        var options = {};
        options.Columns = listColumns;
        $('#dynamic-table-thead').table_Sortable(options);
    </script>
}
