@model RT_InvF_InventoryOut
@{
    var Lst_Mst_Inventory = ViewBag.Lst_Mst_Inventory as List<Mst_Inventory>;
    var Lst_Mst_InventoryType = ViewBag.Lst_Mst_InventoryType as List<Mst_InventoryType>;
    var Lst_Mst_InventoryLevelType = ViewBag.Lst_Mst_InventoryLevelType as List<Mst_InventoryLevelType>;
    var IFInvOutNo = ViewBag.IFInvOutNo == null ? "" : ViewBag.IFInvOutNo.ToString();

    var lst_Mst_InvOutType = new List<Mst_InvOutType>();
    if (ViewBag.Lst_Mst_InvOutType != null)
    {
        lst_Mst_InvOutType = ViewBag.Lst_Mst_InvOutType as List<Mst_InvOutType>;
    }


    var profileStatus = "";
    if(Model != null && Model.Lst_InvF_InventoryOut.Count > 0)
    {
        profileStatus = CUtils.StrValue(Model.Lst_InvF_InventoryOut[0].ProfileStatus);
    }

    var lstCustomer = new List<Mst_Customer>();
    if (ViewBag.Lst_MstCustomer != null)
    {
        lstCustomer = ViewBag.Lst_MstCustomer as List<Mst_Customer>;
    }

    var Lst_InvF_InventoryOutCover = new List<InvF_InventoryOutCover>();
    if (ViewBag.Lst_InvF_InventoryOutCover != null)
    {
        Lst_InvF_InventoryOutCover = ViewBag.Lst_InvF_InventoryOutCover as List<InvF_InventoryOutCover>;
    }

    var Lst_InvF_InventoryOutInstLot = new List<InvF_InventoryOutInstLot>();
    if (ViewBag.lstInvF_InventoryOutInstLot != null)
    {
        Lst_InvF_InventoryOutInstLot = ViewBag.lstInvF_InventoryOutInstLot as List<InvF_InventoryOutInstLot>;

    }

    var Lst_InvF_InventoryOutInstSerial = new List<InvF_InventoryOutInstSerial>();
    if (ViewBag.lstInvF_InventoryOutInstSerial != null)
    {
        Lst_InvF_InventoryOutInstSerial = ViewBag.lstInvF_InventoryOutInstSerial as List<InvF_InventoryOutInstSerial>;
    }

    var Lst_InvF_InventoryOutDtl = new List<InvF_InventoryOutDtl>();
    if (ViewBag.lstInvF_InventoryOutDtl != null)
    {
        Lst_InvF_InventoryOutDtl = ViewBag.lstInvF_InventoryOutDtl as List<InvF_InventoryOutDtl>;
    }
    var viewType = "exportcross";
}
@{
    ViewBag.Title = "Phiếu xuất chéo";
}
<script src="~/Content/assets/js/myjs/inventoryout.js"></script>
<script src="~/Scripts/mine/InvF_InventoryOut.js"></script>

<div class="col-12 row">
    <aside class="col-md-8">
        <div class="form-group" style="float: left; margin-top: 10px;">
            @RenderItemFormat("BTN_INVF_INVENTORYOUT_EXPORTCROSS_SAVE", "<a href=\"javascript:void(0);\" class=\"btn btn-nc-button\" id=\"btnSave\" onclick=\"SaveDataExpCross1();\"><i class=\"fa fa-save\" aria-hidden=\"true\"></i> Lưu</a>", "", "")
            <a class="btn font-color btn-nc-button" data-toggle="dropdown" aria-expanded="false" style="font-size: 13px; position: relative;"><i class="fas fa-ellipsis-h"></i></a>
            <ul class="dropdown-menu dropdown-action" role="menu" style=""></ul>
        </div>
    </aside>
</div>

<div class="mt-3">
    <div class="col-12">
        @using (Html.BeginForm("Save", "InvF_InventoryOut", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="col-12 row">
                <div class="col-12 row">
                    <aside class="col-md-4">
                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="IF_InvOutNo_Root">
                                @("Số phiếu xuất".HtmlItemString("invf_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="col-md-12 text-bold" name="IF_InvOutNo" id="IF_InvOutNo" readonly="readonly" value="@IFInvOutNo" />
                                <input type="hidden" name="IF_InvOutNo_Root" id="IF_InvOutNo_Root" value="@Model.Lst_InvF_InventoryOut[0].IF_InvOutNo" />
                            </div>
                        </div>

                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="InvInType">
                                @("Loại xuất kho".HtmlItemString("invf_inventoryout"))
                                <span style="color: red "> *</span>
                            </label>
                            <div class="col-md-8">
                                <span class="block input-icon input-icon-right">
                                    <select id="InvOutType" name="InvOutType" showpopup-control-searchdata="#ShowPopupInvInType" class="col-md-12" onchange="ChangeInvOutType(this);" disabled>
                                        <optgroup label="">
                                            <option value="">--Chọn Loại xuất kho--</option>
                                            @if (lst_Mst_InvOutType != null && lst_Mst_InvOutType.Count > 0)
                                            {
                                                foreach (var item in lst_Mst_InvOutType)
                                                {
                                                    var invOutType = CUtils.StrValue(item.InvOutType);
                                                    var invOutTypeName = CUtils.StrValue(item.InvOutTypeName);
                                                    <option @(Model.Lst_InvF_InventoryOut[0].InvOutType.Equals(item.InvOutType) ? "selected" : "") value="@MvcHtmlString.Create(invOutType)">@MvcHtmlString.Create(invOutTypeName)</option>
                                                }
                                                <option value="Search">Tìm kiếm</option>
                                            }
                                        </optgroup>
                                        @*<option value="SEARCHDATA">@("Tìm kiếm".HtmlItemString("invf_inventoryout"))</option>*@
                                    </select>
                                </span>
                            </div>
                        </div>



                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="InvFCFOutCode01">
                                @("Code xuất khẩu".HtmlItemString("invf_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="col-md-12" name="InvFCFOutCode01" id="InvFCFOutCode01" value="@(Model.Lst_InvF_InventoryOut[0].InvFCFOutCode01 == null ? "" : Model.Lst_InvF_InventoryOut[0].InvFCFOutCode01)" />
                            </div>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="input1">
                                @("Khách hàng".HtmlItemString("customer_inventoryout"))
                                <span style="color: red "> *</span>
                            </label>
                            <div class="col-md-8">
                                <select class="col-md-12" id="CustomerCode" name="CustomerCode" onchange="ChangeCustomer(this);">
                                    <option value="">Tất cả</option>
                                    <option value="Search">Tìm kiếm</option>
                                    @if (lstCustomer != null && lstCustomer.Count > 0)
                                    {
                                        foreach (var item in lstCustomer)
                                        {
                                            <option @(Model.Lst_InvF_InventoryOut[0].CustomerCode.Equals(item.CustomerCodeSys) ? "selected" : "") value="@item.CustomerCodeSys">@item.CustomerCode - @item.CustomerName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="RefNo">
                                @("Số đơn hàng".HtmlItemString("refno_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" onchange="FillCustomerOrder(this,'@Url.Action("GetOrderDetail", "InvF_InventoryOut")');" class="col-md-12" readonly="readonly" name="RefNo" id="RefNo" value="@(Model.Lst_InvF_InventoryOut[0].RefNo == null ? "" : Model.Lst_InvF_InventoryOut[0].RefNo)" />
                                <input type="text" id="RefType" name="RefType" hidden value="@(Model.Lst_InvF_InventoryOut[0].RefType == null ? "" : Model.Lst_InvF_InventoryOut[0].RefType)" />
                                <input type="text" id="RefNoSys" name="RefNoSys" hidden value="@(Model.Lst_InvF_InventoryOut[0].RefNoSys == null ? "" : Model.Lst_InvF_InventoryOut[0].RefNoSys)" />
                                <input type="text" id="QtyInvOutAvail" name="QtyInvOutAvail" hidden />
                                @*<input type="checkbox" id="FlagXuatTuDH" onchange="ChangeXuatTuDH(this);" disabled />
                                    <label>
                                        @("Xuất từ đơn hàng".HtmlItemString("fromorder_inventoryout"))
                                    </label>*@
                            </div>
                        </div>

                        @*<div class="form-group margin-bottom-9">
                                <label class="control-label col-md-4" for="InvCodeOut">
                                    @("Kho xuất".HtmlItemString("invf_inventoryout"))
                                    <span style="color: red "> *</span>
                                </label>
                                <div class="col-md-8">
                                    <span class="block input-icon input-icon-right">
                                        <select id="InvCodeOut" name="InvCodeOut" showpopup-control-searchdata="#ShowPopupInvCodeOut" class="col-md-12 mstinventory" onchange="ChangeInvCodeOut(this); " disabled>
                                            <optgroup label="">
                                                <option value="">--Chọn kho xuất--</option>
                                                <option value="Search">Tìm kiếm</option>
                                                @if (Lst_Mst_Inventory != null && Lst_Mst_Inventory.Count > 0)
                                                {
                                                    foreach (var item in Lst_Mst_Inventory)
                                                    {
                                                        var invCode = CUtils.StrValue(item.InvCode);
                                                        var invName = CUtils.StrValue(item.InvName);
                                                        <option @(Model.Lst_InvF_InventoryOut[0].InvCodeOut.Equals(item.InvCode) ? "selected" : "") invBUPattern="@(item.InvBUPattern == null ? "" : item.InvBUPattern)" value="@MvcHtmlString.Create(invCode)">@MvcHtmlString.Create(invName)</option>
                                                    }
                                                }

                                            </optgroup>

                                        </select>
                                    </span>
                                </div>
                            </div>*@

                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="InvFCFOutCode02">
                                @("Số Container".HtmlItemString("invf_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="col-md-12" name="InvFCFOutCode02" id="InvFCFOutCode02" value="@(Model.Lst_InvF_InventoryOut[0].InvFCFOutCode02 == null ? "" : Model.Lst_InvF_InventoryOut[0].InvFCFOutCode02)" />
                            </div>
                        </div>
                    </aside>
                    <aside class="col-md-4">
                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="InvCodeOut">
                                @("Kho xuất".HtmlItemString("invf_inventoryout"))
                                <span style="color: red "> *</span>
                            </label>
                            <div class="col-md-8">
                                <span class="block input-icon input-icon-right">
                                    <select id="InvCodeOut" name="InvCodeOut" showpopup-control-searchdata="#ShowPopupInvCodeOut" class="col-md-12 mstinventory" onchange="ChangeInvCodeOut(this); " disabled>
                                        <optgroup label="">
                                            <option value="">--Chọn kho xuất--</option>
                                            <option value="Search">Tìm kiếm</option>
                                            @if (Lst_Mst_Inventory != null && Lst_Mst_Inventory.Count > 0)
                                            {
                                                foreach (var item in Lst_Mst_Inventory)
                                                {
                                                    var invCode = CUtils.StrValue(item.InvCode);
                                                    var invName = CUtils.StrValue(item.InvName);
                                                    <option @(Model.Lst_InvF_InventoryOut[0].InvCodeOut.Equals(item.InvCode) ? "selected" : "") invBUPattern="@(item.InvBUPattern == null ? "" : item.InvBUPattern)" value="@MvcHtmlString.Create(invCode)">@MvcHtmlString.Create(invName)</option>
                                                }
                                            }

                                        </optgroup>

                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="Remark">
                                @("Nội dung xuất".HtmlItemString("remark_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <textarea class="col-md-12" name="Remark" id="Remark" rows="2">@(Model.Lst_InvF_InventoryOut[0].Remark == null ? "" : Model.Lst_InvF_InventoryOut[0].Remark)</textarea>
                            </div>
                        </div>

                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="InvFCFOutCode03">
                                @("Biển số xe".HtmlItemString("invf_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="col-md-12" name="InvFCFOutCode03" id="InvFCFOutCode03" value="@(Model.Lst_InvF_InventoryOut[0].InvFCFOutCode03 == null ? "" : Model.Lst_InvF_InventoryOut[0].InvFCFOutCode03)" />
                            </div>
                        </div>
                        @*<div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="input1">
                                @("TT hồ sơ".HtmlItemString("customer_inventoryout"))
                                <span style="color: red "> *</span>
                            </label>
                            <div class="col-md-8">
                                <select class="col-md-12 profileStatus" id="profileStatus" name="">
                                    <optgroup label="">
                                        <option value=""></option>
                                        <option value="0" @(profileStatus.Equals("0") ? "selected" : "")>Chưa nhận</option>
                                        <option value="1" @(profileStatus.Equals("1") ? "selected" : "")>Đã nhận đủ</option>



                                    </optgroup>
                                </select>
                            </div>
                        </div>

                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="Remark">
                                @("File đính kèm".HtmlItemString("remark_inventoryout"))
                            </label>
                            <div class="col-md-8">

                                <div class="col-12 row no-margin muti-title" style="margin-bottom: 7px!important;">
                                    Danh sách tệp tin
                                </div>
                                <div style="margin: 10px 0;">

                                </div>
                                <table class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody dynamic-table-thead-tbody" style="margin-bottom:8px">
                                    <tbody id="tbody-Order_FileUpload" class="tbody-Order_FileUpload">
                                       
                                    </tbody>
                                </table>
                                <span class="block input-icon input-icon-right">
                                    <a href="javascript:void(0);" id="btn_add_file" class="btn btn-nc-button">
                                        <i class="fas fa-file-upload"></i>
                                        Thêm file đính kèm
                                    </a>
                                    <br />
                                </span>
                            </div>
                        </div>*@
                    </aside>
                </div>
                <div class="col-12 row">
                    <aside class="col-md-8">
                        @*<div class="form-group" style="float: left; margin-top: 82px;">
                                @RenderItemFormat("", "<a href=\"javascript:void(0);\" class=\"btn btn-nc-button\" id=\"btnSave\" onclick=\"SaveDataExpCross1();\"><i class=\"fa fa-save\" aria-hidden=\"true\"></i> Lưu</a>", "", "")
                            </div>*@
                    </aside>
                    <aside class="col-md-4">
                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="TotalValOut">
                                @("Tổng tiền hàng (VNĐ)".HtmlItemString("labeltotalvalout_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" class="col-md-12 text-right" readonly="readonly" name="TotalValOut" id="TotalValOut" value="@(Model.Lst_InvF_InventoryOut[0].TotalValOut == null ? "0" : Model.Lst_InvF_InventoryOut[0].TotalValOut.ToString())" />
                            </div>
                        </div>

                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="TotalValOutDesc">
                                @("Giảm giá (VNĐ)".HtmlItemString("labeltotalvaloutdesc_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" value="@(Model.Lst_InvF_InventoryOut[0].TotalValOutDesc == null ? "0" : Model.Lst_InvF_InventoryOut[0].TotalValOutDesc.ToString())" class="col-md-12 text-right" readonly="readonly" name="TotalValOutDesc" id="TotalValOutDesc" />
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label class="control-label col-md-4" for="TotalValOutAfterDesc">
                                @("Tổng tiền thanh toán (VNĐ)".HtmlItemString("totalvaloutafterdesc_inventoryout"))
                            </label>
                            <div class="col-md-8">
                                <input type="text" value="@(Model.Lst_InvF_InventoryOut[0].TotalValOutAfterDesc == null ? "0" : Model.Lst_InvF_InventoryOut[0].TotalValOutAfterDesc.ToString())" class="col-md-12 text-right" readonly="readonly" name="TotalValOutAfterDesc" id="TotalValOutAfterDesc" />
                            </div>
                        </div>
                    </aside>
                </div>
            </div>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ProductInformation">@("Danh mục hàng hóa".HtmlItemString("tabproduct_inventoryout"))</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#AuthenticationInformation">@("Thông tin xác thực".HtmlItemString("tabxacthuc_inventoryout"))</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="ProductInformation" class="container-fluid padding-left-right-15 tab-pane active">
                    @*<div class="panel-body row no-margin no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                            <div class="col-12 padding-left-0 padding-right-0 div-scrollable" style="padding-top: 0!important;">
                                <div style="width: 100%; float: left;">
                                    <div class="margin-bottom-9" style="width: 60%; margin-top: 9px">
                                    </div>
                                    @Html.Partial("lstInvF_InventoryOutDtlExportCross", new ViewDataDictionary() { { "Lst_InvF_InventoryOutCover", Lst_InvF_InventoryOutCover } })
                                </div>
                            </div>
                        </div>*@
                    @Html.Partial("Load_Table_InvF_InventoryOutDtlExportCross", new ViewDataDictionary() {

                    { "Lst_InvF_InventoryOutCover", Lst_InvF_InventoryOutCover },
                   { "Lst_InvF_InventoryOutDtl", Lst_InvF_InventoryOutDtl },
                   { "Lst_InvF_InventoryOutInstLot", Lst_InvF_InventoryOutInstLot },
                   { "Lst_InvF_InventoryOutInstSerial", Lst_InvF_InventoryOutInstSerial },
                   { "ViewType", viewType },
              })

                </div>
                <div id="AuthenticationInformation" class="container-fluid padding-left-right-15 tab-pane">
                    <br>
                    <div class="panel-body row no-margin no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                        <div class="col-12 padding-left-0 padding-right-0 div-scrollable" style="padding-top: 0!important;">
                            <div style="width: 100%; float: left;">
                                <div class="margin-bottom-9" style="width: 60%; margin-top: 9px">
                                </div>
                                @Html.Partial("lstHangHoaXacThuc", new ViewDataDictionary() { { "lstInvF_InventoryOutQR", ViewBag.lstInvF_InventoryOutQR } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*@Html.Partial("_TemplateLotAndSerial", new ViewDataDictionary() { { "lstInvF_InventoryOutInstLot", ViewBag.lstInvF_InventoryOutInstLot }, { "lstInvF_InventoryOutInstSerial", ViewBag.lstInvF_InventoryOutInstSerial }, { "lstInvF_InventoryOutDtl", ViewBag.lstInvF_InventoryOutDtl } })*@


@Html.Partial("~/Views/ModalCommon/_ModalShow.cshtml")

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //$('.select2-selection').select2();
            $('#FlagIn_Out').select2({
                minimumResultsForSearch: -1
            })
            $("select#InvCodeOut").select2();
            $("select#InvOutType").select2();
            $("select#CustomerCode").select2();
            $("select#ProductCode").select2();
            $("select#profileStatus").select2();



            //FormatNumber('#TotalValOut', 2);
            //FormatNumber('#TotalValOutDesc', 2);
            //FormatNumber('#TotalValOutAfterDesc', 2);
            format_Number();
            if ($('.number').length) {
                $('.number').number(true, 2);
            }
        });



        function format_Number(){
            var tableName = 'InvF_InventoryOut';
            var totalValOutFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'TotalValOut');
                    var totalValOutDescFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'TotalValOutDesc');
                    var totalValOutAfterDescFormat = objMst_ColumnConfig.returnValueColumnFormat_V2(tableName, 'TotalValOutAfterDesc');
            $('#TotalValOut').number(true, totalValOutFormat);
            $('#TotalValOutDesc').number(true, totalValOutDescFormat);
        $('#TotalValOutAfterDesc').number(true, totalValOutAfterDescFormat);
        }



        function ShowLo(productCode) {
        var invBUPattern = "";
        var invcodeout = $('#InvCodeOut').val();

        if (invcodeout == "") {
            alert("Kho xuất chưa được chọn");
            $('#InvCodeOut').focus();
            return;
        }
        var optSelect = $('#InvCodeOut').find('option:selected');
        invBUPattern = $(optSelect).attr("invBUPattern");

        var url = '@Url.Action("Lo", "InvF_InventoryOut")';
        $.ajax({
            url: url,
            data: {
                productCode: productCode,
                invBUPattern: invBUPattern
            },
            type: 'post',
            dataType: 'json',
            traditional: true,
            success: function (data) {
                if (data.Success) {

                    $('#ShowPopupLo').modal({
                        backdrop: false,
                        keyboard: true,
                    });
                    $("#ShowPopupLo").html(data.Html); // truyen html vao #form
                    var display = $("#ShowPopupLo").css('display');
                    if (display == "none") {
                        $("#ShowPopupLo").show();
                    }
                } else {
                    showErrorDialog(data.Detail);
                }
            }
        });
        }

        function ShowInvOut(thiz, ProductCode, IF_InvOutNo, onlyView, ProductCodeUser, ProductName) {
        debugger;
        var tr = $(thiz).parents('tr');
        var idx = tr.attr("idx");
        var donvi = tr.find('select[name="Lst_InvF_InventoryOutDtl[' + idx + '].UnitCode"]').find('option:selected');
        var strValConvert = "";
        if (donvi != undefined) {
            strValConvert = donvi.attr('valconvert');
        }
        var ProductCodeBase = tr.attr("productcodebase");
        var invBUPattern = "";

        var optSelect = $('#InvCodeOut').find('option:selected');
        invBUPattern = $(optSelect).attr("invBUPattern");

        var url = '@Url.Action("GetTonKho", "InvF_InventoryOut")';
        $.ajax({
            url: url,
            data: {
                productCode: ProductCode,
                invBUPattern: invBUPattern,
                productCodeBase: ProductCodeBase,
                ValConvert: strValConvert,
                IF_InvOutNo: IF_InvOutNo,
                onlyView: onlyView,
                ProductCodeUser: ProductCodeUser,
                ProductName: ProductName
            },
            type: 'post',
            dataType: 'json',
            traditional: true,
            success: function (data) {
                if (data.Success) {
                    $('#ShowPopupTonKho').modal({
                        backdrop: false,
                        keyboard: true,
                    });
                    $("#ShowPopupTonKho").html(data.Html); // truyen html vao #form
                    var display = $("#ShowPopupTonKho").css('display');
                    if (display == "none") {
                        $("#ShowPopupTonKho").show();
                    }
                    ShowTonKhoCache(ProductCode);
                } else {
                    showErrorDialog(data.Detail);
                }
            }
        });
        }

        function ShowSerial(productCode, ProductCodeBase, ProductCodeUser, ProductName, IF_InvOutNo) {
            var invBUPattern = "";
            var invcodeout = $('#InvCodeOut').val();
            var existKho = $('select.mstinventory').length;
            if (existKho > 0) {
                var mstInventory = $('select.mstinventory').eq(0);
                invcodeout = mstInventory.val();

                var optSelect = mstInventory.find('option:selected');
                invBUPattern = $(optSelect).attr("invBUPattern");
            }

            if (invcodeout === "") {
                alert("Kho xuất chưa được chọn");
                $('#InvCodeOut').focus();
                return;
            }
            var url = '@Url.Action("Serial", "InvF_InventoryOut")';
            $.ajax({
                url: url,
                data: {
                    productCode: productCode,
                    invBUPattern: invBUPattern,
                    productCodeBase: ProductCodeBase,
                    //type: type,
                    productCodeUser: ProductCodeUser,
                    productName: ProductName,
                    IF_InvOutNo: IF_InvOutNo
                },
                type: 'post',
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        $('#ShowPopupSerial').modal({
                            backdrop: false,
                            keyboard: true,
                        });
                        $("#ShowPopupSerial").html(data.Html); // truyen html vao #form
                        var display = $("#ShowPopupSerial").css('display');
                        if (display == "none") {
                            $("#ShowPopupSerial").show();
                        }
                        ShowSerialCache(productCode);
                    } else {
                        showErrorDialog(data.Detail);
                    }
                }
            });
        }

        function DeleteProductExpCross(thiz) {
            var tr = $(thiz).parents('tr');
            var productCode = tr.attr('productCode');
            var ProductCodeUser = tr.attr('ProductCodeUser');
            bootbox.confirm("Đồng ý xóa hàng hóa " + ProductCodeUser + "?", function (result) {
                if (result) {
                    if (tr !== undefined) {
                        tr.remove();
                        var tbodyID = tr.parents('tbody').attr('idx');
                        var trUpdate = tbodyID + ' tr';
                        updateTableTrIdx($("#" + trUpdate), false);
                        TongTienExpCross();

                        // Xóa luôn dữ liệu từ các bảng lot serial và combo
                        var lengthtblLo = $("#table-detailLot tr.trdata[productcode='" + productCode + "']").length;
                        if (lengthtblLo > 0) {
                            $("#table-detailLot tr.trdata[productcode='" + productCode + "']").remove();
                        }
                        var lengthtblComBo = $("#table-detailCombo tr.trdata[productcode='" + productCode + "']").length;
                        if (lengthtblComBo > 0) {
                            $("#table-detailCombo tr.trdata[productcode='" + productCode + "']").remove();
                        }
                        var lengthtblSerial = $("#table-detailSerial tr.trdata[productcode='" + productCode + "']").length;
                        if (lengthtblSerial > 0) {
                            $("#table-detailSerial tr.trdata[productcode='" + productCode + "']").remove();
                        }
                    }

                }
            });
        }
    </script>

    <script>
        function SaveDataExpCross1() {
            debugger
                          var ajaxSettings = {};
        ajaxSettings.Type = 'post';
        ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("SaveExportCross", "InvF_InventoryOut")';

            var objInvF_InventoryOut = new InvF_InventoryOut();
            objInvF_InventoryOut.ActionType = 'createExportCross';
            objInvF_InventoryOut.ajaxSettings = ajaxSettings;
            objInvF_InventoryOut.SaveDataExpCross();

        }
    </script>


}


@Html.Partial("TemplateExportCross", Model, new ViewDataDictionary()
{

})

@Html.Partial("Template_ScriptsExportCross", Model, new ViewDataDictionary()
{
    { "ViewType", viewType },
})
