@{ 
    var viewType = CUtils.StrValue(ViewBag.ViewType);
}

<div class="panel-body row no-margin no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
    <div class="col-12 padding-left-0 padding-right-0 div-scrollable" style="padding-top: 0!important;">
        <div style="width: 100%; float: left;">
            <div class="margin-bottom-9" style="width: 60%; margin-top: 9px">
                <form autocomplete="off">
                    <div class="form-group autocomplete row col-10">
                        <label class="control-label" style="margin-right: 20px;">
                            @("Mã xác thực".HtmlItemString("productcode_inventoryout"))
                        </label>
                        @*@if (!viewType.Equals("detail"))
                        {*@
                            <input class="col-8" id="QRNoSearch" type="text" name="QRNoSearch" Onchange="AddRowQRCodeByProductCode(this, '#rowtemplateQR', '#table-tbodyIDXacThuc', '@Url.Action("GetInfoInventoryOutQR", "ModalCommon")');" @*onkeyup="Autocompleteseacrh()"*@ placeholder="@("Quét mã vạch hoặc nhập mã, tên để tìm kiếm".HtmlItemString("xacthuc_inventoryout"))">
                            <a href="javascript:void(0);" class="btn btn-nc-button" style="margin-left: 10px" id="btnScanXacThuc" onclick="StartScanXacThuc()">@("Quét".HtmlItemString("invf_inventoryin"))</a>
                            <a href="javascript:void(0);" class="btn btn-nc-button" id="btnMore" onclick="MoreExcel()">...</a>
                        @*}*@

                    </div>
                </form>
            </div>
            @Html.Partial("lstHangHoaXacThuc", new ViewDataDictionary() { { "lstInvF_InventoryOutQR", ViewBag.lstInvF_InventoryOutQR } })
        </div>
    </div>

</div>

<script>
    $('select.ProductGrpCodeSearch').select2();
</script>


