@model RT_InvF_InventoryOut
@{
    /**/

    /**/

    ViewBag.Title = "Template";

    var tmpl_selected = "==selected==";
    var disabledCss = "";

    string viewType = CUtils.StrValue(ViewBag.ViewType);
    var disabled = "";


    if (viewType.Equals("detail"))
    {
        disabled = "disabled-fix";
    }


    var status = ViewBag.Status;



    var userState = ViewBag.UserState as UserState;
    var flagActive = "0";
    var flagdisplaynone = "";

    if (userState.RT_Mst_Sys_Config != null && userState.RT_Mst_Sys_Config.Lst_Mst_Sys_Config != null && userState.RT_Mst_Sys_Config.Lst_Mst_Sys_Config.Count > 0)
    {
        foreach (var item in userState.RT_Mst_Sys_Config.Lst_Mst_Sys_Config)
        {

            if (item.SysConfigID.Equals("IF_InvOut"))
            {
                flagActive = CUtils.StrValue(item.FlagActive);
            }
        }
    }
    if (flagActive.Equals("0"))
    {
        flagdisplaynone = "display-none";
    }
}



@*Template lưới hàng hóa*@
<script type="text/template" id="tmpl_ShowPopup_Product_FlagSerial">
    <a href="javascript:;" title="Chi tiết Serial" onclick="showPopupSerial('==ProductCode==','==ProductCodeUser==','==ProductName==','==ProductCodeBase==')">(Serial)</a>
</script>
<script type="text/template" id="tmpl_ShowPopup_Product_FlagLot">
    <a href="javascript:;" title="Chi tiết Lô" onclick="showPopupLot(this, '==ProductCode==','==ProductCodeUser==','==ProductName==','==ProductCodeBase==', '==ValConvert==')">(Lô)</a>
</script>
<script type="text/template" id="tmpl_ShowPopup_Product_InvCodeOutActual">
    <a href="javascript:;" title="Chọn vị trí nhập" onclick="showPopupInvCodeInActual(this,'==ProductCode==','==ProductCodeUser==','==ProductName==','==ProductCodeBase==','==ValConvert==', '==ProductCodeRoot==')"><i class="fa fa-caret-down"></i></a>
</script>

<script type="text/template" id="tmpl_ShowPopup_Product_FlagCombo">
    <a href="javascript:;" title="Chi tiết Combo" onclick="ShowCombo(this, '==ProductCode==','==ProductCodeUser==','==ProductName==','==ProductCodeBase==')">(Combo)</a>
</script>



@*truong hop update*@
<script type="text/template" id="tmpl_ShowPopup_Product_InvCodeOutActualUpdate">
    <a href="javascript:;" title="Chọn vị trí nhập" onclick="showPopupInvCodeInActualUpdate(this,'==ProductCode==','==ProductCodeUser==','==ProductName==','==ProductCodeBase==','==ValConvert==')"><i class="fa fa-caret-down"></i></a>
</script>
<script type="text/template" id="tmpl_ShowPopup_Product_FlagLotUpdate">
    <a href="javascript:;" title="Chi tiết Lô" onclick="showPopupLotUpdate(this, '==ProductCode==','==ProductCodeUser==','==ProductName==','==ProductCodeBase==','==ValConvert==')">(Lô)</a>
</script>


@*template thay đổi đơn vị*@
<script type="text/template" id="tmpl_options">
    <option value="==UnitCode==" @MvcHtmlString.Create(tmpl_selected) productcode="==ProductCode==" valconvert="==ValConvert==">==UnitCode==</option>
</script>

<script type="text/template" id="tmpl_products_list">
    <div class="result display-none" productcode="==ProductCode==">
        <input type="hidden" class="ProductCodeRoot" value="==ProductCodeRoot==" />
        <input type="hidden" class="ProductCodeBase" value="==ProductCodeBase==" />
        <input type="hidden" class="ProductCode" value="==ProductCode==" />
        <input type="hidden" class="ProductCodeUser" value="==ProductCodeUser==" />
        <input type="hidden" class="ProductName" value="==ProductName==" />
        @*<input type="hidden" class="ProductType" value="==ProductType==" />*@
        <input type="hidden" class="FlagSerial" value="==FlagSerial==" />
        <input type="hidden" class="FlagLot" value="==FlagLot==" />
        <input type="hidden" class="FlagCombo" value="==FlagCombo==" />
        <input type="hidden" class="UnitCode" value="==UnitCode==" />
        <input type="hidden" class="InvCodeInActual" value="==InvCodeInActual==" />
        <input type="hidden" class="Qty" value="==Qty==" />
        <input type="hidden" class="QtyTotalOK" value="==QtyTotalOK==" />
        <input type="hidden" class="SellPrice" value="==SellPrice==" />
        <input type="hidden" class="UPOUTDesc" value="==DiscountPrice==" />
        <input type="hidden" class="ValOUTAfterDesc" value="==ValOUTAfterDesc==" />
        <input type="hidden" class="Remark" value="==Remark==" />
        <input type="hidden" class="ProductLotNo" value="==ProductLotNo==" />
        <input type="hidden" class="SerialNo" value="==SerialNo==" />
        <input type="hidden" class="ValConvert" value="==ValConvert==" />
        <input type="hidden" class="UPInv" value="==UPInv==" />
    </div>
</script>

<script type="text/template" id="tmpl_InvF_InventoryOut">
    <tr class="trdata" qtyOrder="==qtyOrder==" productcode="==ProductCode==" idx="==idx==" rd="==rd==">
        <td class="cell-50 td-event-delete @disabled">
            <a href="javascript:;" title="Xóa" onclick="deleteRow(this)"><i class="fas fa-trash-alt"></i></a>
            <div class="products-list">
            </div>
        </td>
        <td class="text-left cell-100 productcodeuser">
            <span class="==productcodeuserCss==">==ProductCodeUser==</span> &nbsp; <span class="==producttypeCss==">@*==ProductType==*@</span>
        </td>
        <td class="text-left cell-200">
            <span class="==productnameCss==">==ProductName==</span>
            <input type="hidden" class="==productcodeCss==" value="==ProductCode==" />
            <input type="hidden" class="==productcodeuserCss==" value="==ProductCodeUser==" />
            <input type="hidden" class="==productcodebaseCss==" value="==ProductCodeBase==" />
            <input type="hidden" class="==productcoderootCss==" value="==ProductCodeRoot==" />
            <input type="hidden" class="==productnameCss==" value="==ProductName==" />
            <input type="hidden" class="==flaglotCss==" value="==FlagLot==" />
            <input type="hidden" class="==flagserialCss==" value="==FlagSerial==" />
            <input type="hidden" class="==flagcomboCss==" value="==FlagCombo==" />
            <input type="hidden" class="==valconvertCss==" value="==ValConvert==" />

        </td>
        <td class="cell-100 td-select2 @disabled">
            <select class="select2 col-12 no-border ==select2Css==" onchange="changeProduct(this)" initdata="==ProductCode==" ischange="0">
                <optgroup></optgroup>
                <option></option>
            </select>
        </td>
        <td class="text-center cell-100 QtyTotalOK ">
            <input type="text" class="col-12 no-border text-right ==QtyTotalOKCss==" initdata="==QtyTotalOK==" value="==QtyTotalOK==" readonly="readonly" />
        </td>
        <td class="text-center cell-100 Qty">
            <input type="text" class="col-12 no-border text-right ==qtyCss== @disabled" initdata="==Qty==" value="==Qty==" onkeyup="inputQty(this)" />
            <input type="hidden" class="==qtyOrdCss==" value="==Qty==" />
        </td>
        <td class="text-left cell-150">
            @*==InvCodeSuggest==*@
            <input type="text" class="col-11 no-border text-left disabled-fix ==invcodeinactualCss==" value="==InvCodeInActual==" />
            <span class="==invcodeinactualtypeCss==">@*==ShowPopupInvCodeInActual==*@</span>
            @*<input readonly="readonly" class="col-md-11 InvCode" name="Lst_InvF_InventoryOutDtl[==idx==].InvCodeOutActual" value="==InvCode==" />
            ==showTonKho==*@
        </td>
        <td class="text-left cell-100 @flagdisplaynone">
            <input type="text" class="col-12 no-border text-right UPInv disabled-fix ==upinvCss== " initdata="==UPInv==" value="==UPInv==" />
        </td>
        <td class="text-left cell-100 @flagdisplaynone">
            <input type="text" class="col-12 no-border text-right UPOUT ==upoutCss== @disabled " initdata="==UPOUT==" value="==UPOUT==" onkeyup="inputUPIn(this)" />
        </td>
        <td class="text-left cell-100 @flagdisplaynone">
            <input type="text" class="col-12 no-border text-right UPOUTDesc ==upoutdescCss== @disabled " initdata="==UPOUTDesc==" value="==UPOUTDesc==" onkeyup="inputUPInDesc(this)" />
        </td>
        <td class="text-left cell-100 @flagdisplaynone">
            <input type="text" class="col-12 no-border text-right disabled-fix ValOUTAfterDesc ==valoutafterdescCss== " value="==ValOUTAfterDesc==" />

        </td>
        <td class="text-left cell-100 ">
            <textarea rows="1" class="col-12 no-border @disabled remark ==remarkCss==">==Remark==</textarea>
        </td>
    </tr>
</script>


@*Template  option chọn hàng hóa*@

<script type="text/template" id="tmpl_optionproductinorder">
    <option value="==ProductCode=="
            customercodesys="==CustomerCodeSys=="
            ProductCodeBase="==ProductCodeBase=="
            ProductCodeUser="==ProductCodeUser=="
            ProductCodeRoot="==ProductCodeRoot=="
            ProductName="==ProductName=="
            UnitCode="==UnitCode=="
            UPSell="==UPSell=="
            QtyAppr="==QtyAppr=="
            QtyInvOutAvail="==QtyInvOutAvail=="
            QtyTotalOK="==QtyTotalOK=="
            FlagLot="==FlagLo=="
            FlagSerial="==FlagSerial=="
            FlagCombo="==FlagCombo=="
            ValConvert="==ValConvert=="
            OrderNoSys="==OrderNoSys==">
        ==ProductCodeUser== - ==ProductName==
    </option>
</script>



@*Cache hàng hóa - vị trí - table-detailInvCodeInActual*@
<script type="text/template" id="tmpl_product_invcodeinactual_list_cache">
    <div class="result display-none" productcode="==ProductCode==" productcoderoot="==ProductCodeRoot==" productcodebase="==ProductCodeBase==">
        <input type="hidden" class="ProductCode" value="==ProductCode==" />
        <input type="hidden" class="ProductCodeRoot" value="==ProductCodeRoot==" />
        <input type="hidden" class="InvCodeInActual" value="==InvCodeInActual==" />
        <input type="hidden" class="QtyTotalOK" value="==QtyTotalOK==" />
        <input type="hidden" class="UnitCode" value="==UnitCode==" />
        <input type="hidden" class="Qty" value="==Qty==" />
        @*<input type="hidden" class="UPInv" value="==UPInv==" />*@
    </div>
</script>
<script type="text/template" id="tmpl_Product_InvCodeOutActual">
    <tr class="data-item trdata" productcode="==ProductCode==" idx="==idx==" productcoderoot="==ProductCodeRoot==" productcodebase="==ProductCodeBase==">
        <td>
            <div class="products-list-cache">
            </div>
        </td>
    </tr>
</script>


@*Cache hàng hóa - LOT - table-detailLot*@
<script type="text/template" id="tmpl_Product_LOT">
    <tr class="data-item trdata" productcode="==ProductCode==" idx="==idx==" invCodeInActual="==InvCodeInActual==">
        <td>
            @*<input type="hidden" class="ProductCodeRoot" value="==ProductCodeRoot==" />*@
            <input type="hidden" class="ProductCode" value="==ProductCode==" />
            <input type="hidden" class="ProductLotNo" value="==ProductLotNo==" />
            <input type="hidden" class="ProductionDate" value="==ProductionDate==" />
            <input type="hidden" class="ExpiredDate" value="==ExpiredDate==" />
            <input type="hidden" class="InvCodeInActual" value="==InvCodeInActual==" />
            <input type="hidden" class="Qty" value="==Qty==" />
            <input type="hidden" class="QtyTotalOK" value="==QtyTotalOK==" />
        </td>
    </tr>
</script>

@*Cache hàng hóa - Serail - table-detailSerial*@
<script type="text/template" id="tmpl_Product_Serial">
    <tr class="data-item trdata" productcode="==ProductCode==" idx="==idx==" invCodeInActual="==InvCodeInActual==">
        <td>
            @*<input type="hidden" class="ProductCodeRoot" value="==ProductCodeRoot==" />*@
            <input type="hidden" class="ProductCode" value="==ProductCode==" />
            <input type="hidden" class="SerialNo" value="==SerialNo==" />
            <input type="hidden" class="InvCodeInActual" value="==InvCodeInActual==" />
        </td>
    </tr>
</script>


@*Cache hàng hóa - Combo - table-detailCombo*@
<script type="text/template" id="tmpl_Product_Combo">
    <tr class="data-item trdata" productcode="==ProductCode==" idx="==idx==" invCodeOutActual="==InvCodeOutActual==" productcoderoot="==ProductCodeRoot==">
        <td>
            @*<input type="hidden" class="ProductCodeRoot" value="==ProductCodeRoot==" />*@
            <input type="hidden" class="ProductCode" value="==ProductCode==" />
            <input type="hidden" class="ProductCodeRoot" value="==ProductCodeRoot==" />
            <input type="hidden" class="Qty" value="==Qty==" />
            <input type="hidden" class="InvCodeOutActual" value="==InvCodeOutActual==" />
            <input type="hidden" class="UnitCode" value="==UnitCode==" />
            <input type="hidden" class="Remark" value="==Remark==" />
        </td>
    </tr>
</script>




@*Cache hàng hóa nhập excell*@
<script type="text/template" id="tmpl_Product_Import_Excel">
    <tr class="data-item trdata" productcode="==ProductCode==" idx="==idx==" invCodeInActual="==InvCodeInActual==">
        <td>
            <input type="hidden" class="ProductCode" value="==ProductCode==" />
            <input type="hidden" class="InvCodeInActual" value="==InvCodeInActual==" />
            <input type="hidden" class="QtyTotalOK" value="==QtyTotalOK==" />
            <input type="hidden" class="Qty" value="==Qty==" />
        </td>
    </tr>

</script>



@*Cache popup hang hoa thuong*@
<script type="text/template" id="tmpl_Product_Popup">
    <tr class="data-item trdata" idx="==idx==" productcode="==ProductCode==">
        <th fieldId="InvOut" fieldName="InvOut" fieldActive="0" class="text-center cell-100">
            <input readonly="readonly" name="DtlTonKho[==idx==].InvCode" class="QtyOut col-md-12" value="==InvCode==" />
        </th>
        <th fieldId="QtyTotalOk" sorttype="T" fieldName="Số phiếu xuất" fieldActive="0" class="text-left cell-100">
            <input name="DtlTonKho[==idx==].QtyTotalOK" readonly="readonly" class="QtyOut col-md-12 text-right" value="==QtyTotalOK==" />
        </th>
        <th fieldId="QtyOut" sorttype="T" fieldName="Thời gian xuất" fieldActive="0" class="text-left cell-100">
            <input name="DtlTonKho[==idx==].QtyOut" class="QtyOut col-md-12 text-right" value="==QtyOut==" />
        </th>
    </tr>
</script>


@*Import Excel*@
<div class="modal fade" id="ImportExcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Nhập excel</h3>
                <a href="javascript:;" onclick="CloseModalImportExcel()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageFormImportExcel" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="key" name="key" value="" />
                    <div class="form-group margin-bottom-9">
                        <input type="file" name="file" id="file" />
                    </div>
                }
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0);" class="btn mybtn-Button" onclick="Import()" id="btnSaveImport" style="padding-left: 10px!important; padding-right: 10px!important; font-size: 16px; font-weight: 500;">Nhập</a>
            </div>
        </div>
    </div>
</div>


@*Template lưới thông tin xác thực*@
<script type="text/template" id="tmpl_InvF_InventoryOutQR">
    <tr class="trdata" idx="0" productcode="==ProductCode==" rd="==rd==">
        <td class="text-center cell-50">
            <a href="javascript:;" class="icon-delete" title="Xóa" onclick="deleteRow_InvF_InventoryInQR(this)"><i class="fas fa-trash-alt"></i></a>
        </td>
        <td class="text-left cell-100">
            <input class="col-12 no-border disabled-fix ProductCodeUser ==productcodeuserCss==" value="==ProductCodeUser==" />
        </td>
        <td class="text-left cell-200">
            <input class="col-12 no-border disabled-fix ProductName ==productnameCss==" value="==ProductName==" />
            <input type="hidden" class="==productcodeCss==" value="==ProductCode==" />
            @*<input type="hidden" class="==productnameCss==" value="==ProductName==" />*@
        </td>

        <td class="text-left cell-100">
            <input class="col-12 no-border QRCode ==qrcodeCss==" value="==QRCode==" onkeyup="splitQRCode(this)" />
        </td>
        @*<td class="text-left cell-200">
                <select class="col-md-12 QRType ==qrtypeCss==" value="==QRType==">
                    <option @(it.QRType.ToString() == "TEM" ? "selected" : "") value="TEM">Mã xác thực</option>
                    <option @(it.QRType.ToString() == "CARTON" ? "selected" : "") value="CARTON">Hộp</option>
                    <option @(it.QRType.ToString() == "BOX" ? "selected" : "") value="BOX">Thùng</option>
                </select>
            </td>*@
        <td class="text-left cell-200">
            @*<select class="select2 col-12 no-border ==qrtypeCss==" initdata="==ProductCode==" ischange="0">
                    <optgroup></optgroup>
                    <option></option>
                </select>*@


            <select class="col-md-12 ==qrtypeCss==">
                <option value="TEM">Mã xác thực</option>
                <option value="CARTON">Hộp</option>
                <option value="BOX">Thùng</option>
            </select>
        </td>
    </tr>
</script>

@*template thay đổi đơn vị*@
<script type="text/template" id="tmpl_options">
    <option value="==UnitCode==" @MvcHtmlString.Create(tmpl_selected) productcode="==ProductCode==">==QRType==</option>
</script>


@*template nhập excell mã qr*@


@*template upload file*@
<script type="text/template" id="tmpl_order_fileupload">
    <tr class="data-item trdata" idx="==idx==" flagfileupload="==FlagFileUpload==">
        <td class="cell-30 text-center td-event-delete">
            <a href="javascript:;" title="Xóa" onclick="deleteRowFileUpload(this)"><i class="fas fa-trash-alt"></i></a>
            <input type="hidden" class="url" value="==url==" />
            <input type="hidden" class="filePath" value="==filePath==" />
            <input type="hidden" class="fileId" value="==fileId==" />
            <input type="hidden" class="fileName" value="==fileName==" />
            <input type="hidden" class="fileSize" value="==fileSize==" />
        </td>
        <td class="text-left cell-200">
            @*<div>
                    <span>
                        <a href="==url==" target="_blank">==fileName==</a>
                    </span>
                    <span>
                        <input type="text" class="descript" value="" />
                    </span>
                </div>*@
            @*<input type="text" class="descript" value="" />*@
            <div style="display:inline-block; width:100%">
                <div style="float:left;width: 48%">
                    <a href="==url==" target="_blank">==fileName==</a>
                </div>
                <div style="float:right;width: 52%">
                    <input type="text" class="descript" value="==Description==" style="width:107px" />
                </div>
            </div>
        </td>
    </tr>
</script>

@*end template upload file*@


@*template uploadfile popup*@
<script type="text/template" id="tmpl_order_fileuploadpopup">
    <tr class="data-item trdata" idx="==idx==" flagfileupload="==FlagFileUpload==">
        <td class="cell-30 text-center td-event-delete">
            <a href="javascript:;" title="Xóa" onclick="deleteRowFileUploadPopup(this)"><i class="fas fa-trash-alt"></i></a>
            <input type="hidden" class="url" value="==url==" />
            <input type="hidden" class="filePath" value="==filePath==" />
            <input type="hidden" class="fileId" value="==fileId==" />
            <input type="hidden" class="fileName" value="==fileName==" />
            <input type="hidden" class="fileSize" value="==fileSize==" />
        </td>
        <td class="text-left cell-200">
            <div style="display:inline-block; width:100%">
                <div style="float:left;width: 48%">
                    <a href="==url==" target="_blank">==fileName==</a>
                </div>
                <div style="float:right;width: 52%">
                    <input type="text" class="descript" value="==Description==" style="width:145px" />
                </div>
            </div>
        </td>
    </tr>
</script>

@*end template uploafide popup*@



