@model Sys_Group
@{
    // Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    var title = "Chi tiết nhóm người dùng";
    var titleMng = "Quản lý nhóm người dùng";
    ViewBag.Title = title;
}
<script type="text/javascript">
    @*var parents = new Array();
    parents.push("@Url.Action("Index", "Sys_Group")");
    parents.push("");
    var parentsText = new Array();
    parentsText.push("@MvcHtmlString.Create(titleMng)");
    parentsText.push("@MvcHtmlString.Create(title)");
    setAdminCurrentTag(parents, parentsText);*@
</script>
<script>
    setAdminCurrentUrl('@Url.Action("Index", "Sys_Group")');
</script>
<div class="">
    <div class="row no-margin">
        <aside class="col-12">
            @using (Html.BeginForm("Create", "Sys_Group", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="layout-bot-top-16">
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã nhóm người dùng <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="GroupCode" name="GroupCode" class="col-12 GroupCode disabled-fix" onkeyup="locdau(this);" value="@Model.GroupCode" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mô tả nhóm người dùng <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="GroupName" name="GroupName" class="col-12 GroupName disabled-fix" value="@Model.GroupName" autocomplete="off" required />
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            @{
                                var checkActive = "";
                                if (Model != null && !CUtils.IsNullOrEmpty(Model.FlagActive) && Model.FlagActive.Equals("1"))
                                {
                                    checkActive = "checked";
                                }
                                else
                                {
                                    checkActive = "";
                                }
                            }
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">Trạng thái</label>
                            <div class="col-12 col-sm-8 disabled-fix">
                                <span class="block input-icon input-icon-right padding-top-5">
                                    <label class="lbl-flag">
                                        <input name="FlagActive" id="FlagActive" class="icon-flag" type="checkbox" value="1" @checkActive />
                                        <span class="lbl"></span>
                                        <input name="FlagActive" type="hidden" value="0" />
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </aside>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        setAdminCurrentUrl('@Url.Action("Index", "Sys_Group")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);

        });
        var _getForm = document.getElementById("manageForm");
        _getForm.addEventListener('reset', function () {
            document.getElementById("").focus();
        });
        
    </script>
}