@model Mst_NNT
@{
    // Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    var title = "Chi tiết chi nhánh";
    var titleMng = "Quản lý chi nhánh";
    ViewBag.Title = title;



    var orgID_MA = ViewBag.OrgID;
}

<div class="">
    <div class="row no-margin">
        <aside class="col-12 row">
            @using (Html.BeginForm("Create", "Mst_Organization", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="layout-bot-top-16 col-12 row">
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã chi nhánh <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="OrgID" name="OrgID" class="col-12 OrgID disabled-fix" onkeyup="locdau(this);" value="@CUtils.StrValue(Model.OrgID)" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tên chi nhánh <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    @*<input type="text" id="NNTFullName" name="NNTFullName" class="col-12 NNTFullName disabled-fix" value="@Model.NNTFullName" autocomplete="off" required />*@
                                    <textarea type="text" id="NNTFullName" name="NNTFullName" class="col-12 NNTFullName disabled-fix" value="" autocomplete="off" required>@CUtils.StrValue(Model.NNTFullName)</textarea>
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Địa chỉ")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="NNTAddress" name="NNTAddress" class="col-12 NNTAddress disabled-fix" value="@CUtils.StrValue(Model.NNTAddress)" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Người đại diện")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="PresentBy" name="PresentBy" class="col-12 PresentBy disabled-fix" value="@CUtils.StrValue(Model.PresentBy)" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Chức vụ")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="NNTPosition" name="NNTPosition" class="col-12 NNTPosition disabled-fix" value="@CUtils.StrValue(Model.NNTPosition)" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tỉnh/Thành")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="ProvinceCode" name="ProvinceCode" class="col-12 ProvinceCode disabled-fix" value="@Model.mp_ProvinceName" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Quận/Huyện")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="DistrictCode" name="DistrictCode" class="col-12 DistrictCode disabled-fix" value="@Model.md_DistrictName" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Vùng thị trường <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="AreaCode" name="AreaCode" class="col-12 AreaCode disabled-fix" value="@Model.ma_AreaName" autocomplete="off" required />
                                </span>
                            </div>
                            <input type="hidden" id="OrgID_MA" name="OrgID_MA" value="@orgID_MA" />
                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9" style="display: none;">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã đại lý")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="DLCode" name="DLCode" class="col-12 DLCode disabled-fix" value="@Model.DLCode" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Người liên hệ")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="ContactName" name="ContactName" class="col-12 ContactName disabled-fix" value="@Model.ContactName" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("ĐT liên hệ")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="ContactPhone" name="ContactPhone" class="col-12 ContactPhone disabled-fix" value="@Model.ContactPhone" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Email liên hệ")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="NNTFullName" name="ContactEmail" class="col-12 ContactEmail disabled-fix" value="@Model.ContactEmail" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Số giấy tờ")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="PresentIDNo" name="PresentIDNo" class="col-12 PresentIDNo disabled-fix" value="@Model.PresentIDNo" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Loại giấy tờ")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="PresentIDType" name="PresentIDType" class="col-12 PresentIDType disabled-fix" value="@Model.PresentIDType" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Điện thoại di động")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="NNTMobile" name="NNTMobile" class="col-12 NNTMobile disabled-fix" value="@Model.NNTMobile" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Điện thoại cố định")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="NNTPhone" name="NNTPhone" class="col-12 NNTPhone disabled-fix" value="@Model.NNTPhone" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Fax")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="NNTFax" name="NNTFax" class="col-12 NNTFax disabled-fix" value="@Model.NNTFax" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Website")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="Website" name="Website" class="col-12 Website disabled-fix" value="@Model.Website" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Số tài khoản")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="AccNo" name="AccNo" class="col-12 AccNo disabled-fix" value="@Model.AccNo" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Chủ tài khoản")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="AccHolder" name="AccHolder" class="col-12 AccHolder disabled-fix" value="@Model.AccHolder" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Ngân hàng")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <textarea type="text" id="BankName" name="BankName" class="col-12 BankName disabled-fix" value="" autocomplete="off" required>@CUtils.StrValue(Model.BankName)</textarea>
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã số thuế")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="MST" name="MST" class="col-12 MST disabled-fix" value="@Model.MST" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Chứng thư số")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="CANumber" name="CANumber" class="col-12 CANumber disabled-fix" value="@Model.CANumber" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Chi nhánh cấp CTS")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="CAOrg" name="CAOrg" class="col-12 CAOrg disabled-fix" value="@Model.CAOrg" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Thời gian bắt đầu hiệu lực")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="CAEffDTimeUTCStart" name="CAEffDTimeUTCStart" class="col-12 CAEffDTimeUTCStart disabled-fix" value="@Model.CAEffDTimeUTCStart" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Thời gian hết hiệu lực")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="CAEffDTimeUTCEnd" name="CAEffDTimeUTCEnd" class="col-12 CAEffDTimeUTCEnd disabled-fix" value="@Model.CAEffDTimeUTCEnd" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            @{
                                var checkActive = "";
                                if (Model != null && Model.FlagActive.Equals("1"))
                                {
                                    checkActive = "checked";
                                }
                                else
                                {
                                    checkActive = "";
                                }
                            }
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">Trạng thái</label>
                            <div class="col-12 col-sm-8 disabled-fix">
                                <span class="block input-icon input-icon-right padding-top-5">
                                    <label class="lbl-flag">
                                        <input name="FlagActive" id="FlagActive" class="icon-flag disabled-fix" type="checkbox" value="1" @checkActive />
                                        <span class="lbl"></span>
                                        <input name="FlagActive" type="hidden" value="0" />
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </aside>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        setAdminCurrentUrl('@Url.Action("Index", "Mst_NNT")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);

        });
        var _getForm = document.getElementById("manageForm");
        _getForm.addEventListener('reset', function () {
            document.getElementById("").focus();
        });

    </script>
}

