@model List<InvF_InventoryCusReturnCoverUI>

@if (Model != null && Model.Count > 0)
{
    var idx = 0;
    foreach (var item in Model)
    {
        var strReadOnly = "readonly";
        <tr id="unit_@item.ProductCodeRoot" idx="@idx" flagvisible="1" data-prdcode="@item.ProductCodeRoot" class="data-item trdata getbom @item.ProductCodeRoot" style="">
            <td class="text-center cell-50">
                <a href="javascript:;" class="icon-delete" title="Xóa" onclick="DeleleRowPrd('@item.ProductCodeRoot')"><i class="fas fa-trash-alt"></i></a>
            </td>

            <td fieldid="PRODUCTCODE" sorttype="T" class="cell-100 ">
                @item.mp_ProductCodeUser &nbsp;
                @if (Convert.ToString(item.mp_FlagLot) == "1")
                {
                    <a href="javascript:;" title="Chi tiết Lô" onclick="ShowLo('@item.ProductCodeRoot')">(Lô)</a>
                }
                else if (Convert.ToString(item.mp_FlagSerial) == "1")
                {
                    <a href="javascript:;" title="Chi tiết Serial" onclick="ShowSerial('@item.ProductCodeRoot')">(Serial)</a>
                }
                else if (Convert.ToString(item.FlagCombo) == "1")
                {
                    strReadOnly = "";
                    <a href="javascript:;" title="Chi tiết Combo" onclick="ShowCombo('@item.ProductCodeRoot')">(Combo)</a>
                }
                else
                {
                    strReadOnly = "";
                }
            </td>

            <td fieldid="PRODUCTNAME" sorttype="T" class="cell-200 "> @item.mp_ProductName </td>

            <td fieldid="UNITCODE" sorttype="T" class="text-center cell-75" id="unitCode_@item.ProductCodeRoot">
                <select class="listproductbase" name="Lst_InvF_InventoryCusReturnDtl[@idx].UnitCode" style="width:75px;" id="Unitchange-@item.ProductCodeRoot" onchange="ChangUnit('@item.ProductCodeRoot')">
                    <optgroup label="">
                        @if (item.Lst_Mst_ProductBase != null && item.Lst_Mst_ProductBase.Count > 0)
                        {
                            foreach (var prd in item.Lst_Mst_ProductBase)
                            {
                                <option value="@prd.UnitCode" prdcode="@prd.ProductCodeRoot" @(prd.ProductCode.ToString() == item.ProductCodeRoot.ToString() ? " selected" : "" )>@prd.UnitCode </option>
                            }
                        }
                    </optgroup>
                </select>
            </td>

            <td fieldid="QTY" sorttype="T" class="text-center cell-75 ">
                <input arr="qty" style="width:75px;" type="text" class="text-right number @strReadOnly" name="Lst_InvF_InventoryCusReturnDtl[@idx].Qty" id="qty_@item.ProductCodeRoot" value="@item.Qty" onkeyup="inputQty(this)" />
            </td>

            <td fieldid="INVCODEINACTUAL" sorttype="T" class="text-center cell-150">
                <input arr="invcodeinactual" readonly="readonly" type="text" class="text-left col-md-11" name="Lst_InvF_InventoryCusReturnDtl[@idx].InvCodeInActual" id="invCodeInActual_@item.ProductCodeRoot" value="@item.InvCodeInActual" />
                @if (Convert.ToString(item.mp_FlagSerial) != "1" && Convert.ToString(item.mp_FlagLot) != "1" && Convert.ToString(item.FlagCombo) != "1")
                {
                    <a href="javascript:;" title="Chọn vị trí nhập" onclick="ShowVTNhap('@item.ProductCodeRoot','@item.mp_ProductCodeUser','@item.mp_ProductName','@item.mp_ProductCodeBase')"><i class="fa fa-caret-down"></i></a>
                }
            </td>

            <td fieldid="UPIN" sorttype="T" class="text-center cell-100 ">
                <input arr="upin" style="width:100px;" type="text" class="text-right number" name="Lst_InvF_InventoryCusReturnDtl[@idx].UPCusReturn" id="uPIn_@item.ProductCodeRoot" value="@item.UPCusReturn" onkeyup="inputUPCusReturn(this)" />
            </td>

            <td fieldid="UPINDESC" sorttype="T" class="text-center cell-100 ">
                <input arr="upindesc" style="width:100px;" type="text" class="text-right number" name="Lst_InvF_InventoryCusReturnDtl[@idx].UPCusReturnDesc" id="uPInDesc_@item.ProductCodeRoot" value="@item.UPCusReturnDesc" onkeyup="inputUPCusReturnDesc(this)" />
            </td>

            <td fieldid="VALINAFTERDESC" sorttype="T" class="text-center cell-100 ">
                <input arr="valinafterdesc" style="width:100px;" readonly="readonly" type="text" class="text-right number" name="Lst_InvF_InventoryCusReturnDtl[@idx].ValCusReturnAfterDesc" id="valInAfterDesc_@item.ProductCodeRoot" value="@item.ValCusReturnAfterDesc" />
            </td>

            <td fieldid="REMARK" sorttype="T" class="text-center cell-100 ">
                <input arr="remark" style="width:100px;" type="text" class="text-right" name="Lst_InvF_InventoryCusReturnDtl[@idx].Remark" id="remark_@item.ProductCodeRoot" value="@item.Remark" />
            </td>

            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].ProductCode" value="@item.ProductCodeRoot" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].ProductCodeUser" value="@item.mp_ProductCodeUser" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].ProductName" value="@item.mp_ProductName" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].FlagLot" value="@item.mp_FlagLot" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].FlagSerial" value="@item.mp_FlagSerial" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].FlagCombo" value="@item.FlagCombo" />
        </tr>

        idx++;

        if (item.Lst_Mst_ProductBase != null && item.Lst_Mst_ProductBase.Count > 0)
        {
            foreach (var itemBase in item.Lst_Mst_ProductBase)
            {
                if (item.ProductCodeRoot.ToString() == itemBase.ProductCodeRoot.ToString())
                { continue; }
                var strReadOnlyBase = "readonly";

        <tr id="unit_@itemBase.ProductCode" idx="@idx" flagvisible="0" data-prdcode="@itemBase.ProductCode" class="data-item trdata getbom @itemBase.ProductCode" style="display: none">
            
            <td class="text-center cell-50">
                <a href="javascript:;" class="icon-delete" title="Xóa" onclick="DeleleRowPrd('@itemBase.ProductCode')"><i class="fas fa-trash-alt"></i></a>
            </td>
            <td fieldid="PRODUCTCODE" sorttype="T" class="cell-100 ">
                @itemBase.ProductCodeUser &nbsp;
                @if (Convert.ToString(itemBase.FlagLot) == "1")
                {
                    <a href="javascript:;" title="Chi tiết Lô" onclick="ShowLo(' @itemBase.ProductCode')">(Lô)</a>
                }
                else if (Convert.ToString(itemBase.FlagSerial) == "1")
                {
                    <a href="javascript:;" title="Chi tiết Serial" onclick="ShowSerial('@itemBase.ProductCode')">(Serial)</a>
                }
                else if (Convert.ToString(itemBase.ProductType) == "COMBO")
                {
                    strReadOnlyBase = "";
                    <a href="javascript:;" title="Chi tiết Combo" onclick="ShowCombo('@itemBase.ProductCode')">(Combo)</a>
                }
                else
                {
                    strReadOnlyBase = "";
                }
            </td>

            <td fieldid="PRODUCTNAME" sorttype="T" class="cell-200 "> @itemBase.ProductName </td>

            <td fieldid="UNITCODE" sorttype="T" class="text-center cell-75" id="unitCode_@itemBase.ProductCode">
                <select class="listproductbase" name="Lst_InvF_InventoryCusReturnDtl[@idx].UnitCode" style="width:75px;" id="Unitchange-@itemBase.ProductCode" onchange="ChangUnit('@itemBase.ProductCode')">
                    <optgroup label="">
                        @if (item.Lst_Mst_ProductBase != null && item.Lst_Mst_ProductBase.Count > 0)
                        {
                            foreach (var prd in item.Lst_Mst_ProductBase)
                            {
                                <option value="@prd.UnitCode" prdcode="@prd.ProductCode" @(prd.ProductCode.ToString() == itemBase.ProductCode.ToString() ? " selected" : "" )>@prd.UnitCode </option>
                            }
                        }
                    </optgroup>
                </select>
            </td>

            <td fieldid="QTY" sorttype="T" class="text-center cell-75 ">
                <input arr="qty" style="width:75px;" type="text" class="text-right number @strReadOnlyBase" name="Lst_InvF_InventoryCusReturnDtl[@idx].Qty" id="qty_@itemBase.ProductCode" value="@item.Qty" onkeyup="inputQty(this)" />
            </td>

            <td fieldid="INVCODEINACTUAL" sorttype="T" class="text-center cell-150">
                <input arr="invcodeinactual" readonly="readonly" type="text" class="text-left col-md-11" name="Lst_InvF_InventoryCusReturnDtl[@idx].InvCodeInActual" id="invCodeInActual_@itemBase.ProductCode" value="@item.InvCodeInActual" />
                @if (Convert.ToString(itemBase.FlagSerial) != "1" && Convert.ToString(itemBase.FlagLot) != "1" && Convert.ToString(itemBase.ProductType) != "COMBO")
                {
                    <a href="javascript:;" title="Chọn vị trí nhập" onclick="ShowVTNhap('@itemBase.ProductCode','@itemBase.ProductCodeUser','@itemBase.ProductName','@itemBase.ProductCodeBase')"><i class="fa fa-caret-down"></i></a>
                }
            </td>

            <td fieldid="UPIN" sorttype="T" class="text-center cell-100 ">
                <input arr="upin" style="width:100px;" type="text" class="text-right number" name="Lst_InvF_InventoryCusReturnDtl[@idx].UPCusReturn" id="uPIn_@itemBase.ProductCode" value="@itemBase.UPBuy" onkeyup="inputUPCusReturn(this)" />
            </td>

            <td fieldid="UPINDESC" sorttype="T" class="text-center cell-100 ">
                <input arr="upindesc" style="width:100px;" type="text" class="text-right number" name="Lst_InvF_InventoryCusReturnDtl[@idx].UPCusReturnDesc" id="uPInDesc_@itemBase.ProductCode" value="0" onkeyup="inputUPCusReturnDesc(this)" />
            </td>

            <td fieldid="VALINAFTERDESC" sorttype="T" class="text-center cell-100 ">
                <input arr="valinafterdesc" style="width:100px;" readonly="readonly" type="text" class="text-right number" name="Lst_InvF_InventoryCusReturnDtl[@idx].ValCusReturnAfterDesc" id="valInAfterDesc_@itemBase.ProductCode" value="" />
            </td>

            <td fieldid="REMARK" sorttype="T" class="text-center cell-100 ">
                <input arr="remark" style="width:100px;" type="text" class="text-right" name="Lst_InvF_InventoryCusReturnDtl[@idx].Remark" id="remark_@itemBase.ProductCode" value="@item.Remark" />
            </td>

            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].ProductCode" value="@itemBase.ProductCode" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].ProductCodeUser" value="@itemBase.ProductCodeUser" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].ProductName" value="@itemBase.ProductName" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].FlagLot" value="@itemBase.FlagLot" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].FlagSerial" value="@itemBase.FlagSerial" />
            <input type="hidden" name="Lst_InvF_InventoryCusReturnDtl[@idx].FlagCombo" value="@(Convert.ToString(itemBase.ProductType) == "COMBO" ? "1" : "0")" />
        </tr>

                idx++;
            }
        }
    }
}