@model idn.Skycic.Inventory.Common.Models.ProductCentrer.Prd_ProductID
@{
    Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    var title = "TẠO MỚI SẢN PHẨM";
    var titleMng = "Sản phẩm";
    ViewBag.Title = title;
    var lstPrdIDCustomField = ViewBag.lstPrdIDCustomField as List<Prd_PrdIDCustomField>;
    var lst_MstSpec = ViewBag.lst_MstSpec as List<Mst_Spec>;
}
<div class="row no-margin">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info">
                <div class="title">
                    <p style="vertical-align: bottom">@MvcHtmlString.Create(title)</p>
                </div>
                <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">

                    <aside class="col-xs-12 no-padding box-shadow-tk">
                        <div class="widget-main">
                            <div id="fuelux-wizard-container" class="no-steps-container">
                                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="step-content pos-rel">
                                        <div id="step1" class="step-pane active no-padding" data-step="1">
                                            <div class="row" style=" margin-top: 10px; padding: 5px">
                                                <aside class="col-xs-6">
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="OrgID" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã tổ chức")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="OrgID" name="OrgID" class="col-xs-11 OrgID disabled-fix" value="@ViewBag.OrgID" autocomplete="off" required />
                                                            </span>
                                                            <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã sản phẩm")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="ProductID" name="ProductID" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                            <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã Spec")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <select id="SpecCode" name="SpecCode" class="col-xs-11" required="" onchange="SetSpecName();">
                                                                    <option value=""></option>
                                                                    @{
                                                                        foreach (var it in lst_MstSpec)
                                                                        {
                                                                            var specCode = "";
                                                                            if (!CUtils.IsNullOrEmpty(it.SpecCode))
                                                                            {
                                                                                specCode = CUtils.StrValueOrNull(it.SpecCode);
                                                                            }
                                                                            var specName = "";
                                                                            if (!CUtils.IsNullOrEmpty(it.SpecName))
                                                                            {
                                                                                specName = CUtils.StrValueOrNull(it.SpecName);
                                                                            }
                                                                            <option value="@MvcHtmlString.Create(specCode)" desc="@MvcHtmlString.Create(specName)">@MvcHtmlString.Create(specCode)</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </span>
                                                            <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tên Spec")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="ms_SpecName" name="ms_SpecName" class="col-xs-11 disabled-fix" value="" autocomplete="off" required />
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Ngày sản xuất")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="ProductionDate" name="ProductionDate" class="col-xs-11 date" value="" autocomplete="off" required />
                                                            </span>
                                                            @*<label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">  *</label>*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Số LOT")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="LOTNo" name="LOTNo" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                            @*<label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Ngày mua hàng")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="BuyDate" name="BuyDate" class="col-xs-11 date" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã số bí mật")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="SecretNo" name="SecretNo" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Ngày bắt đầu BH")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="WarrantyStartDate" name="WarrantyStartDate" class="col-xs-11 date" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Ngày hết BH")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="WarrantyExpiredDate" name="WarrantyExpiredDate" class="col-xs-11 date" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("TG bảo hành")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="WarrantyDuration" name="WarrantyDuration" class="col-xs-11 WarrantyDuration" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Số tham chiếu 1")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="RefNo1" name="RefNo1" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Loại tham chiếu 1")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="RefBiz1" name="RefBiz1" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </aside>

                                                <aside class="col-xs-6">
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Số tham chiếu 2")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="RefNo2" name="RefNo2" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Loại tham chiếu 2")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="RefBiz2" name="RefBiz2" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                            @*<label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Số tham chiếu 3")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="RefNo3" name="RefNo3" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>

                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Loại tham chiếu 3")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="RefBiz3" name="RefBiz3" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                            @*<label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">  *</label>*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Khách hàng")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" id="Buyer" name="Buyer" class="col-xs-11" value="" autocomplete="off" required />
                                                            </span>
                                                            @*<label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group margin-bottom-5">
                                                        <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Trạng thái")</label>
                                                        <div class="col-xs-12 col-sm-8">
                                                            <span class="block input-icon input-icon-right">
                                                                <select id="ProductIDStatus" name="ProductIDStatus" class="col-xs-11" required="">
                                                                    <option value="OK">OK</option>
                                                                    <option value="NG">NG</option>
                                                                    <option value="REPAIRING">REPAIRING</option>
                                                                    <option value="CHECKING">CHECKING</option>
                                                                </select>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    @{
                                                        foreach (var it in lstPrdIDCustomField)
                                                        {
                                                            <div class="form-group margin-bottom-5">
                                                                <label for="" class="col-xs-12 col-sm-4 w-180 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create(it.PrdCustomFieldName.ToString())</label>
                                                                <div class="col-xs-12 col-sm-8">
                                                                    <span class="block input-icon input-icon-right">
                                                                        <input type="text" id="@it.PrdCustomFieldCode" name="@it.PrdCustomFieldCode" class="col-xs-11 customfield" value="" autocomplete="off" required />
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        }
                                                    }

                                                </aside>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </aside>

                    <div id="btnShow" class="col-xs-12 no-padding">
                        <div class="clearfix">
                            <div class="row no-margin" style="float: right">
                                @RenderItemFormat("BTN_TAO_SANPHAM_LUU", "<a href=\"javascript:void();\" class=\"btn font-color mybtn-Button\" style=\"margin-top: 20px; \" onclick=\"SaveData();\">Lưu</a>", "", "")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/OS_PrdCenter_Prd_ProductID.js")"></script>
    <script type="text/javascript">
        @*Active Menu*@
        setAdminCurrentUrl('@Url.Action("Index", "OS_PrdCenter_Prd_ProductID")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });
        @* Set focus *@
        $(document).ready(function () {
            $('#ProductID').focus();
        });
        $(document).ready(function () {
            $('.date').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy-mm-dd'
            })
                //show datepicker when clicking on the icon
                .next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });
        });

        function SaveData() {
            //debugger;
            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Create", "OS_PrdCenter_Prd_ProductID")';

            var objOS_PrdCenter_Prd_ProductID = new OS_PrdCenter_Prd_ProductID();
            objOS_PrdCenter_Prd_ProductID.ActionType = 'create';
            objOS_PrdCenter_Prd_ProductID.ajaxSettings = ajaxSettings;
            objOS_PrdCenter_Prd_ProductID.saveData();
        }
        function SetSpecName() {
            var op = $('#SpecCode').find('option:selected');
            var specname = '';
            if (op != undefined) {
                specname = op.attr('desc');
            }
            if (!IsNullOrEmpty(specname)) {
                $('#ms_SpecName').val(specname);
            }
        }
    </script>
}