
@{
    var title = "ĐỔI MẬT KHẨU";
    var titleMng = "Người dùng";
}

<script type="text/javascript">
    var parents = new Array();
    parents.push("@Url.Action("Index", "Sys_User")");
    parents.push("");
    var parentsText = new Array();
    parentsText.push("@MvcHtmlString.Create(titleMng)");
    parentsText.push("@MvcHtmlString.Create(title)");
    setAdminCurrentTag(parents, parentsText);
</script>

<div class="container">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info">
                <div class="title">
                    <p style="vertical-align: bottom">@MvcHtmlString.Create(title)</p>
                </div>
                <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                    <aside class="col-xs-12">
                        @using (Html.BeginForm("ChangePassword", "Sys_User", FormMethod.Post, new { id = "manageFormPU", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="row no-margin">
                                <div class="col-xs-9">
                                    <div class="form-group margin-bottom-5">
                                        <label for="UserPasswordPU" class="col-xs-12 col-sm-3 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mật khẩu cũ")</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" id="UserPasswordPU" name="UserPasswordPU" class="col-xs-11 UserPasswordPU" onkeyup="locdau(this);" value="" autocomplete="off" required />
                                            </span>
                                            <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                                        </div>

                                    </div>
                                    <div class="form-group margin-bottom-5">
                                        <label for="UserPasswordNewPU" class="col-xs-12 col-sm-3 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã khẩu mới")</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" id="UserPasswordNewPU" name="UserPasswordNewPU" class="col-xs-11 UserPasswordNewPU" value="" autocomplete="off" required />
                                            </span>
                                            <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                                        </div>

                                    </div>
                                    <div class="form-group margin-bottom-5">
                                        <label for="ConfirmUserPasswordNewPU" class="col-xs-12 col-sm-3 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Nhập lại mật khẩu")</label>
                                        <div class="col-xs-12 col-sm-8">
                                            <span class="block input-icon input-icon-right">
                                                <input type="password" id="ConfirmUserPasswordNewPU" name="ConfirmUserPasswordNewPU" class="col-xs-11 ConfirmUserPasswordNewPU" value="" autocomplete="off" required />
                                            </span>
                                            <label class="span-input" style="color: red; padding-left: 10px; padding-top: 10px;">*</label>
                                        </div>

                                    </div>
                                    <div class="form-group margin-bottom-5">
                                        <label for="" class="col-xs-12 col-sm-3 control-label no-padding-right font-weight-500 "></label>
                                        <div class="col-xs-12 col-sm-8">
                                            <span class="block input-icon input-icon-right">
                                                <p><i>Mật khẩu phải chứa ít nhất 6 ký tự và có phân biệt chữ hoa với chữ thường</i></p>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    </aside>
                    <div class="col-xs-12 text-center">
                        <div class="clearfix">
                            <div class="row no-margin text-center">
                                <a href="javascript:;" class="btn font-color mybtn-Button" style="margin-left: 10px; padding-left: 15px!important; padding-right: 15px!important; " onclick="Change();">Cập nhật</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
    processAjaxForm($('#manageForm'), function (response) {
        processAjaxFormResult(response);

    });
</script>

@*Set focus*@
<script type="text/javascript">
    var _getForm = document.getElementById("manageFormPU");
    _getForm.addEventListener('reset',
        function() {
            document.getElementById("").focus();
        });
</script>

<script>
    function CheckFormPU() {
        var userPassword = ReturnValueText('#UserPasswordPU');
        var userPasswordNew = ReturnValueText('#UserPasswordNewPU');
        var confirmUserPasswordNew = ReturnValueText('#ConfirmUserPasswordNewPU');
        if (!CheckIsNullOrEmpty('#UserPasswordPU', 'has-error-fix', '@MvcHtmlString.Create("Mật khẩu cũ không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#UserPasswordNewPU', 'has-error-fix', '@MvcHtmlString.Create("Mật khẩu mới không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#ConfirmUserPasswordNewPU', 'has-error-fix', '@MvcHtmlString.Create("Địa chỉ không được trống!")'))
        {
            return false;
        }
        if (userPassword.trim().length < 6) {
            alert("Mật khẩu cũ từ 6 ký tự trở lên!");
            return false;
        }
        if (userPasswordNew.trim().length < 6) {
            alert("Mật khẩu mới từ 6 ký tự trở lên!");
            return false;
        }
        if (confirmUserPasswordNew.trim().length < 6) {
            alert("Nhập lại mật khẩu từ 6 ký tự trở lên!");
            return false;
        }
        if (userPasswordNew !== confirmUserPasswordNew) {
            alert("Nhập lại mật khẩu không đúng, vui lòng nhập lại!");
            return false;
        }
        return true;
    }

    function Change() {
        var check = CheckFormPU();
        if (check)
        {
            var userPassword = ReturnValueText('#UserPasswordPU');
            var userPasswordNew = ReturnValueText('#UserPasswordNewPU');

            var token = $('#manageFormPU input[name=__RequestVerificationToken]').val();
            var url = '@Url.Action("ChangePassword", "Sys_User")';
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    __RequestVerificationToken: token
                    , userpassword: userPassword
                    , userpasswordnew: userPasswordNew
                },
                traditional: true,
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        if (data.Messages !== null && data.Messages !== undefined && data.Messages.length > 0) {
                            alert(data.Messages[0]);
                        }
                        window.location.href = data.RedirectUrl;
                    }
                    else {
                        if (data.Detail != null) {
                            _showErrorMsg123("Lỗi!", data.Detail);
                        }
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    debugger;
                    if (textStatus === 'Unauthorized') {
                        alert('custom message. Error: ' + errorThrown);
                    } else {
                        //alert('custom message. Error2: ' + errorThrown);
                    }
                }
            });
        }
    }
</script>






