@model Mst_ColumnConfigGroup

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Sửa nhóm cấu hình";
    ViewBag.Title = title;
}


<style>
    .lbl-flag {
        padding-top: 0 !important;
    }
</style>

<div class="">
    <div class="row no-margin">
        <aside class="col-12">
            @using (Html.BeginForm("Update", "Mst_ColumnConfigGroup", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


                <div class="row layout-bot-top-16">
                    <div class="col-12">
                        <div class="clearfix">
                            <div class="row no-margin">
                                @RenderItemFormat("BTN_CAP_NHAT_CAU_HINH_HIEN_THI_SO_THAP_PHAN_LUU", "<a href=\"javascript: void(0); \" class=\"btn btn-nc-button\" style=\"\" onclick=\"SaveData();\"><i class=\"fas fa-save\" aria-hidden=\"true\"></i> Lưu</a>", "", "")
                            </div>
                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã nhóm <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="ColumnConfigGrpCode" name="ColumnConfigGrpCode" class="col-12 ColumnConfigGrpCode disabled-fix" onkeyup="locdau(this);" value="@CUtils.StrValue(Model.ColumnConfigGrpCode)" autocomplete="off" required />
                                </span>
                            </div>
                        </div>


                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tên nhóm <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="ColumnGrpName" name="ColumnGrpName" class="col-12 ColumnGrpName disabled-fix" value="@CUtils.StrValue(Model.ColumnGrpName)" autocomplete="off" required />
                                </span>
                            </div>
                        </div>


                    </div>

                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Số chữ số phần thập phân <span style=\"color: red\">*</span>")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" id="ColumnGrpFormat" name="ColumnGrpFormat" class="col-12 ColumnGrpFormat text-right" value="@CUtils.StrValue(Model.ColumnGrpFormat)" autocomplete="off" required />
                                </span>
                            </div>
                        </div>
                        <div class="form-group margin-bottom-9">
                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mô tả")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <textarea typeof="text" id="ColumnGrpDesc" name="ColumnGrpDesc" class="col-12 ColumnGrpDesc" rows="2">@CUtils.StrValue(Model.ColumnGrpDesc)</textarea>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 no-padding">
                        <div class="form-group margin-bottom-9">
                            @{
                                var checkActive = "";
                                if (Model != null && !CUtils.IsNullOrEmpty(Model.FlagActive) && Model.FlagActive.Equals("1"))
                                {
                                    checkActive = "checked";
                                }
                                else
                                {
                                    checkActive = "";
                                }
                            }

                            <label for="" class="col-12 col-sm-4 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Trạng thái")</label>
                            <div class="col-12 col-sm-8">
                                <span class="block input-icon input-icon-right">
                                    <label class="lbl-flag">
                                        <input name="FlagActive" id="FlagActive" class="ace ace-switch ace-switch-4 " type="checkbox" value="1" @checkActive />
                                        <span class="lbl"></span>
                                        <input name="" type="hidden" value="0" />
                                    </label>
                                </span>
                            </div>


                        </div>
                    </div>
                </div>
            }
        </aside>
    </div>
</div>


@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/Mst_ColumnConfigGroup.js")"></script>

    <script type="text/javascript">
        setAdminCurrentUrl('@Url.Action("Index", "Mst_ColumnConfigGroup")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });
        var _getForm = document.getElementById("manageForm");
        _getForm.addEventListener('reset', function () {
            document.getElementById("").focus();
        });


        function SaveData() {
            var ajaxSettings = {};

            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Edit", "Mst_ColumnConfigGroup")';


            var objMst_ColumnConfigGroup = new Mst_ColumnConfigGroup();
            objMst_ColumnConfigGroup.ActionType = "edit";
            objMst_ColumnConfigGroup.ajaxSettings = ajaxSettings;
            objMst_ColumnConfigGroup.saveData();


        }
    </script>
}