<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - Inventory</title>

    @Html.Partial("Render_StyleSheet")
    @*Chèn CSS tại trang con nếu cần*@
    <style>
    </style>
    @RenderSection("StyleSheet", required: false)
    @Html.Partial("Render_JavaScript")
    @*End Show Error*@
    @Html.Partial("_loading")
</head>

<body style="">
    <style>
        .no-margin {
            margin: 0;
        }

        .navbar {
            border-bottom: 5px solid #ea6d36;
            padding: 0 5px;
        }

        .img-responsive {
            max-width: 100%;
        }

        .login-box {
            width: 430px;
        }

        .widget-body {
            background-color: #FFF;
            border-radius: 15px;
            padding: 30px;
        }

        input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea, .input-group > .btn, .select-items, select, option {
            border-radius: 5px !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 5px !important;
            border-bottom-right-radius: 5px !important;
            border-bottom-left-radius: 5px !important;
            padding: 3px 6px 4px 6px !important;
        }

        .header-left-bottom input[type="text"]:hover {
            border-color: #057d5a;
            background: url(/images/userlogin-hover.png)no-repeat 97% 8px;
        }

        .header-left-bottom input[type="text"] {
            background: url(/images/userlogin.png)no-repeat 97% 8px;
            outline: none;
            font-size: 15px;
            font-weight: 400;
            color: #858585;
            border: 1px solid #858585;
            padding: 10px 20px !important;
            width: 100%;
            display: inline-block;
            margin-bottom: 20px;
        }

        .header-left-bottom input[type="password"] {
            background: url(/images/pass.png)no-repeat 97% 8px;
            outline: none;
            font-size: 15px;
            font-weight: 400;
            color: #858585;
            border: 1px solid #858585;
            padding: 10px 20px !important;
            width: 100%;
            margin: 0 0 20px;
            display: inline-block;
        }

            .header-left-bottom input[type="password"]:hover {
                border-color: #057d5a;
                background: url(/images/pass-hover.png)no-repeat 97% 8px;
            }

        .modal-body {
            padding: 0;
        }

        .remember {
            margin-bottom: 15px;
        }

        label.checkbox {
            line-height: 20px;
            padding: 7px 35px;
            margin-bottom: 0;
        }

        .forgot {
            float: right;
        }

            .forgot h6 {
                line-height: 15px;
                font-size: 15px;
            }

        .btn-login {
            background-color: #057D5A !important;
            color: #FFF;
            font-size: 15px;
            padding: 10px 11px;
            width: 100%;
            font-weight: 500;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -o-transition: 0.5s all;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 3px;
            height: auto!important;
        }

        a.navbar-brand {
            padding: 0;
        }
        img.logo {
            width: 120px;
            margin: 10px;
        }

        
    </style>
    <div id="navbar" class="navbar navbar-default ace-save-state fix-navbar no-margin">
        <div class="navbar-container ace-save-state container-fluid" id="navbar-container">
            <div class="navbar-header pull-left navbar-header-fix">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <img class="logo img-responsive" src="@Url.Content("~/Images/inventory.login.svg")" alt="idocNet">
                </a>
            </div>
            <div class="col-xs-7" style="float: right; line-height: 44px;">
                <span style="float: right; font-size: 15px;color:#057D5A">
                    <img class="img-info" src="@Url.Content("~/Images/email.header.svg")" />
                    support@idocnet.com
                    <span style="font-size: 25px; padding: 0px 20px;">|</span>
                    <img class="img-info" src="@Url.Content("~/Images/hotline.header.svg")" />
                    024 7306 8889
                </span>
            </div>
        </div><!-- /.navbar-container -->
    </div>


    <div class="row no-margin" style="">
        @RenderBody()
    </div>

    @*@Html.Partial("Footer")*@

    <script src="@Url.Content("~/Scripts/js/ie10-viewport-bug-workaround.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/CustomSelect.js")"></script>
    @*Chèn Scripts tại trang con nếu cần*@
    @RenderSection("Scripts", required: false)
    @*lan 2019_04-13*@
    <script>
        function escapeHtml(text) {
            return text
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>

    <div class="fix_tel">
        <div class="ring-alo-phone ring-alo-green ring-alo-show" id="ring-alo-phoneIcon" style="right: 150px; bottom: -12px;">
            <div class="ring-alo-ph-circle"></div>
            <div class="ring-alo-ph-circle-fill"></div>
            <div class="ring-alo-ph-img-circle">

                <a href="tel:0962 46 44 66">
                    <img class="lazy" src="@Url.Content("~/Images/phone-ring.png")" alt="Call now">
                    <noscript>&amp;amp;amp;amp;lt;img src="http://hoadontvan.com/Images/phone-ring.png" alt=""&amp;amp;amp;amp;gt;</noscript>
                </a>
            </div>
        </div>
        <div class="tel">
            <p class="fone">0962 46 44 66</p>
        </div>
    </div>

    <!--Start of icic script-->
    <script type='text/javascript'>
        var icic_api = icic_api || {};
        (function () {
            var s1 = document.createElement('script'), s0 = document.getElementsByTagName('script')[0];
            s1.async = true;
            s1.src = 'https://skycic.com/client/script/3273767000/a05c6d';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of icic script-->

</body>
</html>
