@model idn.Skycic.Inventory.Website.Models.LoginModel

@{
    /**/

    var title = "ĐĂNG NHẬP HỆ THỐNG";
    ViewBag.Title = "ĐĂNG NHẬP HỆ THỐNG";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var usercode = ViewBag.UserCode as string;
    if (CUtils.IsNullOrEmpty(usercode))
    {
        //usercode = "Tên truy cập";
    }
    var password = ViewBag.Password as string;
    if (CUtils.IsNullOrEmpty(password))
    {
        //password = "Mật khẩu";
    }
}

<style>
    body {
        overflow: hidden;
    }
    /* The checkbox */
    .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 5px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: 1px solid #ddd;
    }

    /* On mouse-over, add a grey background color */
    .checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox input:checked ~ .checkmark {
        background-color: #057D5A;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox .checkmark:after {
        left: 8px;
        top: 3px;
        width: 7px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .img-info {
        width: 17px;
        margin-right: 5px;
    }
</style>

<div class="" style="position: relative">
    <img src="@Url.Content("~/Images/background.png")" class="img-responsive" />
    @*<div class="col-xs-7" style="position: absolute; top: 2%;text-align: center; color: #fff; font-weight: bold">
            <h1 style="font-family: OpenSans-Bold; font-size: 28px">PHẦN MỀM HÓA ĐƠN ĐIỆN TỬ Q-INVOICE</h1>
            <h3>Đơn giản - Nhanh chóng - Tin cậy</h3>
        </div>*@
    <div class="col-xs-4" style="position: absolute; top: 9%; right: 5%">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main no-padding">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "manageForm", @class = "form-horizontal", redirectUrl = ViewBag.RedirectUrl }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@ViewBag.RedirectUrl" />
                        <div class="modal-body no-padding" style="max-height: 800px">
                            <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                                <div class="header-left-bottom agileinfo">
                                    <center><h3 style="margin-bottom: 50px; margin-top: 0px; font-weight: bold; color: #057D5A">ĐĂNG NHẬP HỆ THỐNG</h3></center>

                                    <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@ViewBag.RedirectUrl" />

                                    <input type="text" id="UserCodeLogin" value="@MvcHtmlString.Create(usercode)" class="ip-enter" name="UserCodeLogin" placeholder="Tên truy cập" />
                                    <input type="password" id="PasswordLogin" value="@MvcHtmlString.Create(password)" class="ip-enter" name="PasswordLogin" placeholder="Mật khẩu" />
                                    <div class="remember">
                                        <span class="checkbox1">
                                            <label class="checkbox">
                                                Nhớ mật khẩu
                                                <input id="RememberMe" name="RememberMe" type="checkbox" checked="checked" onchange="ChangeCheckBox(this)" value="true">
                                                <span class="checkmark"></span>
                                            </label>
                                        </span>
                                        <div class="forgot">
                                            <h6><a href="@Url.Action("ForgetPassword", "Register")" style="color:#057D5A"><u>Quên mật khẩu?</u></a></h6>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>

                                    <div class="col-xs-12" style="margin-bottom: 50px; padding: 0;">
                                        <a href="javascript:void(0)" onclick="Login()" class="btn btn-login" style="">Login</a>
                                    </div>
                                    <div class="col-xs-12" style="text-align: center; font-size: 15px;">
                                        <p style="color: #858585">Bạn chưa có tài khoản?</p>
                                        <a href="@Url.Action("Create", "Register")" class="" style="color:#057D5A">Đăng ký</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

</div><!-- /.position-relative -->

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/Login.js")"></script>

    <script type="text/javascript">
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });
    $(document).ready(function () {

        $('.ip-enter').bind("enterKey",function(e){
            Login();
        });
        $('.ip-enter').keyup(function(e){
            if(e.keyCode === 13)
            {
                $(this).trigger("enterKey");
            }
        });

        // 2019-09-13
        var notice = '@MvcHtmlString.Create(ViewBag.Detail == null ? "" : ViewBag.Detail)';
        if (notice != "") {
            var orgID = '@(ViewBag.orgID == null ? "" : ViewBag.orgID)';
            if (orgID != "") {
                 bootbox.confirm({
                title: "<img id=\"exclamation-circle\" style=\"width: 35px; float: left; margin-right: 10px\" src=\"@Url.Content("~/Images/exclamation-circle-solid.svg")\"> THÔNG BÁO",
                     message: notice,
                buttons: {
                    'cancel': {
                        label: 'Thoát',
                        className: 'btn mybtn-Button btnButton'
                    },
                    'confirm': {
                        label: 'Đồng ý',
                        className: 'btn mybtn-Button btnButton'
                    }
                },
                     callback: function (result) {
                         debugger;
                         if (result == true) {
                             window.location.href = '@Url.ActionLocalized("BuyPackage", "agent/register", new { orgID = ViewBag.orgID == null ? "" : ViewBag.orgID })'
                         }
                }
            });
            }
            else {
                alert(notice);
            }
        }
        //

    });

    function Login() {
        var user = new User();
        if (user.checkFormLogin()) {
            var encode = MyBase64.encode($('#PasswordLogin').val().toString().trim());
            $('#PasswordLogin').val(encode);
            user.setInfo(commonUtils.returnValueText('#UserCodeLogin'), commonUtils.returnValueText('#PasswordLogin'));
            user.submitForm('#manageForm', 'action', '@(Url.Action("Login", "Account"))');
        }
    }

    </script>
}





