@model Mst_Dealer
@{
    Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    const string title = "Sửa kho";
    ViewBag.Title = title;
    
    var chked = "checked=\"checked\"";
}
<script type="text/javascript">
    var parents = new Array();
    parents.push("@Url.Action("Index", "Mst_Dealer")");
    parents.push("");
    var parentsText = new Array();
    parentsText.push("@MvcHtmlString.Create("Quản lý đơn vị")");
    parentsText.push("@MvcHtmlString.Create(title)");
    setAdminCurrentTag(parents, parentsText);
</script>
<style type="text/css">
    .form-horizontal .form-group {
        margin-left: -12px;
        margin-right: -12px;
        margin-bottom: 15px;
    }
</style>
<div class="row no-margin">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h1 class="title">@MvcHtmlString.Create(title)</h1>
                </div>
                <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                    <aside class="row no-margin box-shadow-tk">
                        @using (Html.BeginForm("Create", "Mst_Dealer", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="col-sm-12">
                                <div class="col-xs-4 no-padding">
                                    <div class="form-group margin-bottom-5">
                                        <label for="InvCode" class="col-xs-6 control-label no-padding-right font-weight-500 ">Mã đơn vị<span style="color: red">*</span></label>
                                        <div class="col-xs-6 col-sm-6">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" id="DLCode" disabled="disabled" name="DLCode" class="col-xs-11 DLCode" onkeyup="locdau(this);" value="@if (Model != null && Model.DLCode != null){@Model.DLCode} else { @("")}" autocomplete="off" readonly required />
                                            </span>
                                        </div>

                                    </div>
                                    <div class="form-group margin-bottom-5">
                                        <label for="InvName" class="col-xs-6 control-label no-padding-right font-weight-500 ">Mã đơn vị cha</label>
                                        <div class="col-xs-6">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" id="DLCodeParent" name="DLCodeParent" disabled="disabled" class="col-xs-11 DLCodeParent" value="@if (Model != null && Model.DLCodeParent != null){@Model.DLCodeParent} else { @("")}" autocomplete="off" required />
                                            </span>
                                        </div>

                                    </div>
                                    <div class="form-group margin-bottom-5">
                                        <label for="InvCodeParent" class="col-xs-6 control-label no-padding-right font-weight-500 ">Tên đơn vị</label>
                                        <div class="col-xs-6">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" id="DLName" name="DLName" class="col-xs-11 " value="@if (Model != null && Model.DLName != null){@Model.DLName} else { @("")}" autocomplete="off" />


                                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-4 no-padding">

                                    <div class="form-group margin-bottom-5">
                                        <label for="InvCode" class="col-xs-6 control-label no-padding-right font-weight-500 ">Kho của đơn vị<span style="color: red">*</span></label>
                                        <div class="col-xs-6">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" id="InvCode" disabled="disabled" name="InvCode" class="col-xs-11 " required="required" value="@if (Model != null && Model.InvCode != null){@Model.InvCode} else { @("")}" autocomplete="off" />

                                            </span>
                                        </div>

                                    </div>
                                    <div class="form-group margin-bottom-5">
                                        <label for="PMType" class="col-xs-6 control-label no-padding-right font-weight-500 ">Nhóm sản phẩm<span style="color: red">*</span></label>
                                        <div class="col-xs-6">
                                            <span class="block input-icon input-icon-right">
                                                <input type="text" id="PMType" name="PMType" disabled="disabled" class="col-xs-11 " required="required" value="@if (Model != null && Model.PMType != null){@Model.PMType} else { @("")}" autocomplete="off" />

                                            </span>
                                        </div>

                                    </div>
                                    @{
                                        var checkActive = "";
                                        if (Model != null && Model.FlagActive.Equals("1"))
                                        {
                                            checkActive = "checked";
                                        }
                                        else
                                        {
                                            checkActive = "";
                                        }
                                    }
                                    <div class="form-group margin-bottom-5">
                                        <label for="FlagActive" class="col-xs-6 control-label no-padding-right font-weight-500 ">Kích hoạt</label>
                                        <div class="col-xs-6">
                                            <span class="block input-icon input-icon-right padding-top-5">
                                                <label>
                                                    <input name="FlagActive" id="FlagActive" class="ace ace-switch ace-switch-4 " type="checkbox" value="1" @checkActive />
                                                    <span class="lbl"></span>
                                                    <input name="FlagActive" type="hidden" value="0" />
                                                </label>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-xs-4 no-padding">
                                    <div class="form-group margin-bottom-5">
                                        <label for="Remark" class="col-xs-6 control-label no-padding-right font-weight-500 ">Ghi chú</label>
                                        <div class="col-xs-6">
                                            <span class="block input-icon input-icon-right">
                                                <textarea id="Remark" name="Remark" class="col-xs-11 Remark" rows="3">@Model.Remark</textarea>
                                            </span>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        }
                    </aside>
                    <div class="col-xs-12 text-center">
                        <div class="clearfix">
                            <div class="row no-margin text-center" style="float: right;">
                                @RenderItemFormat("BTN_SUA_DON_VI_CAP_NHAT", "<a href=\"javascript:void();\" class=\"btn font-color mybtn-Button\" style=\"margin-top: 20px; margin-left: 10px; padding-left: 15px!important; padding-right: 15px!important; \" onclick=\"SaveData();\"><i class=\"ace-icon fa fa-floppy-o bigger-110\"></i>Lưu</a>", "", "")

                                @*<a href="javascript:void();" class="btn font-color mybtn-Button" style="margin-left: 10px; padding-left: 15px!important; padding-right: 15px!important; " onclick="SaveData();"><i class="ace-icon fa fa-floppy-o bigger-110"></i>Lưu</a>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/Mst_Dealer.js")"></script>
    <script type="text/javascript">
        @*Active Menu*@
        setAdminCurrentUrl('@Url.Action("Index", "Mst_Dealer")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });
        @* Set focus *@
        $(document).ready(function () {
            $('#DLCode').focus();
        });
        function SaveData() {

            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Edit", "Mst_Dealer")';
            var objMst_Dealer = new Mst_Dealer();
            objMst_Dealer.ActionType = 'edit';
            objMst_Dealer.ajaxSettings = ajaxSettings;
            objMst_Dealer.saveData();
        }
    </script>
}









