@model PageInfo<InvF_InventoryReturnSup>
@{
    /**/

    var init = CUtils.StrValue(ViewBag.init);
    var userState = ViewBag.UserState as UserState;
    var pageCur = CUtils.StrValue(ViewBag.PageCur);
    var recordCount = CUtils.StrValue(ViewBag.RecordCount);
    var totalPage = "0";
    if (Model != null)
    {
        totalPage = CUtils.StrValue(Model.PageCount);
    }
    var showtext = "";
    if (Model.ItemCount > 0)
    {
        var recordstart = (Model.PageIndex) * Model.PageSize + 1;
        var recordend = (Model.PageIndex + 1) * Model.PageSize;
        if (recordend > Model.ItemCount)
        {
            recordend = Model.ItemCount;
        }
        showtext = recordstart + "-" + recordend + " trong số " + Model.ItemCount;
    }
}
<input type="hidden" id="page" value="@ViewBag.PageCur" />
<input type="hidden" id="totalpage" value="@Model.PageCount" />
@*<script src="~/Content/assets/js/myjs/trahangNCC.js"></script>*@
<div class="col-xs-12 layout-bot-top-16" style="">
    <div class="row">
        <div class="col-6">
            @{
                var urlCreate = Url.Action("Create", "InvFInventoryReturnSup");
            }
            @RenderItemFormat("BTN_INVF_INVENTORYRETURNSUP_CREATE", " <a class=\"btn btn-nc-button\" href=\"" + urlCreate + "\"><i class=\"fa fa-plus-circle\" aria-hidden=\"true\"></i> Tạo mới</a>")
            @RenderItemFormat("BTN_INVF_INVENTORYRETURNSUP_APPROVE", " <a class=\"btn btn-nc-button\" onclick=\"Approve()\" href=\"javascript:;\"><i class=\"fa fa-check-circle\" aria-hidden=\"true\"></i> Duyệt</a>")
            @RenderItemFormat("BTN_INVF_INVENTORYRETURNSUP_CANCEL", " <a class=\"btn btn-nc-button\" onclick=\"Cancel()\" href=\"javascript:;\"><i class=\"fas fa-ban\" aria-hidden=\"true\"></i> Huỷ</a>")
            @RenderItemFormat("BTN_INVF_INVENTORYRETURNSUP_DELETE", " <a class=\"btn btn-nc-button\" onclick=\"Delete()\" href=\"javascript:;\"><i class=\"fas fa-trash\" aria-hidden=\"true\"></i> Xóa</a>")
            <a class="btn font-color btn-nc-button" data-toggle="dropdown" aria-expanded="false" style="font-size: 13px; position: relative;"><i class="fas fa-ellipsis-h"></i></a>
            <ul class="dropdown-menu dropdown-action" role="menu" style="">
                <li style="padding: 5px">
                    <a class="row no-margin col-12 no-padding" onclick="Export()" href="javascript:void(0);" style="line-height: 13px; color: #000000"><i class="fas fa-download" aria-hidden="true"></i> &nbsp; Xuất Excel</a>
                </li>
                <li style="padding: 5px">
                    <a class="row no-margin col-12 no-padding" onclick="Print()" href="javascript:void(0);" style="line-height: 13px; color: #000000"><i class="fas fa-print" aria-hidden="true"></i> &nbsp; In phiếu</a>
                </li>
                @*<li style="padding: 5px">
                        <a class="row no-margin col-12 no-padding" onclick="SendEmail()" href="javascript:void(0);" style="line-height: 13px; color: #000000"><i class="fas fa-envelope-open-text" aria-hidden="true"></i> &nbsp; Gửi email</a>
                    </li>*@
            </ul>
            <span class="search-bar" style="margin-left:5px;margin-top:3px;">
                <input type="text" id="dynamic-table-thead-search" class="quicksearch txtSearchObj" name="search">
                <input type="text" class="quicksearch1 txtSearchObj1" name="search" style="z-index: -1000; height: 0; padding: 0; margin: 0; border: 0">
            </span>
        </div>
        <div class="col-6">
            @Html.Partial("Pagination", null, new ViewDataDictionary() { { "PageCur", MvcHtmlString.Create(pageCur) }, { "RecordCount", MvcHtmlString.Create(recordCount) }, { "ShowText", showtext } })
        </div>
    </div>
</div>

<div class="panel-body no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
    <aside class="col-xs-12 layout-table no-padding">
        @Html.AntiForgeryToken()
        <div class="scrollable-horizontal padding-left-0 padding-right-0" style="padding-top: 0!important;">
            <div style="width: 100%; float: left;">
                <table id="dynamic-table-thead" idn-datatable-id="dynamic-table-thead-tbody" class="table table-bordered table-thead table-cus table-bottom-0 no-margin">
                    <thead class="thead-selectpromotion">
                        <tr class="trthead" filterroot="" bfilter="0">
                            <th fieldId="CONTROL" fieldName="CONTROL" fieldActive="0" class="text-center cell-50">
                                @*<input type="checkbox" id="checkAll" class="inputcheck" onchange="CheckAll();" />*@
                                <input type="checkbox" class="idn-checkbox" onclick="CheckAll1(this);" id="check-box-all" name="check-box-all" />
                                <label for="check-box-all"><span></span></label>
                            </th>
                            <th fieldId="STT" fieldName="STT" fieldActive="0" class="text-center cell-50">
                                @("STT".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="IF_INVRETURNSUPNO" fieldName="Số phiếu trả hàng" fieldActive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="text-left cell-150">
                                @("Số phiếu trả hàng".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="APPRDTIMEUTC" fieldName="Thời gian trả" fieldActive="0" idn-data-type="D" idn-data-sort="1" idn-data-filter="1" class="text-left cell-150">
                                @("Thời gian trả".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="INVCODEOUT" fieldName="Kho xuất" fieldActive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="text-left cell-100">
                                @("Kho xuất".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="CUSTOMERCODE" fieldName="Nhà cung cấp" fieldActive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="text-left cell-200">
                                @("Nhà cung cấp".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="TOTALVALRETURNSUPAFTERDESC" fieldName="Tổng tiền" fieldActive="1" idn-data-type="N" idn-data-sort="1" idn-data-filter="1" class="text-left cell-100 idn-hidden">
                                @("Tổng tiền".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="IF_RETURNSUPSTATUS" fieldName="Trạng thái" fieldActive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="text-left cell-100">
                                @("Trạng thái".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="REMARK" fieldName="Nội dung" fieldActive="1" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="text-left cell-200 idn-hidden">
                                @("Nội dung".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="IF_INVINNO" fieldName="Số phiếu nhập" fieldActive="0" idn-data-type="T" idn-data-sort="1" idn-data-filter="1" class="text-left cell-100">
                                @("Số phiếu nhập".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                            <th fieldId="CREATEDTIMEUTC" fieldName="Thời gian tạo" fieldActive="1" idn-data-type="D" idn-data-sort="1" idn-data-filter="1" class="text-left cell-100 idn-hidden">
                                @("Thời gian tạo".HtmlItemString("InvF_InventoryReturnSup"))
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="scrollable_1" class="scrollable" style="width: 100%; float: left">
                <table id="dynamic-table-thead-tbody" class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody dynamic-table-thead-tbody no-margin">
                    <tbody id="table-tbodyID">
                        @if (Model != null && Model.DataList != null && Model.DataList.Count > 0)
                        {
                            var i = 1;
                            foreach (var item in Model.DataList)
                            {
                                var createDTimeUTC = CUtils.StrValue(item.CreateDTimeUTC);
                                if (!CUtils.IsNullOrEmpty(createDTimeUTC))
                                {
                                    createDTimeUTC = CUtils.ReturnDateTimeUtcToLocalTime(createDTimeUTC, Nonsense.DATE_TIME_FORMAT, userState.UtcOffset);
                                }
                                var apprDTimeUTC = CUtils.StrValue(item.ApprDTimeUTC);
                                if (!CUtils.IsNullOrEmpty(apprDTimeUTC))
                                {
                                    apprDTimeUTC = CUtils.ReturnDateTimeUtcToLocalTime(apprDTimeUTC, Nonsense.DATE_TIME_FORMAT, userState.UtcOffset);
                                }
                                <tr idx="@(i)" class="data-item trdata" ondblclick="location.href='@Url.Action("Detail", "InvFInventoryReturnSup", new { IF_InvReturnSupNo = item.IF_InvReturnSupNo })'">
                                    <input type="hidden" name="IF_InvReturnSupNo" value="@item.IF_InvReturnSupNo" />
                                    <input type="hidden" name="IF_ReturnSupStatus" value="@item.IF_ReturnSupStatus" />
                                    <td fieldId="CONTROL" fieldActive="0" class="text-center cell-50 ">
                                        <input type="checkbox" class="idn-checkbox" name="check-box" id="check-box-@i" onclick="checkBox_PopupSelectPromotion(this, $('.thead-selectpromotion'), $('#table-tbodyID'));" />
                                        <label for="check-box-@i"><span></span></label>
                                    </td>
                                    <td fieldId="STT" fieldName="STT" fieldActive="0" class="text-center cell-50">
                                        @i
                                    </td>
                                    <td fieldId="IF_INVRETURNSUPNO" fieldActive="0" class="text-left cell-150">
                                        @(item.IF_InvReturnSupNo == null ? "" : item.IF_InvReturnSupNo)
                                    </td>
                                    <td fieldId="APPRDTIMEUTC" fieldActive="0" class="text-left cell-150">
                                        @MvcHtmlString.Create(apprDTimeUTC)
                                    </td>
                                    <td fieldId="INVCODEOUT" fieldActive="0" class="text-left cell-100">
                                        @(item.InvCodeOut == null ? "" : item.InvCodeOut)
                                    </td>
                                    <td fieldId="CUSTOMERCODE" fieldActive="0" class="text-left cell-200">
                                        @(item.mct_CustomerName == null ? "" : item.mct_CustomerName)
                                    </td>
                                    <td fieldId="TOTALVALRETURNSUPAFTERDESC" fieldActive="1" class="text-right numberic cell-100 idn-hidden">
                                        @(item.TotalValReturnSupAfterDesc == null ? "" : item.TotalValReturnSupAfterDesc)
                                    </td>
                                    <td fieldId="IF_RETURNSUPSTATUS" fieldActive="0" class="text-left cell-100 idn-hidden">
                                        @(item.IF_ReturnSupStatus == null ? "" : item.IF_ReturnSupStatus)
                                    </td>
                                    <td fieldId="REMARK" fieldActive="1" class="text-left cell-200 idn-hidden">
                                        @(item.Remark == null ? "" : item.Remark)
                                    </td>
                                    <td fieldId="IF_INVINNO" fieldActive="0" class="text-left cell-100">
                                        @(item.IF_InvInNo == null ? "" : item.IF_InvInNo)
                                    </td>
                                    <td fieldId="CREATEDTIMEUTC" fieldActive="1" class="text-left cell-100 idn-hidden">
                                        @MvcHtmlString.Create(createDTimeUTC)
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </aside>
</div>
<script>
    function CheckAll1(thiz) {
        let trArr = $('#table-tbodyID');
        if (trArr !== null && trArr.length > 0) {
            for (var i = 0; i < trArr.length; i++) {
                var trCur = trArr[i];
                if (trCur !== null && trCur !== undefined) {
                    var inputCkb = $(trCur).find('input[type="checkbox"]');
                    var check = false;
                    if ($(thiz).is(":checked")) {
                        check = true;
                    }
                    $(inputCkb).prop("checked", check);
                }
            }
        }
    }
</script>

<script>
    function checkBox_PopupSelectPromotion(thiz, $thead, $tbody) {
        debugger;
        var c_all = false;
        if ($(thiz).is(":checked")) {
            c_all = true;
        }
        if (!c_all) {
            var $inputCheckBox_CheckAll = $thead.find('input.idn-checkbox');
            if ($inputCheckBox_CheckAll !== undefined && $inputCheckBox_CheckAll !== null) {
                $inputCheckBox_CheckAll.prop("checked", c_all);
            }
        }
        else {
            var rows = $tbody.find('tr.trdata').length;
            if (rows > 0) {
                var trArr = $tbody.find('tr.trdata').has('input[type=checkbox]:checked');
                if (trArr !== null) {
                    var trLength = trArr.length;
                    if (trLength === rows) {
                        $thead.find('input.idn-checkbox').prop("checked", c_all);
                    }
                    else {
                        $thead.find('input.idn-checkbox').prop("checked", !c_all);
                    }
                }
                else {
                    $thead.find('input.idn-checkbox').prop("checked", !c_all);
                }
            }
        }
    }
</script>