@model List<Prd_BOMUI>
@{
    var productCode = ViewBag.ProductCode;
    var ProductCodeUser = ViewBag.ProductCodeUser;
    var ProductName = ViewBag.ProductName;
    var qtyCombo = ViewBag.qtyCombo;
}
<div class="modal-dialog" style="width: 1000px; max-width: 1000px;">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel"><b>Hàng hóa thành phần combo</b></h2>
            <a href="javascript:;" onclick="ClosePopupCombo()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        </div>
        <div class="modal-body" style="">
            <div class="form-group margin-bottom-9">
                <div class="col-10 col-sm-8">
                    <span class="block input-icon input-icon-right">
                        <label>Mã hàng hóa: @ProductCodeUser - @ProductName</label>
                    </span>
                </div>
            </div>
            <div class="scrollable-horizontal padding-left-0 padding-right-0 table-responsive" style="padding-top: 0!important; ">
                <div style="width: 100%; float: left;">
                    <table id="dynamic-table-thead" class="table table-bordered table-thead table-cus table-bottom-0 no-margin">
                        <thead>
                            <tr class="trthead">
                                <th class="text-center cell-50">
                                </th>
                                <th fieldId="ProductCode" sorttype="T" fieldName="Mã hàng hóa" fieldActive="0" class="text-left cell-150">
                                    @("Mã hàng hóa".HtmlItemString("productcode"))
                                </th>
                                <th fieldId="ProductName" sorttype="T" fieldName="Tên hàng hóa (TV)" fieldActive="0" class="text-left cell-150">
                                    @("Tên hàng hóa (TV)".HtmlItemString("productname"))
                                </th>
                                <th fieldId="UnitCode" sorttype="T" fieldName="Đơn vị tính" fieldActive="0" class="text-left cell-100">
                                    @("Đơn vị tính".HtmlItemString("unitcode"))
                                </th>
                                <th fieldId="INVADDRESS" sorttype="T" fieldName="Tồn kho" fieldActive="0" class="text-left cell-100">
                                    @("Tồn kho".HtmlItemString("inventory"))
                                </th>
                                <th fieldId="INVLEVELTYPE" sorttype="T" fieldName="Số lượng" fieldActive="0" class="text-left cell-100">
                                    @("Số lượng".HtmlItemString("inventory"))
                                </th>
                                <th fieldId="INVTYPE" sorttype="T" fieldName="Vị trí xuất" fieldActive="0" class="text-left cell-150">
                                    @("Vị trí xuất".HtmlItemString("inventory"))
                                </th>
                                <th fieldId="INVTYPE" sorttype="T" fieldName="Giá bán" fieldActive="0" class="text-left cell-100">
                                    @("Giá bán".HtmlItemString("inventory"))
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="scrollable_1" class="scrollable" style="width: 100%; float: left">
                    <table id="dynamic-table-thead-tbody" class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody dynamic-table-thead-tbody no-margin">
                        <tbody id="table-tbodyIDCombo">
                            @{
                                var stt = 0;
                                if (Model != null && Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        var qtyInit_Combo = CUtils.ConvertToDouble(item.Qty);
                                        var fqtyCombo = CUtils.ConvertToDouble(qtyCombo);
                                        var qtyInCombo = qtyInit_Combo * fqtyCombo;

                                        var productCodeUsercur = CUtils.StrValue(item.mp_ProductCodeUser);
                                        var productNamecur = CUtils.StrValue(item.mp_ProductName);
                                        var unitCode = CUtils.StrValue(item.mp_UnitCode);
                                        var qtyToTalOKMax = item.QtyTotalOKMax;
                                        var mp_UPSell = CUtils.StrValue(item.mp_UPSell);
                                        var invCodeMax = CUtils.StrValue(item.InvCodeMax);

                                        <tr class="trdata" idx="@stt" productcode="@productCode">

                                            <input type="hidden" name="Lst_InvF_InventoryOutComboDtl[@stt].ProductCodeRoot" value="@productCode" />
                                            <input type="hidden" name="Lst_InvF_InventoryOutComboDtl[@stt].ProductCode" value="@(item.ProductCode)" />
                                            <input type="hidden" name="Lst_InvF_InventoryOutComboDtl[@stt].UnitCode" value="@(unitCode)" />
                                            <input type="hidden" name="Lst_InvF_InventoryOutComboDtl[@stt].Remark" value="" />
                                            <input type="hidden" name="Lst_InvF_InventoryOutComboDtl[@stt].QtyInit" value="@qtyInit_Combo" />
                                            <td class="text-center cell-50">@(stt + 1)</td>

                                            <td fieldId="ProductCode" sorttype="T" fieldName="Mã hàng hóa" fieldActive="0" class="text-left cell-150">
                                                @MvcHtmlString.Create(productCodeUsercur)

                                            </td>
                                            <td fieldId="ProductName" sorttype="T" fieldName="Tên hàng hóa (TV)" fieldActive="0" class="text-left cell-150">
                                                @MvcHtmlString.Create(productNamecur)
                                            </td>

                                            <td fieldId="UnitCode" sorttype="T" fieldName="Đơn vị tính" fieldActive="0" class="text-left cell-100">
                                                @*@(item.mp_UnitCode == null ? "" : item.mp_UnitCode)*@
                                            </td>
                                            <td fieldId="QtyTotalOKMax" sorttype="T" fieldName="Tồn kho" fieldActive="0" class="text-right cell-100">
                                                @*@(item.QtyTotalOKMax == null ? "0" : item.QtyTotalOKMax)*@
                                            </td>
                                            <td fieldId="Qty" sorttype="T" fieldName="Số lượng" fieldActive="0" class="text-right cell-100">
                                                <input class="col-md-12 text-right" name="Lst_InvF_InventoryOutComboDtl[@stt].Qty" value="@MvcHtmlString.Create(qtyInCombo)" disabled />
                                            </td>
                                            <td fieldId="InvCodeMax" sorttype="T" fieldName="Vị trí xuất" fieldActive="0" class="text-left cell-150">
                                                @*@(it.InvCodeMax == null ? "" : it.InvCodeMax)*@
                                                <select class="col-md-12" name="Lst_InvF_InventoryOutComboDtl[@stt].InvCodeOutActual" Onchange="ChangeInvOutCombo(this)">
                                                    @{
                                                        if (item.lstTonKhoVT != null)
                                                        {
                                                            foreach (var tk in item.lstTonKhoVT)
                                                            {
                                                                <option @(tk.InvCode.Equals(invCodeMax) ? "selected" : "") value="@tk.InvCode" InvCode="@tk.InvCode" QtyTotalOK="@tk.QtyTotalOK">@tk.InvCode</option>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td fieldId="INVTYPE" sorttype="T" fieldName="Giá bán" fieldActive="0" class="text-right cell-100">
                                                @MvcHtmlString.Create(mp_UPSell)
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            @*<a class="btn font-color mybtn-Button" href="javascript:void(0);" onclick="SelectCombo()" style="float: right;font-size: 13px;">Chọn</a>*@
            <a class="btn font-color mybtn-Button" href="javascript:void(0);" onclick="SaveCombo()" style="float: right;font-size: 13px;"><i class="fa fa-plus-circle" aria-hidden="true"></i>Lưu</a>
        </div>
    </div>
</div>



<script type="text/javascript">
    function ChangeInvOutCombo(thiz) {
        var optSelect = $(thiz).find('option:selected');
    }

    function SaveCombo() {

    }
</script>
