@model Mst_GovTaxID
@{
    var title = "CẬP NHẬT CƠ QUAN THUẾ";
    var titleMng = "Danh mục cơ quan thuế";
    ViewBag.Title = title;
    var listMst_Province = ViewBag.ListMst_Province as List<Mst_Province>;
    if (listMst_Province == null || listMst_Province.Count == 0)
    {
        listMst_Province = new List<Mst_Province>();
    }
    var listMst_District = ViewBag.ListMst_District as List<Mst_District>;
    if (listMst_District == null || listMst_District.Count == 0)
    {
        listMst_District = new List<Mst_District>();
    }
    var listMst_GovTaxIDparrent = ViewBag.ListMst_GovTaxIDparrent as List<Mst_GovTaxID>;
    if (listMst_GovTaxIDparrent == null || listMst_GovTaxIDparrent.Count == 0)
    {
        listMst_GovTaxIDparrent = new List<Mst_GovTaxID>();
    }
    var userState = ViewBag.UserState as UserState;
}
<script type="text/javascript">
    var parents = new Array();
    parents.push("@Url.Action("Index", "Mst_GovTaxID")");
    parents.push("");
    var parentsText = new Array();
    parentsText.push("@MvcHtmlString.Create(titleMng)");
    parentsText.push("@MvcHtmlString.Create(title)");
    setAdminCurrentTag(parents, parentsText);
</script>

<div class="row no-margin">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info">
                <div class="title">
                    <p style="vertical-align: bottom">@MvcHtmlString.Create(title)</p>
                </div>
                <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                    <aside class="row no-margin box-shadow-tk">
                        @using (Html.BeginForm("Update", "Mst_GovTaxID", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="GovTaxID" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã cơ quan thuế <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="GovTaxID" name="GovTaxID" class="col-xs-12 disabled-fix GovTaxID" onkeyup="locdau(this);" value="@if (Model != null && Model.GovTaxID != null){@MvcHtmlString.Create(Model.GovTaxID.ToString())} else { @("")}" autocomplete="off" required />
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group margin-bottom-5">
                                    <label for="GovTaxName" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tên cơ quan thuế <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="GovTaxName" name="GovTaxName" class="col-xs-12 GovTaxName" value="@if (Model != null && Model.GovTaxName != null){@MvcHtmlString.Create(Model.GovTaxName.ToString())} else { @("")}" autocomplete="off" required />
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="GovTaxIDParent" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã CQT cấp trên <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            @{
                                                var govTaxIDParent = "";
                                                if (Model != null)
                                                {
                                                    if (Model.GovTaxIDParent != null)
                                                    {
                                                        govTaxIDParent = Model.GovTaxIDParent.ToString();
                                                    }
                                                }
                                            }
                                            <select id="GovTaxIDParent" name="GovTaxIDParent" class="col-xs-12 GovTaxIDParent" required="">
                                                <option value=""></option>
                                                @if (listMst_GovTaxIDparrent != null && listMst_GovTaxIDparrent.Count > 0)
                                                {
                                                    foreach (var item in listMst_GovTaxIDparrent)
                                                    {
                                                        <option value="@MvcHtmlString.Create(item.GovTaxID.ToString().Trim())" desc="@MvcHtmlString.Create(item.GovTaxName.ToString().Trim())" @(item.GovTaxID.ToString().Trim().Equals(govTaxIDParent) ? "selected" : "")>@MvcHtmlString.Create(item.GovTaxName.ToString().Trim())</option>
                                                    }
                                                }
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-5">
                                    <label for="Level" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Cấp <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="Level" name="Level" class="col-xs-12 Level" value="@if (Model != null && Model.Level != null){@MvcHtmlString.Create(Model.Level.ToString())} else { @("")}" autocomplete="off" required />
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="ProvinceCode" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tỉnh/Thành phố <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            @{
                                                var provincecode = "";
                                                if (Model != null)
                                                {
                                                    if (Model.ProvinceCode != null)
                                                    {
                                                        provincecode = Model.ProvinceCode.ToString();
                                                    }
                                                }
                                            }
                                            <select id="ProvinceCode" name="ProvinceCode" class="col-xs-12 ProvinceCode" onchange="LoadDistrict(this)" required="">
                                                <option value=""></option>
                                                @if (listMst_Province != null && listMst_Province.Count > 0)
                                                {
                                                    foreach (var item in listMst_Province)
                                                    {
                                                        <option value="@MvcHtmlString.Create(item.ProvinceCode.ToString().Trim())" desc="@MvcHtmlString.Create(item.ProvinceName.ToString().Trim())" @(item.ProvinceCode.ToString().Trim().Equals(provincecode) ? "selected" : "")>@MvcHtmlString.Create(item.ProvinceName.ToString().Trim())</option>
                                                    }
                                                }
                                            </select>
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group margin-bottom-5">
                                    <label for="DistrictCode" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Quận/Huyện <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            @{
                                                var districtcode = "";
                                                if (Model != null)
                                                {
                                                    if (Model.DistrictCode != null)
                                                    {
                                                        districtcode = Model.DistrictCode.ToString();
                                                    }
                                                }
                                            }
                                            <select id="DistrictCode" name="DistrictCode" class="col-xs-12 DistrictCode" required="">
                                                <option value=""></option>
                                                @if (listMst_District != null && listMst_District.Count > 0)
                                                {
                                                    foreach (var item in listMst_District)
                                                    {
                                                        <option value="@MvcHtmlString.Create(item.DistrictCode.ToString().Trim())" desc="@MvcHtmlString.Create(item.DistrictCode.ToString().Trim())" @(item.DistrictCode.ToString().Trim().Equals(districtcode) ? "selected" : "")>@MvcHtmlString.Create(item.DistrictName.ToString().Trim())</option>
                                                    }
                                                }
                                            </select>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="Address" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Địa chỉ")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="Address" name="Address" class="col-xs-12 Address" value="@if (Model != null && Model.Address != null){@MvcHtmlString.Create(Model.Address.ToString())} else { @("")}" autocomplete="off" />
                                        </span>
                                    </div>

                                </div>
                                <div class="form-group margin-bottom-5">
                                    <label for="ContactEmail" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Email")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="ContactEmail" name="ContactEmail" class="col-xs-12 ContactEmail" value="@if (Model != null && Model.ContactEmail != null){@MvcHtmlString.Create(Model.ContactEmail.ToString())} else { @("")}" autocomplete="off" required />
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-5">
                                    <label for="ContactPhone" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Điện thoại")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="ContactPhone" name="ContactPhone" class="col-xs-12 ContactPhone" value="@if (Model != null && Model.ContactPhone != null){@MvcHtmlString.Create(Model.ContactPhone.ToString())} else { @("")}" autocomplete="off" required />
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-5">
                                    @{
                                        var checkActive = "";
                                        if (Model != null && Model.FlagActive.Equals("1"))
                                        {
                                            checkActive = "checked";
                                        }
                                        else
                                        {
                                            checkActive = "";
                                        }
                                    }
                                    <label for="" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">Trạng thái</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right padding-top-5">
                                            <label>
                                                <input name="FlagActive" id="FlagActive" class="ace ace-switch ace-switch-4 " type="checkbox" value="1" @checkActive />
                                                <span class="lbl"></span>
                                                <input name="" type="hidden" value="0" />
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        }
                    </aside>
                    <div class="col-xs-12 no-padding">
                        <div class="clearfix">
                            <div class="row no-margin" style="float: right">
                                @*@if (userState != null && userState.RptSv_Sys_User.FlagSysAdmin.Equals("1"))
                                {
                                    <a href="javascript:void(0);" class="btn font-color mybtn-Button" style="margin-top: 20px; padding-left: 15px !important; padding-right: 15px !important;" onclick="SaveData();"><i class="ace-icon fa fa-floppy-o bigger-110"></i>Cập nhật</a>
                                }*@
                                @RenderItemFormat("BTN_SUA_CQT_LUU", " <a href=\"javascript:void();\" class=\"btn font-color mybtn-Button\" style=\"margin-top: 20px\" onclick=\"SaveData();\">Lưu</a>", "", "")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
    processAjaxForm($('#manageForm'), function (response) {
        processAjaxFormResult(response);

    });
</script>

@*Active Menu*@
<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("Index", "Mst_GovTaxID")');
</script>
@*Set focus*@
<script type="text/javascript">
    var _getForm = document.getElementById("manageForm");
    _getForm.addEventListener('reset', function () {
        document.getElementById("DLCode").focus()
    })
</script>

<script>
    function CheckForm() {
        if (!CheckIsNullOrEmpty('#GovTaxID', 'has-error-fix', '@MvcHtmlString.Create("Mã cơ quan thuế không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#GovTaxIDParent', 'has-error-fix', '@MvcHtmlString.Create("Mã CQT cấp trên không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#ProvinceCode', 'has-error-fix', '@MvcHtmlString.Create("Tỉnh/Thành phố không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#DistrictCode', 'has-error-fix', '@MvcHtmlString.Create("Quận/Huyện không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#GovTaxName', 'has-error-fix', '@MvcHtmlString.Create("Tên cơ quan thuế không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#Level', 'has-error-fix', '@MvcHtmlString.Create("Cấp không được trống!")'))
        {
            return false;
        }
        @*if (!CheckIsNullOrEmpty('#Address', 'has-error-fix', '@MvcHtmlString.Create("Địa chỉ không được trống!")'))
        {
            return false;
        }*@
        return true;
    }

    function SaveData()
    {
        var check = CheckForm();
        debugger;
        if (check)
        {
            var govTaxID = ReturnValueText('#GovTaxID');
            var govTaxName = ReturnValueText('#GovTaxName');
            var govTaxIDParent = ReturnValueText('#GovTaxIDParent');
            var provincecode = ReturnValueText('#ProvinceCode');
            var districtCode = ReturnValueText('#DistrictCode');
            var level = ReturnValueText('#Level');
            var address = ReturnValueText('#Address');
            var contactEmail = ReturnValueText('#ContactEmail');
            var contactPhone = ReturnValueText('#ContactPhone');
            var flagActive = '0';
            var inputFlagActive = $('#FlagActive');
            if (inputFlagActive !== undefined && inputFlagActive !== null) {
                if (inputFlagActive.prop('checked')) {
                    flagActive = '1';
                }
            }

            var tem = new Object();
            tem.GovTaxID = govTaxID;
            tem.GovTaxName = govTaxName;
            tem.GovTaxIDParent = govTaxIDParent;
            tem.ProvinceCode = provincecode;
            tem.DistrictCode = districtCode;
            tem.Level = level;
            tem.Address = address;
            tem.ContactEmail = contactEmail;
            tem.ContactPhone = contactPhone;
            tem.FlagActive = flagActive;

            var token = $('#manageForm input[name=__RequestVerificationToken]').val();
            var modelCur = JSON.stringify(tem);
            var url = '@Url.Action("Edit", "Mst_GovTaxID")';
            $.ajax({
                type: "POST",
                url: url,
                data: {
                    __RequestVerificationToken: token
                    , model: modelCur
                },
                traditional: true,
                //contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.Success) {
                        if (data.Messages !== null && data.Messages !== undefined && data.Messages.length > 0) {
                            alert(data.Messages[0]);
                        }
                        window.location.href = data.RedirectUrl;
                    }
                    else {
                        if (data.Detail != null) {
                            _showErrorMsg123("Lỗi!", data.Detail);
                        }
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    debugger;
                    if (textStatus === 'Unauthorized') {
                        alert('custom message. Error: ' + errorThrown);
                    } else {
                        //alert('custom message. Error2: ' + errorThrown);
                    }
                }
            });


        }
    }
</script>

<script>
    function LoadDistrict(thiz) {
        var provincecode = $(thiz).val();
        if (!IsNullOrEmpty(provincecode))
        {
            var url = '@Url.Action("LoadMst_District", "LoadData")';
            var token = $('#manageForm input[name=__RequestVerificationToken]').val();
            $.ajax({
                url: url,
                data: {
                    __RequestVerificationToken: token
                    , provincecode: provincecode
                },
                type: 'post',
                dataType: 'json',
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        $("#DistrictCode").html(data.Html);
                    } else {
                        if (!IsNullOrEmpty(data.Detail))
                        {
                            _showErrorMsg123('Lỗi!', data.Detail);
                        }
                        else {
                            _showErrorMsg123('Lỗi!', data.Title[0]);
                        }
                    }
                }
            });
        }
        else {
            $("#DistrictCode").html('');
        }
    }
</script>




