@{
    Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    const string title = "Phân quyền hiển thị";
    ViewBag.Title = title;
    var totalRow = 0;
    if (Model != null && Model.Count > 0)
    {
        totalRow = Model.Count;
    }
    var listViewGroupView = ViewBag.ListViewGroupView as List<View_GroupView>;
    var listColumnHienThi = ViewBag.ListColumnHienThi as List<View_ColumnView>;
    var listColumnKhongHienThi = ViewBag.ListColumnKhongHienThi as List<View_ColumnView>;
    string[] functions = { "BTN_PHAN_QUYEN_HIEN_THI_LUU" };
}
<style>
    .selectedd {
        background: #d9edf7 !important;
    }
</style>
<script type="text/javascript">
    var parents = new Array();
    parents.push("@Url.Action("RptInvFInventoryInFGSum", "Reports")");
    var parentsText = new Array();
    parentsText.push("@MvcHtmlString.Create(title)");
    setAdminCurrentTag(parents, parentsText);
</script>

<div class="">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info" style="box-shadow: none;">

                <div class="panel-body" id="panel-body" style="padding:0;">
                    <aside class="col-xs-12">
                        <p class="title">
                            PHÂN QUYỀN HIỂN THỊ
                        </p>
                        @using (Html.BeginForm("Index", "View_ColumnInGroup", FormMethod.Get, new { id = "manageForm", @class = "form-horizontal" }))
                        {
                            <input type="hidden" value="search" name="init" id="init" />
                            <div class="col-xs-12 padding-left-0 padding-right-0">
                                <aside class="col-xs-4">
                                    <div class="form-group">
                                        @{
                                            var role = "";
                                            if (!CUtils.IsNullOrEmpty(ViewBag.GroupViewCode))
                                            {
                                                role = ViewBag.GroupViewCode.ToString(CultureInfo.InvariantCulture).Trim();
                                            }
                                        }
                                        <label for="role" class="col-xs-12 col-sm-5 control-label no-padding-right font-weight-500">Role</label>
                                        <div class="col-xs-12 col-sm-7 ">
                                            <span class="block input-icon input-icon-right">
                                                <select id="role" name="role" class="role col-xs-12" onchange="ShowViewColumnView();">
                                                    <option value="@MvcHtmlString.Create("")">@MvcHtmlString.Create("")</option>
                                                    @if (listViewGroupView != null && listViewGroupView.Count > 0)
                                                    {
                                                        foreach (var item in listViewGroupView)
                                                        {
                                                            <option value="@MvcHtmlString.Create(item.GroupViewCode.ToString())" @(role == item.GroupViewCode.ToString().Trim() ? "selected" : "")>@MvcHtmlString.Create(item.GroupViewName.ToString())</option>
                                                        }
                                                    }
                                                </select>
                                            </span>

                                        </div>

                                    </div>
                                </aside>
                                <aside class="col-xs-4"></aside>
                                <aside class="col-xs-4"></aside>
                            </div>
                        }
                    </aside>
                </div>
            </div>
            <div class="panel panel-info">
                @*<div class="panel-heading">
                        <p class="title">@MvcHtmlString.Create("PHÂN QUYỀN")</p>
                    </div>*@
                <div class="panel-body" id="panel-body" style="padding: 0;">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-xs-12">
                            <div class="col-xs-12 no-padding">
                                <div class="col-xs-5 no-padding">
                                    <div class="col-xs-12 no-padding">
                                        <div class="">
                                            <p class="title">TRƯỜNG THÔNG TIN HIỂN THỊ</p>
                                        </div>
                                        <div class="col-xs-12 no-padding">
                                            <table id="dynamic-table-thead-left" class="table table-bordered" style="margin-bottom: 0;">
                                                <thead>
                                                    <tr>
                                                        <th class="cell-50 text-center">Mã cột</th>
                                                        <th class="cell-100 text-center">Tên cột hiển thị</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 no-padding">
                                            <table id="dynamic-table-tbody-left" class="table table-bordered">
                                                <tbody id="tbodyleft">
                                                    @if (listColumnHienThi != null && listColumnHienThi.Count > 0)
                                                    {
                                                        var idx = 0;
                                                        foreach (var item in listColumnHienThi)
                                                        {
                                                            var columnViewCode = "";
                                                            var columnViewName = "";
                                                            if (!CUtils.IsNullOrEmpty(item.ColumnViewCode))
                                                            {
                                                                columnViewCode = item.ColumnViewCode.ToString().Trim();
                                                            }
                                                            if (!CUtils.IsNullOrEmpty(item.ColumnViewName))
                                                            {
                                                                columnViewName = item.ColumnViewName.ToString().Trim();
                                                            }
                                                            <tr idx="@idx" class="data-item trdata" columnviewcode="@MvcHtmlString.Create(columnViewCode)" onclick="SelectedRowLeft(this)">
                                                                <input type="hidden" name="ListColumnViewCode[@idx].ColumnViewCode" value="@MvcHtmlString.Create(columnViewCode)" />
                                                                <input type="hidden" name="ListColumnViewCode[@idx].ColumnViewName" value="@MvcHtmlString.Create(columnViewName)" />
                                                                <td class="cell-50 text-left">
                                                                    @MvcHtmlString.Create(columnViewCode)
                                                                </td>
                                                                <td class="cell-100 text-left">
                                                                    @MvcHtmlString.Create(columnViewName)
                                                                </td>
                                                            </tr>
                                                            idx++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2" style="margin-top: 5rem;">
                                    <div style="padding-bottom: 15px;">
                                        <a class="btn mybtn-Button" id="AddRight" onclick="AddRight()" href="javascript:void(0);" style="font-weight: bold; font-size: 15px; width: 50px;margin: auto; display: block;"> > </a>
                                    </div>
                                    <div style="padding-bottom: 15px;">
                                        <a class="btn mybtn-Button" id="AddAllRight" onclick="AddAllRight()" href="javascript:void(0);" style="font-weight: bold; font-size: 15px; width: 50px;margin: auto; display: block;"> >> </a>
                                    </div>
                                    <div style="padding-bottom: 15px;">
                                        <a class="btn mybtn-Button" id="AddLeft" onclick="AddLeft()" href="javascript:void(0);" style="font-weight: bold; font-size: 15px; width: 50px;margin: auto; display: block;"> < </a>
                                    </div>
                                    <div style="padding-bottom: 15px;">
                                        <a class="btn mybtn-Button" id="AddAllLeft" onclick="AddAllLeft()" href="javascript:void(0);" style="font-weight: bold; font-size: 15px; width: 50px;margin: auto; display: block;"> << </a>
                                    </div>
                                </div>
                                <div class="col-xs-5 no-padding">
                                    <div class="col-xs-12 no-padding">
                                        <div class="">
                                            <p class="title">TRƯỜNG THÔNG TIN KHÔNG HIỂN THỊ</p>
                                        </div>
                                        <div class="col-xs-12 no-padding">
                                            <table id="dynamic-table-thead-right" class="table table-bordered" style="margin-bottom: 0;">
                                                <thead>
                                                    <tr>
                                                        <th class="cell-50 text-center">Mã cột</th>
                                                        <th class="cell-100 text-center">Tên cột hiển thị</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div class="col-xs-12 no-padding">
                                            <table id="dynamic-table-tbody-right" class="table table-bordered">
                                                <tbody id="tbodyright">
                                                    @if (listColumnKhongHienThi != null && listColumnKhongHienThi.Count > 0)
                                                    {
                                                        var idx = 0;
                                                        foreach (var item in listColumnKhongHienThi)
                                                        {
                                                            var columnViewCode = "";
                                                            var columnViewName = "";
                                                            if (!CUtils.IsNullOrEmpty(item.ColumnViewCode))
                                                            {
                                                                columnViewCode = item.ColumnViewCode.ToString().Trim();
                                                            }
                                                            if (!CUtils.IsNullOrEmpty(item.ColumnViewName))
                                                            {
                                                                columnViewName = item.ColumnViewName.ToString().Trim();
                                                            }
                                                            <tr idx="@idx" class="data-item trdata" columnviewcode="@MvcHtmlString.Create(columnViewCode)" onclick="SelectedRowRight(this)">
                                                                <input type="hidden" name="ListColumnNoViewCode[@idx].ColumnViewCode" value="@MvcHtmlString.Create(columnViewCode)" />
                                                                <input type="hidden" name="ListColumnNoViewCode[@idx].ColumnViewName" value="@MvcHtmlString.Create(columnViewName)" />
                                                                <td class="cell-50 text-left">
                                                                    @MvcHtmlString.Create(columnViewCode)
                                                                </td>
                                                                <td class="cell-100 text-left">
                                                                    @MvcHtmlString.Create(columnViewName)
                                                                </td>
                                                            </tr>
                                                            idx++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="hr hr-18 hr-double dotted"></div>*@

                        <div class="">
                            <div class="col-xs-12" style="padding-top: 15px">
                                <div class="clearfix">
                                    <div class="">
                                        @RenderItemFormat("BTN_PHAN_QUYEN_HIEN_THI_LUU", "<a href=\"javascript:void();\" class=\"btn font-color mybtn-Button\" style=\"\" onclick=\"SaveData();\"> Lưu </a>", "", "")

                                    </div>
                                </div>

                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    }


                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- Template -->
<table style="display: none;" class="table table-bordered table-thead table-cus table-bottom-0">
    <tbody id="rowtemplateRight">
        <tr idx="==idx==" class="data-item trdata" columnviewcode="==columnviewcode==" onclick="SelectedRowRight(this)">

            <input type="hidden" name="ListColumnNoViewCode[==idx==].ColumnViewCode" value="==columnviewcode==" />
            <input type="hidden" name="ListColumnNoViewCode[==idx==].ColumnViewName" value="==columnviewname==" />

            <td class="cell-50 text-left">==columnviewcode==</td>
            <td class="cell-100 text-left">==columnviewname==</td>

        </tr>

    </tbody>

</table>

<table style="display: none;" class="table table-bordered table-thead table-cus table-bottom-0">
    <tbody id="rowtemplateLeft">
        <tr idx="==idx==" class="data-item trdata" columnviewcode="==columnviewcode==" onclick="SelectedRowLeft(this)">

            <input type="hidden" name="ListColumnViewCode[==idx==].ColumnViewCode" value="==columnviewcode==" />
            <input type="hidden" name="ListColumnViewCode[==idx==].ColumnViewName" value="==columnviewname==" />

            <td class="cell-50 text-left">==columnviewcode==</td>
            <td class="cell-100 text-left">==columnviewname==</td>

        </tr>

    </tbody>

</table>

@*@if (CheckAccess(functions))
    {
    }*@

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/View_ColumnInGroup.js")"></script>
    <script type="text/javascript">
        @*Active Menu*@
        setAdminCurrentUrl('@Url.Action("Index", "View_ColumnInGroup")');
        //processAjaxForm($('#manageForm'), function (response) {
        //    processAjaxFormResult(response);
        //});
        @* Scroll *@
        $(document).ready(function () {
            $('.scrollable-horizontal').each(function () {
                var $this = $(this);
                $(this).ace_scroll(
                    {
                        horizontal: true,
                        //styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
                        size: $this.attr('data-size') || 500,
                        mouseWheelLock: true
                    }
                ).css({ 'padding-top': 0 });
            });
        });
        $('.scrollable').each(function () {
            var $this = $(this);
            $(this).ace_scroll({
                size: 400,
                //size: $this.attr('data-size') || 1000,
                mouseWheelLock: true,
                //styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
            });
        });

        var objView_ColumnInGroup = new View_ColumnInGroup();


        function CheckForm()
        {
            objView_ColumnInGroup.checkForm();
        }
        function ShowViewColumnView()
        {
            var check = objView_ColumnInGroup.checkForm();
            if (check) {

                    $('#manageForm').attr('action', '@(Url.Action("Index", "View_ColumnInGroup"))').submit();
            }
        }
        function showButton() {
            objView_ColumnInGroup.showButton();
        }

        $(document).ready(function () {
            if ($('#AddRight').length) {
                if (!$('#AddRight').hasClass('disabled')) {
                    $('#AddRight').addClass('disabled')
                }
            }

            if ($('#AddLeft').length) {
                if (!$('#AddLeft').hasClass('disabled')) {
                    $('#AddLeft').addClass('disabled')
                }
            }
            showButton();
        });

        function SelectedRowLeft(thiz) {
            objView_ColumnInGroup.selectedRowLeft(thiz);
        }

        function SelectedRowRight(thiz) {
            objView_ColumnInGroup.selectedRowRight(thiz);
        }

        function AddAllLeft() {
            objView_ColumnInGroup.addAllLeft();
            showButton();
        }

        function AddAllRight() {
            objView_ColumnInGroup.addAllRight();
            showButton();
        }

        function AddLeft() {
            objView_ColumnInGroup.addLeft();
            showButton();
        }

        function AddRight() {
            objView_ColumnInGroup.addRight();
            showButton();
        }

        function SaveData() {
            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("View_ColumnInGroupSave", "View_ColumnInGroup")';
            var objView_ColumnInGroup = new View_ColumnInGroup();
            objView_ColumnInGroup.ActionType = 'create';
            objView_ColumnInGroup.ajaxSettings = ajaxSettings;
            objView_ColumnInGroup.saveData();
        }
    </script>
}
