@model idn.Skycic.Inventory.WebAdmin.Models.LoginModel

@{
    var title = "ĐĂNG NHẬP HỆ THỐNG";
    ViewBag.Title = "ĐĂNG NHẬP HỆ THỐNG";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    var usercode = ViewBag.UserCode as string;
    if (CUtils.IsNullOrEmpty(usercode))
    {
        usercode = "Tên truy cập";
    }
    var password = ViewBag.Password as string;
    if (CUtils.IsNullOrEmpty(password))
    {
        password = "Mật khẩu";
    }
}

<style>
    /* The checkbox */
    .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .checkbox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 5px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: 1px solid #ddd;
    }

    /* On mouse-over, add a grey background color */
    .checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .checkbox input:checked ~ .checkmark {
        background-color: #057D5A;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkbox .checkmark:after {
        left: 8px;
        top: 3px;
        width: 7px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>

<div class="" style="position: relative">
    <img src="@Url.Content("~/Images/background.png")" class="img-responsive" />
    @*<div class="col-xs-7" style="position: absolute; top: 2%;text-align: center; color: #fff; font-weight: bold">
        <h1 style="font-family: OpenSans-Bold; font-size: 28px">PHẦN MỀM HÓA ĐƠN ĐIỆN TỬ Q-INVOICE</h1>
        <h3>Đơn giản - Nhanh chóng - Tin cậy</h3>
    </div>*@
    <div class="col-xs-4" style="position: absolute; top: 9%; right: 5%">
        <div id="login-box" class="login-box visible widget-box no-border">
            <div class="widget-body">
                <div class="widget-main no-padding">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "manageForm", @class = "form-horizontal", redirectUrl = ViewBag.RedirectUrl }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@ViewBag.RedirectUrl" />
                        <input type="hidden" name="IPAddress" id="IPAddress" value="@ViewBag.IPAddress" />
                        <input type="hidden" name="MyHost" id="MyHost" value="@ViewBag.MyHost" />
                        <div class="modal-body no-padding" style="max-height: 800px">
                            <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
                                <div class="header-left-bottom agileinfo">
                                    <center><h3 style="margin-bottom: 50px; margin-top: 0px; font-weight: bold; color: #005B9B">ĐĂNG NHẬP HỆ THỐNG</h3></center>

                                    <input type="hidden" name="RedirectUrl" id="RedirectUrl" value="@ViewBag.RedirectUrl" />

                                    <input type="text" id="UserCode" value="@MvcHtmlString.Create(usercode)" class="ip-enter" name="UserCode" onfocus="this.value = '';" onblur="if (this.value === '') { this.value = 'Tên truy cập'; }" />
                                    <input type="password" id="Password" value="@MvcHtmlString.Create(password)" class="ip-enter" name="Password" onfocus="this.value = '';" onblur="if (this.value === '') { this.value = 'Mật khẩu'; }" />
                                    <div class="remember" style="margin-bottom: 20px">
                                        <span class="checkbox1">
                                            <label class="checkbox">
                                                Nhớ mật khẩu
                                                <input id="RememberMe" name="RememberMe" type="checkbox" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </span>
                                        <div class="forgot">
                                            <h6><a href="@Url.Action("Forget", "Account")"><u>Quên mật khẩu?</u></a></h6>
                                        </div>
                                        <div class="clear"> </div>
                                    </div>

                                    <div class="col-xs-12" style="margin-bottom: 50px; padding: 0;">
                                        <a href="javascript:void(0)" onclick="Login()" class="btn btn-login" style="">Login</a>
                                    </div>
                                    @*<div class="col-xs-12" style="text-align: center; font-size: 15px;">
                                        <p style="color: #858585">Bạn chưa có tài khoản?</p>
                                        <a href="@Url.Action("Create", "Register")" class="" style="">Đăng ký</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    }

                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div><!-- /.login-box -->
    </div>

</div><!-- /.position-relative -->



<script type="text/javascript">

    processAjaxForm($('#manageForm'), function (response) {
        processAjaxFormResult(response);
    });
</script>

<script>

    $(document).ready(function() {
        $('.ip-enter').bind("enterKey",function(e){
            Login();
        });
        $('.ip-enter').keyup(function(e){
            if(e.keyCode === 13)
            {
                $(this).trigger("enterKey");
            }
        });
    });

    function CheckFormLogin() {
        if (!CheckIsNullOrEmpty('#UserCode', 'has-error-fix', '@MvcHtmlString.Create("Tên truy cập không được trống!")'))
        {
            return false;
        }
        if (!CheckIsNullOrEmpty('#Password', 'has-error-fix', '@MvcHtmlString.Create("Mật khẩu không được trống!")'))
        {
            return false;
        }
        return true;
    }

    function Login() {
        var checkform = CheckFormLogin();
        var encode = MyBase64.encode($('#Password').val().toString().trim());
        $('#Password').val(encode);
        if (checkform) {
            $('#manageForm').attr('action', '@(Url.Action("Login", "Account"))').submit();
        }
    }

</script>



