@model Mst_SpecType1
@{
    Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    var title = "SỬA LOẠI SẢN PHẨM";
    var titleMng = "Danh mục loại sản phẩm";
    ViewBag.Title = title;
}

<div class="row no-margin">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info">
                <div class="title">
                    <p style="vertical-align: bottom">@MvcHtmlString.Create(title)</p>
                </div>
                <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                    <aside class="row no-margin box-shadow-tk">
                        @using (Html.BeginForm("Update", "OS_PrdCenter_Mst_SpecType1", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="OrgID" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã tổ chức <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="OrgID" name="OrgID" class="col-xs-12 OrgID disabled-fix" onkeyup="locdau(this);" value="@Model.OrgID" autocomplete="off" required />
                                        </span>

                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="SpecType1" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã loại sản phẩm <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="SpecType1" name="SpecType1" class="col-xs-12 disabled-fix SpecType1" onkeyup="locdau(this);" value="@if (Model != null && Model.SpecType1 != null){@MvcHtmlString.Create(Model.SpecType1.ToString())} else { @("")}" autocomplete="off" required />
                                        </span>

                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="SpecType1Name" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tên loại sản phẩm <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="SpecType1Name" name="SpecType1Name" class="col-xs-12 SpecType1Name" value="@if (Model != null && Model.SpecType1Name != null){@MvcHtmlString.Create(Model.SpecType1Name.ToString())} else { @("")}" autocomplete="off" required />
                                        </span>

                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    @{
                                        var checkActive = "";
                                        if (Model != null && Model.FlagActive.Equals("1"))
                                        {
                                            checkActive = "checked";
                                        }
                                        else
                                        {
                                            checkActive = "";
                                        }
                                    }
                                    <label for="" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">Trạng thái</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right padding-top-5">
                                            <label>
                                                <input name="FlagActive" id="FlagActive" class="ace ace-switch ace-switch-4 FlagActive" type="checkbox" value="1" @checkActive />
                                                <span class="lbl"></span>
                                                <input name="FlagActive" type="hidden" value="0" />
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }
                    </aside>
                    <div class="col-xs-12 no-padding">
                        <div class="clearfix">
                            <div class="row no-margin" style="float: right">
                                @RenderItemFormat("BTN_SUA_OS_PRDCENTER_MST_SPECTYPE1_CAP_NHAT", "<a href=\"javascript:void();\" class=\"btn font-color mybtn-Button\" style=\"margin-top: 20px; \" onclick=\"SaveData();\">Lưu</a>", "", "")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script type="text/javascript">
    processAjaxForm($('#manageForm'), function (response) {
        processAjaxFormResult(response);

    });
</script>

@*Set focus*@
@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/OS_PrdCenter_Mst_SpecType1.js")"></script>
    <script type="text/javascript">
        @*Active Menu*@
        setAdminCurrentUrl('@Url.Action("Index", "OS_PrdCenter_Mst_SpecType1")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });
        @* Set focus *@
        $(document).ready(function () {
            $('#SpecType1').focus();
        });
        function SaveData() {
            debugger;
            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Edit", "OS_PrdCenter_Mst_SpecType1")';
            var objOS_PrdCenter_Mst_SpecType1 = new OS_PrdCenter_Mst_SpecType1();
            objOS_PrdCenter_Mst_SpecType1.ActionType = 'edit';
            objOS_PrdCenter_Mst_SpecType1.ajaxSettings = ajaxSettings;
            objOS_PrdCenter_Mst_SpecType1.saveData();
        }
    </script>
}
@*<script>
        function CheckForm() {
            if (!CheckIsNullOrEmpty('#SpecType1', 'has-error-fix', '@MvcHtmlString.Create("Mã loại sản phẩm không được trống!")'))
            {
                return false;
            }
            if (!CheckIsNullOrEmpty('#SpecType1Name', 'has-error-fix', '@MvcHtmlString.Create("Tên loại sản phẩm không được trống!")'))
            {
                return false;
            }
            return true;
        }

        function SaveData()
        {
            var check = CheckForm();

            if (check)
            {
                var specType1 = ReturnValueText('#SpecType1');
                var specType1Name = ReturnValueText('#SpecType1Name');
                var org = ReturnValueText('#OrgID');
                var tem = new Object();
                tem.SpecType1 = specType1;
                tem.SpecType1Name = specType1Name;
                tem.OrgID = org;
                var flagActive = '0';
                var inputFlagActive = $('#FlagActive');
                if (inputFlagActive !== undefined && inputFlagActive !== null) {
                    if (inputFlagActive.prop('checked')) {
                        flagActive = '1';
                    }
                }
                tem.FlagActive = flagActive;
                var token = $('#manageForm input[name=__RequestVerificationToken]').val();
                var modelCur = JSON.stringify(tem);
                var url = '@Url.Action("Edit", "OS_PrdCenter_Mst_SpecType1")';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        __RequestVerificationToken: token
                        , model: modelCur
                    },
                    traditional: true,
                    //contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.Success) {
                            if (data.Messages != null && data.Messages !== undefined && data.Messages.length > 0) {
                                alert(data.Messages[0]);
                            }
                            window.location.href = data.RedirectUrl;
                        }
                        else {
                            if (data.Detail != null) {
                                _showErrorMsg123("Lỗi!", data.Detail);
                            }
                        }
                    }, error: function (xmlHttpRequest, textStatus, errorThrown) {
                        debugger;
                        if (textStatus === 'Unauthorized') {
                            alert('custom message. Error: ' + errorThrown);
                        } else {
                            //alert('custom message. Error2: ' + errorThrown);
                        }
                    }
                });


            }
        }
    </script>*@

@*Active Menu*@
<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("Index", "OS_PrdCenter_Mst_SpecType1")');
</script>










