@model Mst_SpecType2
@{
    Layout = "~/Views/Shared/_LayoutQuantri.cshtml";
    var title = "TẠO MỚI NHÓM SẢN PHẨM";
    var titleMng = "Danh mục nhóm sản phẩm";
    ViewBag.Title = title;
}

<div class="row no-margin">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info">
                <div class="title">
                    <p style="vertical-align: bottom">@MvcHtmlString.Create(title)</p>
                </div>
                <div class="panel-body" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                    <aside class="row no-margin box-shadow-tk">
                        @using (Html.BeginForm("Create", "OS_PrdCenter_Mst_SpecType2", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="OrgID" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã tổ chức <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="OrgID" name="OrgID" class="col-xs-12 OrgID disabled-fix" onkeyup="locdau(this);" value="@ViewBag.OrgID" autocomplete="off" required />
                                        </span>

                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">

                                <div class="form-group margin-bottom-5">
                                    <label for="SpecType2" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Mã nhóm sản phẩm <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="SpecType2" name="SpecType2" class="col-xs-12 SpecType2" onkeyup="locdau(this);" value="" autocomplete="off" required />
                                        </span>

                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 no-padding">
                                <div class="form-group margin-bottom-5">
                                    <label for="SpecType2Name" class="col-xs-12 col-sm-6 control-label no-padding-right font-weight-500 ">@MvcHtmlString.Create("Tên nhóm sản phẩm <span style=\"color: red \">*</span>")</label>
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="SpecType2Name" name="SpecType2Name" class="col-xs-12 SpecType2Name" value="" autocomplete="off" required />
                                        </span>

                                    </div>

                                </div>
                            </div>
                        }
                    </aside>
                    <div class="col-xs-12 no-padding">
                        <div class="clearfix">
                            <div class="row no-margin" style="float: right">
                                @RenderItemFormat("BTN_TAO_OS_PRDCENTER_MST_SPECTYPE2_LUU", "<a href=\"javascript:void();\" class=\"btn font-color mybtn-Button\" style=\"margin-top: 20px; \" onclick=\"SaveData();\">Lưu</a>", "", "")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/OS_PrdCenter_Mst_SpecType2.js")"></script>
    <script type="text/javascript">
        @*Active Menu*@
        setAdminCurrentUrl('@Url.Action("Index", "OS_PrdCenter_Mst_SpecType2")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });
        @* Set focus *@
        $(document).ready(function () {
            $('#SpecType2').focus();
        });
        function SaveData() {
            debugger;
            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Create", "OS_PrdCenter_Mst_SpecType2")';
            var objOS_PrdCenter_Mst_SpecType2 = new OS_PrdCenter_Mst_SpecType2();
            objOS_PrdCenter_Mst_SpecType2.ActionType = 'create';
            objOS_PrdCenter_Mst_SpecType2.ajaxSettings = ajaxSettings;
            objOS_PrdCenter_Mst_SpecType2.saveData();
        }
    </script>
}