@model InvF_InventoryOutFG
@{
    Layout = "~/Views/Shared/CoreLayoutKho.cshtml";
    var title = "TẠO MỚI PHIẾU XUẤT";
    ViewBag.Title = title;
    var today = ViewBag.Today as string;
    var listDtl = new List<InvF_InventoryOutFGDtlUI>();
    var mst = ViewBag.MST as string;
    var lstInven = ViewBag.LstInven as List<Mst_Inventory>;
}
<script type="text/javascript">
    var parents = new Array();
    parents.push("@Url.Action("Index", "InvF_InventoryOutFG")");
    parents.push("");
    var parentsText = new Array();
    parentsText.push("@MvcHtmlString.Create("Quản lý kho thành phẩm")");
    parentsText.push("@MvcHtmlString.Create(title)");
    setAdminCurrentTag(parents, parentsText);
</script>

<div class="row no-margin">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="panel-group" id="steps">
            <div class="panel panel-info">
                @*<div class="title">
                        <p style="vertical-align: bottom;">@title</p>
                    </div>*@
                <div class="panel-body no-padding" id="panel-body" style="">

                    @using (Html.BeginForm("Create", "InvF_InventoryOutFG", FormMethod.Post, new { id = "manageForm", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="col-xs-12 layout-search layout-bot-top-16" style="padding-top: 10px;">
                            <aside class="col-xs-4">
                                <div class="form-group margin-bottom-9">
                                    <label for="IF_InvOutFGNo" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500">Số phiếu xuất <span style="color: red;">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="IF_InvOutFGNo" name="IF_InvOutFGNo" class="col-xs-11 IF_InvOutFGNo" value="@ViewBag.IF_InvOutFGNo" autocomplete="off" readonly required />
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-9">
                                    <label for="InvCode" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500">Mã kho<span style="color: red">*</span></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <select name="InvCode" id="InvCode" class="col-xs-11 InvCode" onchange="InvSelected(this)">
                                            <option value="" desc=""></option>
                                            @if (lstInven != null && lstInven.Count > 0)
                                            {
                                                foreach (var item in lstInven)
                                                {
                                                    <option value="@item.InvCode" invintype="@item.InvType">@item.InvCode</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-9">
                                    <label for="CreateDTimeUTC" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500">Ngày tạo</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="CreateDTimeUTC" name="CreateDTimeUTC" class="col-xs-11 CreateDTimeUTC" value="@ViewBag.Today" autocomplete="off" readonly />
                                        </span>
                                    </div>
                                </div>
                            </aside>
                            <aside class="col-xs-4">
                                <div class="form-group margin-bottom-9">
                                    <label for="Remark" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500">Diễn giải</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <textarea id="Remark" name="Remark" class="col-xs-12 Remark" rows="5" maxlength="400"></textarea>
                                    </div>
                                </div>
                            </aside>
                            <aside class="col-xs-4">
                                <div class="form-group margin-bottom-9" style="display: none;">
                                    <label for="FormOutType" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500">Loại phiếu xuất</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="FormOutType" name="FormOutType" class="col-xs-11 FormOutType" value="KHONGMAVACH" autocomplete="off" readonly />
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-9" style="display: none;">
                                    <label for="InvFOutType" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500">Loại phiếu xuất</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="InvFOutType" name="InvFOutType" class="col-xs-11 InvFOutType" value="OUTTHUONGMAI" autocomplete="off" readonly />
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-9" style="display: none;">
                                    <label for="CreateDTimeUTC" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500">Ngày tạo</label>
                                    <div class="col-xs-12 col-sm-8">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" id="CreateDTimeUTC" name="CreateDTimeUTC" class="col-xs-11 CreateDTimeUTC" value="@ViewBag.Today" autocomplete="off" readonly />
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group margin-bottom-9" style="display:none">
                                    <label for="InvOutType" class="col-xs-12 col-sm-4 control-label no-padding-right font-weight-500 ">Loại kho<span style="color: red">*</span></label>
                                    <div class="col-xs-12 col-sm-8" style="padding-right: 0px;">
                                        <span class="block input-icon input-icon-right">
                                            <input type="hidden" id="InvCode" name="InvCode" value="" />
                                            <input type="hidden" id="InvOutType" name="InvOutType" class="col-xs-11 InvOutType" value="FG" readonly autocomplete="off" />
                                        </span>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-xs-12 layout-search layout-bot-top-16">
                            <div class="col-xs-6 no-padding">
                                @RenderItemFormat("BTN_QL_PX_LUU", "<a href=\"javascript:void();\" class=\"btn btn-nc-button\" style=\"padding-left: 15px!important; padding-right: 15px!important; \" onclick=\"SaveData();\"><i class=\"ace-icon fa fa-floppy-o bigger-110\"></i>Lưu</a>", "", "")
                            </div>
                        </div>
                        <div class="col-xs-12 layout-bot-top-16">
                            @RenderItemFormat("BTN_QL_PX_IMPORT_EXCEL", "<a class=\"btn btn-nc-button\" onclick=\"ShowPopupImportExcel()\" href=\"javascript:void(0);\" style=\"margin: 0; \"><i class=\"fa fa-upload\"></i> Nhập Excel</a>", "", "")
                            @RenderItemFormat("BTN_QL_PX_XUAT_EXCEL_TEM", "<a class=\"btn btn-nc-button\" onclick=\"ExportTemplate()\" href=\"javascript:void(0);\" style=\"margin: 0 0 0 10px; \"><i class=\"fa fa-download\"></i> Xuất Excel template</a>", "", "")
                        </div>
                    }
                </div>

                <div class="panel-body no-padding" id="panel-body" style="padding-left: 0px; padding-right: 0px;">
                    <div class="col-xs-12 layout-table no-padding">
                        <div class="scrollable-horizontal padding-left-0 padding-right-0 div-scrollable" data-size="570" style="padding-top: 0!important;">
                            <div style="width: 100%; float: left;">
                                <table id="dynamic-table-thead" class="table table-bordered table-thead table-cus table-bottom-0 no-margin">
                                    <thead>
                                        <tr>
                                            <th class="text-center cell-30">
                                                <label class="pos-rel">
                                                    <input type="checkbox" class="cl-check" onclick="CheckAll(this);" />
                                                    <span class="checkmark"></span>
                                                </label>
                                            </th>
                                            <th class="cell-150">
                                                Mã sản phẩm
                                            </th>
                                            <th class="cell-200">
                                                Tên sản phẩm
                                            </th>
                                            <th class="cell-200">
                                                Số lượng
                                            </th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="scrollable_1" class="scrollable" style="width: 100%; float: left">
                                <table id="dynamic-table-thead-tbody" class="table table-borderedtable-cus table-bottom-0 dynamic-table-tbody table-tbody">
                                    <tbody id="table-tbodyID">
                                        @Html.Partial("ImportExcel", listDtl)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!-- Template -->
@*Import Excel*@
<div class="modal fade" id="ImportExcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

@section Scripts{
    <script src="@Url.Content("~/Scripts/mine/InvF_InventoryOutFG.js")"></script>
    <script type="text/javascript">
        setAdminCurrentUrl('@Url.Action("Index", "InvF_InventoryOutFG")');
        processAjaxForm($('#manageForm'), function (response) {
            processAjaxFormResult(response);
        });

        @* Set focus *@
        var _getForm = document.getElementById("manageForm");
        _getForm.addEventListener('reset', function () {
            document.getElementById("IF_InvOutFGNo").focus()
        });
        //function InvSelected(thiz) {
        //    var invintype = '';

        //    var invcode = $('#InvCode').val();
        //    if (!IsNullOrEmpty(invcode)) {
        //        var op = $("#InvCode").find(":selected");

        //        if (op != undefined) {
        //            invintype = op.attr('invintype');

        //        }
        //        $('#InvOutType').val(invintype);
        //    }
        //}
        function SaveData() {
            var ajaxSettings = {};
            ajaxSettings.Type = 'post';
            ajaxSettings.DataType = 'json';
            ajaxSettings.Url = '@Url.Action("Create", "InvF_InventoryOutFG")';

            var objInvF_InventoryOutFG = new InvF_InventoryOutFG();

            objInvF_InventoryOutFG.ActionType = 'create';
            objInvF_InventoryOutFG.ajaxSettings = ajaxSettings;
            objInvF_InventoryOutFG.saveData();
        }
        var objCommonExcel = new CommonExcel();
        var objVariablesInit = {
            Id_FormMain: '',
            Id_FormImportExcel: 'manageFormImportExcel',
            Id_Modal: 'ImportExcelModal',
            Id_FileInput: 'file',
        };

        var ajaxSettings_Excel = {};
        ajaxSettings_Excel.Type = 'post';
        ajaxSettings_Excel.DataType = 'json';

        function ShowPopupImportExcel() {
            ajaxSettings_Excel.Url = '@Url.Action("ShowPopupImportExcel", "Admin")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.variablesInit(objVariablesInit);
            objCommonExcel.showPopupImportExcel();
        }

        function ExportTemplate() {
            ajaxSettings_Excel.Url = '@Url.Action("ExportTemplate", "InvF_InventoryOutFG")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.exportExcel();
        }
        function ImportFileExcel() {
            ajaxSettings_Excel.Url = '@Url.Action("Import", "InvF_InventoryOutFG")';

            objCommonExcel.ajaxSettingsInit();
            objCommonExcel.ajaxSettings = ajaxSettings_Excel;
            objCommonExcel.variablesInit(objVariablesInit);
            var ListSearchInput = [];
            //debugger;
            var idElement = "#table-tbodyID";
            objCommonExcel.importFileExcelAddHTML(ListSearchInput,idElement);
        }
    </script>
}
